<footer class="footer footer-default" >
  <div class="container">
    <nav class="float-left">
      <ul>
        <li class="py-1">
          <span class="small">Powered by</small> <a class="d-inline p-0" href="https://mixcore.org/"> Mixcore</a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="https://mixcore.studio/" target="blank">Mixcore Studio</a> & <a href="https://www.creative-tim.com/" target="blank" rel="noreferrer noopener">Creative Tim</a> for a better web.
    </div>
  </div>
</footer>
