<!-- Main content -->
<section class="" ng-init="getSingle()">
    <form ng-if="activedData" ng-class="{'submitted': submitted}" ng-submit="save(activedData)">        
        <div class="row">
            <section class="col-lg-9">
                <h6 class="text-warning text-center mt-10" ng-if="!activedData.permissions || !activedData.permissions.length">
                    No Permission Found!
                </h6>
                <div ng-repeat="page in activedData.permissions">
                    <role-page-nav page="page"></role-page-nav>
                </div>
            </section>
            <div class="col-lg-3">
                <actions preview-url="activedData.fullPath" back-url="'/portal/role/list'"></actions>
            </div>
        </div>
    </form>
</section>
<!-- /.content -->