<!-- Main content -->
<section class="" ng-init="getSingle()">
    <form ng-class="{'submitted': submitted}" ng-submit="save(activedData)">
        <div class="row">
            <section class="col-sm-8 pr-3">
                <div class="row">
                    <div class="col-lg-12">
                        <post-main post="activedData" generate-seo="generateSEO()"></post-main>
                        <!-- 
                        <attribute-set-form ng-if="activedData.attributes" attr-set-id="activedData.attributes.id"
                            attr-set-name="activedData.attributes.name" default-id="'default'"
                            attrData="activedData.attributeData" attr-data-id="dataId" save-data="save(data)">
                        </attribute-set-form> -->
                    </div>
                </div>
                <tabs-v select-callback="selectPane(pane)" class="mb-4">
                    <pane-v header="Attributes">
                        <div ng-repeat="value in activedData.attributeData.data.values | orderBy:'priority' track by $index">
                            <attribute-value-editor attribute-value="value" is-show-title="'true'" parent-type="'1'"
                                parent-id="activedData.attributeData.id"></attribute-value-editor>
                        </div>
                    </pane-v>
                    <pane-v header="General">
                        <post-general is-admin="isAdmin" post="activedData"></post-general>
                    </pane-v>
                    <pane-v header="SEO" class="">
                        <post-seo post="activedData"></post-seo>
                    </pane-v>
                    <pane-v header="Parents" class="">
                        <post-parents post="activedData"></post-parents>
                    </pane-v>
                    <!-- <pane-v header="Module" class="">
                        <div class="card-body">
                            <post-modules post="activedData"></post-modules>
                        </div>
                    </pane-v> -->
                    <pane-v header="Media">
                        <post-medias post="activedData" medias="activedData.mediaNavs"></post-medias>
                    </pane-v>
                    <pane-v header="Related">
                        <related-navs request="request" source-id="activedData.id" culture="activedData.specificulture"
                            prefix="'post'" navs="activedData.postNavs" data="data"
                            load-data="getListRelated(pageIndex)"></related-navs>
                    </pane-v>
                </tabs-v>
                <div class="tab-pane fade active show" id="pills-general" role="tabpanel"
                    aria-labelledby="pills-general-tab">
                    <div class="card mb-4">
                        <h6 class="card-header">
                            Add-in Attributes
                            <a class="btn-link text-primary btn-sm float-right py-0" data-toggle="collapse"
                                data-target="#AttributeSetsBody" role="button" aria-expanded="false"
                                aria-controls="AttributeSetsBody collapse">
                                <span class="far fa-minus-square text-primary"></span> Show/Hide</a>
                        </h6>
                        <div id="AttributeSetsBody" class="card-body collapse">
                            <div class="alert alert-warning" role="alert" ng-if="!activedData.id">
                                <i class="fas fa-exclamation-triangle mr-3 text-warning"></i> Please save post to
                                continues
                                with attributtes section!
                            </div>
                            <attribute-set-navs ng-if="activedData.id" parent-id="activedData.id" parent-type="2">
                            </attribute-set-navs>
                        </div>
                    </div>
                </div>
                <template-editor ng-if="isAdmin" is-readonly="'true'" folder-type="'Posts'" line-count="'20'"
                    template="activedData.view" templates="activedData.templates">
                </template-editor>

                <!-- <div class="card mb-4">
                    <div class="card-header">
                        <h6>General
                            <button class="btn btn-link text-primary btn-sm float-right" type="button"
                                data-toggle="collapse" data-target="#general-setting" aria-controls="general-setting"
                                aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="far fa-edit text-primary"></span> Edit general settings</button>
                        </h6>
                        <p class="text-muted">...</p>
                    </div>
                    <div id="general-setting" class="card-body collapse">
                        <post-general post="activedData"></post-general>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <h6>Search engine listing preview
                            <button class="btn btn-link text-primary btn-sm float-right" type="button"
                                data-toggle="collapse" data-target="#seo-setting" aria-controls="seo-setting"
                                aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="far fa-edit text-primary"></span> Edit website SEO</button>
                        </h6>
                        <p class="text-muted">Add a title and description to see how this product might appear in a
                            search engine listing.</p>
                    </div>
                    <div id="seo-setting" class="card-body collapse">
                        <post-seo post="activedData"></post-seo>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <h6>Parent
                            <button class="btn btn-link text-primary btn-sm float-right" type="button"
                                data-toggle="collapse" data-target="#parent-setting" aria-controls="parent-setting"
                                aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="far fa-edit text-primary"></span> Edit p&p settings</button>
                        </h6>
                        <p class="text-muted">...</p>
                    </div>
                    <div id="parent-setting" class="card-body collapse">
                        <post-parents post="activedData"></post-parents>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <h6>Modules
                            <button class="btn btn-link text-primary btn-sm float-right" type="button"
                                data-toggle="collapse" data-target="#module-setting" aria-controls="module-setting"
                                aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="far fa-edit text-primary"></span> Edit modules setting</button>
                        </h6>
                        <p class="text-muted">...</p>
                    </div>
                    <div id="module-setting" class="card-body collapse">
                        <post-modules post="activedData"></post-modules>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <h6>Medias
                            <button class="btn btn-link text-primary btn-sm float-right" type="button"
                                data-toggle="collapse" data-target="#medias-setting" aria-controls="medias-setting"
                                aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="far fa-edit text-primary"></span> Edit modules setting</button>
                        </h6>
                        <p class="text-muted">...</p>
                    </div>
                    <div id="medias-setting" class="card-body collapse">
                        
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <h6>Related pots
                            <button class="btn btn-link text-primary btn-sm float-right" type="button"
                                data-toggle="collapse" data-target="#related-setting" aria-controls="related-setting"
                                aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="fas fa-plus text-primary"></span> Add related posts</button>
                        </h6>
                        <p class="text-muted">...</p>
                    </div>
                    <div id="related-setting" class="card-body collapse">
                        <related-navs request="request" source-id="activedData.id" culture="activedData.specificulture"
                            prefix="'post'" navs="activedData.postNavs" data="data"
                            load-data="getList(pageIndex)"></related-navs>
                    </div>
                </div>

                <template-editor folder-type="'Posts'" template="activedData.view" templates="activedData.templates">
                </template-editor> -->
                <!-- 
                <tabs-v>
                    <pane-v header="General">
                        <post-general post="activedData"></post-general>
                    </pane-v>
                    <pane-v header="Seo">
                        <post-seo post="activedData"></post-seo>
                    </pane-v>
                    <pane-v header="Parents">
                        <post-parents post="activedData"></post-parents>
                    </pane-v>
                    <pane-v header="Modules">
                        <post-modules post="activedData"></post-modules>
                    </pane-v>
                    <pane-v header="Layout">
                        <div class="tab-pane">
                            <template-editor folder-type="'Posts'" template="activedData.view"
                                templates="activedData.templates"></template-editor>
                        </div>
                    </pane-v>
                    <pane-v header="Medias">
                        <post-medias post="activedData" medias="activedData.mediaNavs"></post-medias>
                        
                    </pane-v>
                    <pane-v header="Related">
                        <related-navs request="request" source-id="activedData.id" culture="activedData.specificulture"
                            prefix="'post'" navs="activedData.postNavs" data="data"
                            load-data="getList(pageIndex)"></related-navs>
                    </pane-v>
                </tabs-v> -->
            </section>
            <section class="col-sm-4 pl-3" style="padding-left:0">

                <actions preview-url="activedData.detailsUrl" back-url="referrerUrl"></actions>

                <div class="card mb-4">
                    <h6 class="card-header position-sticky position-sticky-under-actionbar">
                        Info
                    </h6>
                    <div class="card-body">
                        <statuses status="activedData.status"></statuses>
                        <div class="form-group" ng-if="activedData.status == 4">
                            <label class="control-label">Published Date Time</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="mi mi-Calendar"></i></span>
                                </div>
                                <input value="{{activedData.publishedDateTime}}"
                                    ng-model="activedData.publishedDateTime" type="datetime-local" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Created Date Time</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="mi mi-Calendar"></i></span>
                                </div>
                                <input ng-model="activedData.createdDateTime" type="text" class="form-control"
                                    readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <label class="control-label">Author</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="mi mi-Contact"></i></span>
                                </div>
                                <input ng-model="activedData.createdBy" class="form-control" readonly="readonly">
                            </div>
                        </div>

                    </div>
                </div>
                <cultures is-clone="activedData.isClone" data="activedData.cultures"></cultures>

                <collape-container title="'URL slugs'" actived-data="activedData" add-callback="addAlias()">
                    <pane-collape>
                        <url-alias ng-repeat="alias in activedData.urlAliases" index="$index" url-alias="alias"
                            remove-callback="removeAliasCallback(index)"></url-alias>
                    </pane-collape>
                </collape-container>

                <tabs-v select-callback="selectPane(pane)" class="mb-4">
                    <pane-v header="Feature Img">
                        <custom-image header="'Feature Upload'" type="'Posts'" folder="activedData.seoName"
                            header="activedData.title" description="activedData.excerpt" src-url="activedData.imageUrl"
                            src="activedData.image" auto="'true'"></custom-image>
                    </pane-v>
                    <pane-v header="Thumbnail Img">
                        <custom-image header="'Thumbnail Upload'" type="'Posts'" folder="activedData.seoName"
                            title="activedData.title" description="activedData.excerpt"
                            src-url="activedData.thumbnailUrl" src="activedData.thumbnail" auto="'true'"></custom-image>
                    </pane-v>
                </tabs-v>


            </section>
        </div>
    </form>
</section>
<!-- /.content -->