.mix-sel-icons .dropdown-menu{
    left:-90px !important;
}
.mix-sel-icons .dropdown-menu.show{
    max-height: 250px;
    overflow: scroll;
}
.mix-sel-icons .list-icon{
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}