<div class="p-5">
<form class="mb-3 frm-login" action="" ng-class="{'submitted': submitted}" ng-submit="submit()">
    <div class="p-6">
        <div ng-if="!isSucceed">
            
            <h1 class="h4 text-gray-900 mb-3">Your Email Address</h1>
<hr>
            <div class="form-group">
                <label class="form-label">Username</label>

                <input class="form-control" placeholder="Email" ng-model="activedData.email" required="" autofocus="" ng-enter="submit()">
                
            </div>
            <hr>
            <div class="form-footer text-center">
                <a ng-click="submit()" class="btn btn-primary btn-block" ng-disabled="!activedData.email">
                    Submit
                </a>
                <p class="text-danger" ng-bind="error">
                </p>
                <button ng-click="goToSiteUrl('/')" type="button" class="btn btn-link">Back to Homepage</button>
            </div>
        </div>
        
        <div ng-if="isSucceed">
            <p class="text-success">
                Please check your email.
            </p>
        </div>
       
       
    </div>

</form>
</div>