<section ng-init="getDashboardInfo()">   
        <div id="adminDashboard" ng-if="!isAdmin">
            <div class="jumbotron">
                    <div class="container">
                      <h1 class="display-3">Welcome to Mixcore!</h1>
                      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                      <p><a class="btn btn-primary btn-lg" href="#" role="button">Get Started »</a></p>
                    </div>
            </div> 
        </div>
        <div id="adminDashboard" ng-if="isAdmin">
                <div class="jumbotron">
                        <div class="container">
                            <h1 class="display-3">Hello, admin!</h1>
                            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>                            
                        </div>
                </div> 
        </div> 
        <!-- <div class="row sortable ui-sortable">
            <div class="col-sm-4 ui-sortable-handle">
                <div class="card">
                    <div class="card-body">
                        <i class="mi mi-ReadingList mi-5x mi-fw text-primary"></i> <span class="display-3" ng-bind="data.totalPage"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ui-sortable-handle">
                <div class="card">
                    <div class="card-body">
                        <i class="mi mi-Page mi-5x mi-fw text-primary"></i> <span class="display-3" ng-bind="data.totalArticle"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ui-sortable-handle">
                <div class="card">
                    <div class="card-body">
                        <i class="mi mi-Package mi-5x mi-fw text-primary"></i> <span class="display-3" ng-bind="data.totalProduct"></span>
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-4 ui-sortable-handle">
                <div class="card">
                    <div class="card-body">
                        <i class="mi mi-Contact mi-5x mi-fw text-primary"></i> <span class="display-3" ng-bind="data.totalProduct"></span>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal"><i class="mi mi-ReadingList mi-1x mi-fw text-primary"></i> Articles</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title"><span class="display-3" ng-bind="data.totalArticle"></span></h1>
                    <a href="portal/article/list" class="card-link">Go to Article</a>
                  </div>
                </div>
                <div class="card mb-4 shadow-sm">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal"><i class="mi mi-Page mi-1x mi-fw text-primary"></i> Pages</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title"><span class="display-3" ng-bind="data.totalPage"></span></h1>
                    <a href="portal/page/list" class="card-link">Go to Pages</a>
                  </div>
                </div>
                <div class="card mb-4 shadow-sm">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal"><i class="mi mi-Personalize mi-1x mi-fw text-primary"></i> Themes</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title"><span class="display-3" ng-bind="data.totalProduct"></span></h1>
                    <a href="portal/theme/list" class="card-link">Go to Themes</a>
                  </div>
                </div>
              </div>


        <div class="alert alert-primary position-sticky" role="alert">
                A simple primary alert—check it out!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
        </div>
    </section>