<!-- Main content -->
<section class="" ng-init="loadUser()">
    <form ng-if="activedUser" ng-class="{'submitted': submitted}" ng-submit="register(activedUser)">
        <actions preview-url="activedUser.fullPath" back-url="'/portal/user/list'"></actions>
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <h6 class="card-header">User information</h6>
                    <div class="card-body">
                        <div class="row">

                            <div class="form-group col">
                                <label class="control-label">First Name</label>
                                <input type="text" class="form-control" ng-model="activedUser.firstName">
                            </div>
                            <div class="form-group col">
                                <label class="control-label">Last Name</label>
                                <input type="text" class="form-control tags" ng-model="activedUser.lastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="email" required class="form-control" ng-model="activedUser.email">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Username</label>
                            <input type="text" required class="form-control" ng-model="activedUser.username">
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label class="control-label">Password</label>
                                <input type="password" required class="form-control" ng-model="activedUser.password">
                            </div>
                            <div class="form-group col">
                                <label class="control-label">Confirm Password</label>
                                <input type="password" class="form-control" required ng-model="activedUser.confirmPassword">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-4">
                <custom-image id="avatar" header="'Avatar'" type="'Users'" folder="'Avatars'" src-url="activedUser.avatarUrl" src="activedUser.avatar" posted-file="activedUser.mediaFile"></custom-image>
            </div>
        </div>
    </form>
</section>
<!-- /.content -->