/*
    IMAGE CROP SETTING START
*/
.img-container,
.img-preview {
    background-color: #f7f7f7;
    text-align: center;
    width: 100%;
}

.img-container {
    margin-bottom: 1rem;
    max-height: 497px;
    min-height: 200px;
}

@media (min-width: 768px) {
    .img-container {
        min-height: 497px;
    }
}

.img-container > img {
    max-width: 100%;
}

.docs-preview {
    margin-right: -1rem;
}

.img-preview {
    float: left;
    margin-bottom: .5rem;
    margin-right: .5rem;
    overflow: hidden;
}

    .img-preview > img {
        max-width: 100%;
    }

.preview-lg {
    height: 9rem;
    width: 16rem;
}

.preview-md {
    height: 4.5rem;
    width: 8rem;
}

.preview-sm {
    height: 2.25rem;
    width: 4rem;
}

.preview-xs {
    height: 1.125rem;
    margin-right: 0;
    width: 2rem;
}

.docs-data > .input-group {
    margin-bottom: .5rem;
}

    .docs-data > .input-group > label {
        justify-content: center;
        min-width: 5rem;
    }

    .docs-data > .input-group > span {
        justify-content: center;
        min-width: 3rem;
    }

.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
    margin-bottom: .5rem;
    margin-right: .25rem;
}

.docs-toggles > .btn,
.docs-toggles > .btn-group,
.docs-toggles > .dropdown {
    margin-bottom: .5rem;
}

/*
    IMAGE CROP SETTING END
*/
.custom-file-val {
    position: absolute;
    bottom: 0;
}

.sw-content {
    width: 100% !important;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
/* helper to ensure that razor (which is correctly detected by ACE) is also highlighted */
.ace_razor {
    background-color: yellow;
}

/* make sure the highlighted text is also black, otherwise it a kind of gray */
.ace_punctuation.ace_short.ace_razor {
    color: black;
}

.ace_punctuation.ace_block.ace_razor {
    color: black;
}

.sw-content {
    width: 100% !important;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
/* helper to ensure that razor (which is correctly detected by ACE) is also highlighted */
.ace_razor {
    background-color: yellow;
}

/* make sure the highlighted text is also black, otherwise it a kind of gray */
.ace_punctuation.ace_short.ace_razor {
    color: black;
}

.ace_punctuation.ace_block.ace_razor {
    color: black;
}

/* Center the loader */
.loader-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.2;
    z-index: 9999;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 580px) {
    .hide-on-mb {
        display: none;
    }
}

#modal-files img {
    height: 30px;
}

    #modal-files img.preview {
        width: 100%;
        height: auto;
    }

@media screen and (min-width: 580px) {
    .hide-on-desktop {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .navbar .navbar-nav {
        min-height: unset;
    }
}

/*.sw-sidebar {
    position: relative;
}*/