@model Mix.Cms.Lib.ViewModels.MixPages.ReadMvcViewModel
@{ 

    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Excerpt;
    ViewData["Image"] = Model.ImageUrl;
}
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/Content/Templates/default/assets/img/bg32.jpg');">
        </div>
        <div class="content-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h1 class="title">@Model.Title</h1>
                    <h4>
                        @Model.Excerpt
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        @foreach (var nav in Model.Modules.OrderBy(n => n.Priority))
        {
            var module = nav.Module;
            if (module != null)
            {
                <partial name="@module.TemplatePath" model="module" />
            }
        }
    </div>
</div>
