<!--     *********    START BLOGS 4      *********      -->
<div class="blogs-4" id="blogs-4">

    <div class="container">
        <div class="row">

            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="title">Latest Blogposts 4</h2>

                <br />

                <div class="card card-plain card-blog">
                    <div class="card-image">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src="assets/img/examples/card-blog13.jpg" />
                        </a>
                    </div>

                    <h6 class="category text-info">Fashion</h6>

                    <h3 class="card-title">
                        <a href="#pablo">Groupon Moves Into Flash Fashion</a>
                    </h3>

                    <h5 class="card-description">
                        More acquisitions for Groupon to widen the net of consumers using its platform for more than daily deals. Today it is announcing the acquisition of ideeli, a flash fashion retailer, for $43 million in...
                    </h5>

                    <a href="#pablo" class="btn btn-primary btn-round">Read More</a>
                </div>

                <div class="card card-plain card-blog">
                    <div class="card-image">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src="assets/img/examples/card-blog14.jpg" />
                        </a>
                    </div>

                    <h6 class="category text-success">Entertainment</h6>

                    <h3 class="card-title">
                        <a href="#pablo">When music and technology collide</a>
                    </h3>

                    <h5 class="card-description">
                        Some might say that technology is killing the music industry. But if you look around, there’s a beautiful marriage there — the music industry is evolving every day, and artists are embracing technology in new and innovative ways...
                    </h5>

                    <a href="#pablo" class="btn btn-primary btn-round"> Read More</a>
                </div>

            </div>

        </div>

    </div>
</div>

<!--     *********    END BLOGS 4      *********      -->
