<!--     *********     FEATURES 5      *********      -->

    <div class="features-5">
        <div class="container">
            <div class="row">
                <div class="col-md-5">

                    <h2 class="title">Working is a pleasure</h2>

                    <div class="info info-horizontal">
                        <div class="icon icon-primary icon-circle">
                            <em class="now-ui-icons location_world"></em>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Hundreds of Components</h4>
                            <p>The moment you use Now UI Kit, you know you’ve never felt anything like it. With a single use lets you do more than ever before. </p>
                        </div>
                    </div>

                    <div class="info info-horizontal">
                        <div class="icon icon-primary icon-circle">
                            <em class="now-ui-icons sport_user-run"></em>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Easy to Use</h4>
                            <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature.</p>
                        </div>
                    </div>

                    <div class="info info-horizontal">
                        <div class="icon icon-primary icon-circle">
                            <em class="now-ui-icons ui-2_time-alarm"></em>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Fast Prototyping</h4>
                            <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="tablet-container">
                        <img src="assets/img/ipad2-inverted.png" />
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--     *********    END FEATURES 5      *********      -->
