<!--     *********     FEATURES 3      *********      -->

    <div class="features-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Simpler. Smarter. Faster.</h2>
                    <h4 class="description">The CloudCheckr Cloud Management Platform (CMP) provides full visibility and control to reduce costs, improve cybersecurity posture, and automate critical tasks.</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="info info-hover">
                        <div class="icon icon-success icon-circle">
                            <em class="now-ui-icons objects_globe"></em>
                        </div>
                        <h4 class="info-title">Asset Management</h4>
                        <p class="description">Cross-account dashboards provide sophisticated reporting for enterprise.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info info-hover">
                        <div class="icon icon-info icon-circle">
                            <em class="now-ui-icons education_atom"></em>
                        </div>
                        <h4 class="info-title">Resource Utilization</h4>
                        <p class="description">CloudCheckr provides summary and detailed usage statistics for resources.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info info-hover">
                        <div class="icon icon-primary icon-circle">
                            <em class="now-ui-icons tech_watch-time"></em>
                        </div>
                        <h4 class="info-title">Self-Healing</h4>
                        <p class="description">CloudCheckr enables users to save money, time, and effort.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--     *********    END FEATURES 3      *********      -->
