<!--     *********     FEATURES 2      *********      -->

    <div class="features-2 section-image" style="background-image: url('assets/img/bg22.jpg')">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Trello lets you work more.</h2>
                    <h4 class="description">Trello’s boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible and rewarding way.</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-primary icon-circle">
                            <em class="now-ui-icons users_single-02"></em>
                        </div>
                        <h4 class="info-title">Work With Any Team</h4>
                        <p class="description">Whether it’s for work or even the next family vacation, Trello helps your team.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger icon-circle">
                            <em class="now-ui-icons business_chart-bar-32"></em>
                        </div>
                        <h4 class="info-title">A Productivity Platform</h4>
                        <p class="description">Integrate the apps your team already uses directly into your workflow.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-warning icon-circle">
                            <em class="now-ui-icons arrows-1_refresh-69"></em>
                        </div>
                        <h4 class="info-title">Always In Sync</h4>
                        <p class="description">No matter where you are, Trello stays in sync across all of your devices.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--     *********    END FEATURES 2      *********      -->
