<!--     *********     FEATURES 6      *********      -->

    <div class="features-6">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Working is a pleasure</h2>
                    <h4 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information.</h4>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="info info-horizontal">
                        <div class="icon icon-info">
                            <em class="now-ui-icons design-2_html5"></em>
                        </div>
                        <div class="description">
                            <h5 class="info-title">For Developers</h5>
                            <p>The moment you use Now UI Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                        </div>
                    </div>

                    <div class="info info-horizontal">
                        <div class="icon icon-danger">
                            <em class="now-ui-icons design_palette"></em>
                        </div>
                        <div class="description">
                            <h4 class="info-title">For Designers</h4>
                            <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="phone-container">
                        <img src="https://demos.creative-tim.com/now-ui-kit-pro/assets/img/iphone2.png" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <em class="now-ui-icons design-2_ruler-pencil"></em>
                        </div>
                        <div class="description">
                            <h5 class="info-title">Bootstrap Grid</h5>
                            <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                        </div>
                    </div>

                    <div class="info info-horizontal">
                        <div class="icon icon-success">
                            <em class="now-ui-icons files_single-copy-04"></em>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Example Pages Included</h4>
                            <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--     *********    END FEATURES 6      *********      -->
