<div class="row">
    <div class="col-12">
        <filter-list request="request" callback="getList(pageIndex)" create-url="'/portal/page/create'"></filter-list>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <small ng-if="canDrag"><span class="text-info"
                ng-bind="translate('warning_can_not_drag_drop',true, '(Drag Drop only allow when order by priority asc)')"></span></small>
        <table id="list-page" class="table table-sm table-hover" dnd-list="data.items" dnd-disable-if="canDrag"
            cellspacing="0" ng-init="getList()">
            <thead class="thead-light">
                <tr>
                    <th scope="col" width="4%">
                        <span class="oi oi-sort-ascending"></span>
                    </th>
                    <th scope="col" width="20%">
                        Title
                    </th>
                    <th scope="col">
                        Excerpt
                    </th>
                    <th scope="col" width="15%">
                        Created Date
                    </th>
                    <th scope="col" width="15%">
                        Author
                    </th>
                    <th scope="col" width="5%" class="text-right"></th>
                </tr>
            </thead>

            <tbody ng-repeat="item in data.items" dnd-draggable="item" dnd-effect-allowed="move"
                dnd-selected="selected = item" dnd-moved="updateInfos($index)"
                ng-class="{'selected': selected === item}">
                <tr class="" sort-model="category" sort-model-id="{{item.id}}">
                    <td style="cursor:grab;" class="drag-header">
                        <small><span class="fa fa-grip-vertical text-black-50 align-middle"></span></small>
                    </td>

                    <td>
                        <small>
                            {{item.title}}
                        </small>
                    </td>
                    <td>
                        <small>
                            {{shortString(item.excerpt,50)}}
                        </small>
                    </td>
                    <td>
                        <small>
                            {{item.createdDateTime | utcToLocal:'dd.MM.yy hh:mm a'}}
                        </small>
                    </td>
                    <td>
                        <small>{{item.createdBy}}</small>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm btn-group-sm float-right" role="group" aria-label="Actions">

                            <a ng-if="item.childs.length>0" class="btn btn-link" data-toggle="collapse" role="button"
                                ng-click="showChilds(item.id)">
                                <span class="fa fa-list text-secondary"></span>
                            </a>

                            <a href="" ng-click="goToPath('/portal/page/details/' + item.id)" class="btn btn-link">
                                <span class="fas fa-edit"></span>
                            </a>
                            <a href="{{item.detailsUrl}}" target="_blank" class="btn btn-link"><span
                                    class="fas fa-external-link-alt text-secondary"></span></a>
                            <a ng-if="item.type==2" ng-click="goToPath('/portal/page/page-post/list/' + item.id)"
                                class="btn btn-link">
                                <span class="fas fa-list text-secondary"></span>
                            </a>
                            <!-- 
                                                <a ng-if="item.type==2" href="#" data-toggle="modal" data-target="#modal-posts" class="btn btn-link">
                                                    <span class="fas fa-list text-secondary"></span>
                                                </a>-->
                            <a class="btn btn-link" ng-click="remove(item.id)">
                                <span class="fa fa-times text-danger"></span>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="7" style="padding:0">
                        <div class="collapse" id="childs-{{item.id}}">
                            <table class="table table-sm table-hover mb-0" cellspacing="0"
                                style="background-color: #f5f5f5;" ng-if="item.childs.length>0">
                                <thead style="font-size:small; font-weight:normal">
                                    <tr>

                                        <td style="cursor:grab;" class="drag-header">
                                            <small><span class="fa fa-grip-vertical text-black-50 align-middle"></span></small>
                                        </td>
                                        <th scope="col" width="20%">
                                            Title
                                        </th>
                                        <th scope="col">
                                            Description
                                        </th>
                                        <th scope="col" width="15%">
                                            Created Date
                                        </th>
                                        <th scope="col" width="10%">
                                            Author
                                        </th>

                                        <th scope="col" width="5%" class="text-right"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="c in item.childs">

                                        <td style="cursor:grab;" class="drag-header">


                                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                                <button ng-click="goUp(item.childs, $index)" type="button"
                                                    class="btn btn-link"><span
                                                        class="fa fa-sort-up small"></span></button>
                                                <button ng-click="goDown(item.childs, $index)" type="button"
                                                    class="btn btn-link"><span
                                                        class="fa fa-sort-down small"></span></button>
                                            </div>
                                        </td>
                                        <td>
                                            <span ng-bind="c.page.title"></span>
                                        </td>
                                        <td>
                                            <span class="small" ng-bind="shortString(c.page.excerpt,50)"></span>
                                        </td>
                                        <td>
                                            <small>
                                                {{c.createdDateTime | utcToLocal:'dd.MM.yy - hh:mm a'}}
                                            </small>
                                        </td>
                                        <td>
                                            {{c.page.createdBy}}
                                        </td>

                                        <td>
                                            <div class="btn-group btn-group-sm btn-group-sm float-right" role="group"
                                                aria-label="Actions">
                                                <a href="" ng-click="goToPath('/portal/page/details/' + c.id)"
                                                    class="btn btn-link"><span class="fas fa-edit small"></span></a>
                                                <a href="{{c.detailsUrl}}" target="_blank" class="btn btn-link"><span
                                                        class="fas fa-external-link-alt text-secondary small"></span></a>
                                                <a ng-if="c.page.type==2"
                                                    ng-click="goToPath('/portal/page/page-post/list/' + c.page.id)"
                                                    class="btn btn-link">
                                                    <span class="fas fa-list text-secondary"></span>
                                                </a>
                                                <a ng-click="remove(item.id);" class="btn btn-link">
                                                    <span class="fas fa-times text-danger"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<hr>

<paging class="small" page="data.page" page-size="data.pageSize" total="data.totalItems"
    ul-class="pagination justify-content-end m-0" a-class="page-link" paging-action="getList(page-1)" scroll-top="true">
</paging>