/Mix.Cms.Api/obj
/Mix.Cms.Api/bin
/Mix.Cms.Api.Test/obj
/Mix.Cms.Api.Test/bin
/Mix.Cms.Web/node_modules
/Mix.Cms.Web/obj
/Mix.Cms.Web/bin
/Mix.Identity/obj
/Mix.Identity/bin
/MixCore.Cms.Lib/obj
/MixCore.Cms.Lib/bin
/Mix.Cms.Web/wwwroot/js/plugins/Trumbowyg-master.zip
/Mix.Cms.Web/wwwroot/js/plugins/Trumbowyg-master
/Mix.Cms.Web/wwwroot/js/plugins/ui-tinymce
/src/Mix.Cms.Api/*
/src/.vs
/src/Mix.Cms.Api.Test/bin
/src/Mix.Cms.Api.Test/obj
/src/Mix.Cms.Lib/obj
/src/Mix.Cms.Lib/bin
/src/Mix.Cms.Web/obj
/src/Mix.Cms.Web/bin
/src/Mix.Cms.Web/node_modules
