<div class="tab-pane">
    <div class="row">
        <navs class="col-12" data="$ctrl.navs" prefix="'module-nav'" model="'nav-related'"></navs>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <filter-list request="$ctrl.request" callback="$ctrl.load(pageIndex)"></filter-list>

            <table class="table table-sm table-hover" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            Title
                        </th>
                        <th scope="col" width="15%">
                            Image
                        </th>
                        <th scope="col" width="5%">
                            Actived
                        </th>
                    </tr>
                </thead>

                <tbody class="sortable" ng-init="$ctrl.load()">
                    <tr ng-repeat="item in $ctrl.data.items track by $index">
                        <td>
                            {{item.title}}
                        </td>
                        <td>
                            <img class="rounded" height="25" ng-src="{{item.imageUrl}}">
                        </td>
                        <td>
                            <span class="switch switch-sm position-absolute">
                                <input type="checkbox" class="switch" ng-model="item.isActived" ng-change="$ctrl.activeItem(item)" id="{{$ctrl.prefix}}_{{item.id}}" value="true">
                                <label class="switch m-0" for="{{$ctrl.prefix}}_{{item.id}}">
                                </label>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <paging class="small" page="$ctrl.data.page" page-size="$ctrl.data.pageSize" total="$ctrl.data.totalItems" ul-class="pagination justify-content-end" a-class="page-link" paging-action="callback(page-1)" scroll-top="true"></paging>
        </div>
    </div>
</div>