<div class="card border-left-0 border-bottom-0 border-right-0">
    <div class="card-header py-1">
        <span ng-bind="$ctrl.header"></span>
        <div class="" role="alert" ng-if="!$ctrl.data || !$ctrl.data.length">
            <i class="fas fa-exclamation-triangle text-danger"></i> No data has been created for this attribute yet!
        </div>
        <div class="row" ng-if="$ctrl.data[0]">
            <div class="col-md-1"></div>
            <small ng-repeat="col in $ctrl.data[0].fields | orderBy:'priority' track by $index" ng-if="$index < 3"
                ng-bind="col.title" class="col-md-2"></small>
            <div class="col-md-2">Created By</div>
            <div class="col-md-2">Created Date</div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="card-body py-1">
        <div dnd-list="$ctrl.data" dnd-inserted="$ctrl.updateOrders(index)">
            <div ng-repeat="item in $ctrl.data | orderBy: 'priority' track by $index" dnd-draggable="item"
                dnd-type="'item'" dnd-effect-allowed="copyMove" dnd-selected="$ctrl.selectedItem = item"
                dnd-dragstart="$ctrl.dragStart($index)" ng-class="{'selected': $ctrl.selectedItem === item}"
                class="row border-bottom">
                <div class="col-md-1 form-inline">
                    <div class="form-group">
                        <small class="fa fa-grip-vertical text-black-50 mr-2"></small>
                        <input class="ml-1 form-control form-control-sm border-0" ng-model="item.priority" />
                    </div>
                </div>
                <div ng-if="$index < 3" ng-repeat="val in item.values | orderBy: 'priority' track by $index"
                    class="col-md-2">
                    <attribute-value-preview data="val"></attribute-value-preview>
                </div>                
                <div class="col-md-2" ng-bind="item.createdBy">
                    
                </div>
                <div class="col-md-2" ng-bind="item.createdDateTime | utcToLocal">
                    
                </div>
                <div class="col-md-1">
                    <div class="btn-group btn-group-sm float-right">
                        <a ng-click="$ctrl.update(item)" class="btn btn-link">
                            <span class="fa fa-pen text-primary"></span>
                        </a>
                        <a ng-click="$ctrl.delete(item)" class="btn btn-link">
                            <span class="fas fa-times text-danger"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>