<h6 class="card-header">
    <span ng-bind="$ctrl.header"></span>
</h6>
<table class="table table-sm">
    <!-- <thead class="thead-light">
        <tr>
            <th scope="col" width="5%">
                <span class="oi oi-move"></span>
            </th>
            <th scope="col" ng-repeat="col in $ctrl.data.fields | orderBy:'priority' track by $index" ng-bind="col.title"
                ng-if="$index < 3" ng-bind="col.title"></th>
                <th>Actions</th>
            
        </tr>
    </thead> -->
    <tbody class="sortable">
        <tr class="sortable-item module-column" 
            ng-repeat="item in $ctrl.data track by $index" 
            ng-class="{'selected': $ctrl.selectedProp === item}">            
            <td style="cursor:move;">
                <span class="oi oi-move"></span>
            </td>
            <td ng-if="$index < 3" ng-repeat="val in item.values | orderBy:'priority' track by $index">
                <attribute-value-preview  data="val"></attribute-value-preview>
            </td>
            <td>
                <a ng-click="$ctrl.update(item)" class="btn btn-link">
                    <span class="fas fa-pencil-alt text-warning"></span>
                </a>
                <a ng-click="$ctrl.delete(item)" class="btn btn-link">
                    <span class="fas fa-times text-danger"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>