<ons-page>
    <ons-toolbar>
        <div class="center">Dialogs</div>
    </ons-toolbar>

    <ons-list>
        <ons-list-header>Showing dialogs</ons-list-header>
        <ons-list-item tappable ng-click="$ctrl.dialog.show()">Simple dialog</ons-list-item>
        <ons-list-item tappable ng-click="$ctrl.alertDialog.show()">Alert dialog</ons-list-item>
        <ons-list-item tappable ng-click="$ctrl.showDialog()">From template</ons-list-item>
        <ons-list-item tappable ng-click="$ctrl.toast.toggle()">Toggle toast</ons-list-item>
        <ons-list-header>Notifications</ons-list-header>
        <ons-list-item tappable ng-click="ons.notification.alert('Hello, world')">Alert</ons-list-item>
        <ons-list-item tappable ng-click="ons.notification.confirm({message: 'Are you ready?'})">Confirmation
        </ons-list-item>
        <ons-list-item tappable ng-click="ons.notification.prompt({message: 'What is your name?'})">Prompt
        </ons-list-item>
    </ons-list>
</ons-page>

<ons-dialog var="$ctrl.dialog">
    <div style="text-align: center; padding: 10px;">
        <p>
            This is a dialog.
        </p>

        <p>
            <ons-button ng-click="$ctrl.dialog.hide()">Close</ons-button>
        </p>
    </div>
</ons-dialog>

<ons-alert-dialog var="$ctrl.alertDialog">
    <div class="alert-dialog-title">Warning!</div>
    <div class="alert-dialog-content">
        An error has occurred!
    </div>
    <div class="alert-dialog-footer">
        <button class="alert-dialog-button" ng-click="$ctrl.alertDialog.hide()">Cancel</button>
        <button class="alert-dialog-button" ng-click="$ctrl.alertDialog.hide()">OK</button>
    </div>
</ons-alert-dialog>

<template id="dialog.html">
    <ons-dialog id="dialog-3">
        <div style="text-align: center; padding: 10px;">
            <p>
                This dialog was created from a template.
                </p><p>

                    </p><p>
                        <ons-button ng-click="$ctrl.dialog.hide()">Close</ons-button>
                    </p>
        </div>
    </ons-dialog>
</template>

<ons-toast var="$ctrl.toast">
    This is an Onsen Toast!<button>Hoge</button>
</ons-toast>