<!-- Main content -->
<!-- <jumbotrons tag-name="'Post'" tag-type="'1'"></jumbotrons> -->
<section class="" ng-init="getSingle()">
    <form ng-class="{'submitted': submitted}" ng-submit="save(activedData)">
        <actions preview-url="activedData.detailsUrl" back-url="referrerUrl"></actions>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2">
                        <a href="/portal/page/create?position_id={{activedData.id}}" class="btn btn-link">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a data-toggle="modal" data-target="#modal-nav-pages-{{activedData.id}}" class="btn btn-link">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            <modal-nav-pages save="saveOthers()" src-field="'positionId'" src-id="activedData.id" selected="others" query="'not_module_id='"></modal-nav-pages>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control form-control-sm" ng-model="activedData.description">
                </div>
            </div>
            <section class="col-md-12">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">Description</div>
                    <div class="col-md-3"></div>
                </div>
                <div ng-repeat="item in activedData.pages track by $index" dnd-draggable="item" dnd-type="'item'" dnd-effect-allowed="copyMove" dnd-selected="$ctrl.selectedCol = item" dnd-dragstart="$ctrl.dragStart($index)" ng-class="{'selected': $ctrl.selectedCol === item}" class="mb-3">
                    <div class="row">
                        <div class="col-md-1">
                            <span class="fas fa-sort"></span>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">                                
                                <input ng-model="item.description" placeholder="Description" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a class="btn" ng-click="removePage(page, $index)">
                                <span class="fas fa-times text-danger"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
</section>
<!-- /.content -->