@{
    string href = string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, Url.Action());
}


    <div class="fb-comments col-sm-10" width="100%"
         data-href="@href"
         data-numposts="5"></div>
