.ga-container {
  background-color: #ebffeb;
}

/* .ActiveUsers {
  background: var(--bg-color);
  border: 1px solid #d4d2d0;
  border-radius: 4px;
  font-weight: 300;
  padding: 0.5em 1.5em;
  white-space: nowrap;
}
.ActiveUsers-value {
  display: inline-block;
  font-weight: 600;
  margin-right: -0.25em;
} */
.ActiveUsers.is-increasing {
  -webkit-animation: a 3s;
  animation: a 3s;
}
.ActiveUsers.is-decreasing {
  -webkit-animation: b 3s;
  animation: b 3s;
}
@-webkit-keyframes a {
  10% {
    background-color: #ebffeb;
    border-color: rgba(0, 128, 0, 0.5);
    color: green;
  }
}
@keyframes a {
  10% {
    background-color: #ebffeb;
    border-color: rgba(0, 128, 0, 0.5);
    color: green;
  }
}
@-webkit-keyframes b {
  10% {
    background-color: #ffebeb;
    border-color: rgba(255, 0, 0, 0.5);
    color: red;
  }
}
@keyframes b {
  10% {
    background-color: #ffebeb;
    border-color: rgba(255, 0, 0, 0.5);
    color: red;
  }
}
.Chartjs {
  font-size: 0.85em;
}
.Chartjs-figure {
  height: 250px;
}
.Chartjs-legend {
  list-style: none;
  margin: 0;
  padding: 1em 0 0;
  text-align: center;
}
.Chartjs-legend > li {
  display: inline-block;
  padding: 0.25em 0.5em;
}
.Chartjs-legend > li > i {
  display: inline-block;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: -0.1em;
  width: 1em;
}
@media (min-width: 570px) {
  .Chartjs-figure {
    margin-right: 1.5em;
  }
}
