<div class="card">
    <h6 class="card-header">
        Main Content
    </h6>
    <div class="card-body">
        <div class="form-group">
            <label>Default Text</label>
            <input type="text" class="form-control form-control-lg" ng-model="$ctrl.page.textDefault" ng-blur="$ctrl.generateKeyword($ctrl.page.textDefault)">
        </div>
         <div class="form-group">
            <label>Url</label>
            <input type="text" class="form-control form-control-lg" ng-model="$ctrl.page.url">
        </div>
        <div class="form-group">
            <label>Keyword (translate)</label>
            <input type="text" class="form-control form-control-lg" ng-model="$ctrl.page.textKeyword">
        </div> 
        <div class="form-group">
            <label>Icon</label>
            <mix-select-icons options="$ctrl.miIcons" prefix="'mi'" data="$ctrl.page.icon"></mix-select-icons>
            <input type="text" class="form-control form-control-lg" ng-model="$ctrl.page.icon">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control form-control-lg" ng-model="$ctrl.page.description">{{$ctrl.page.description}}</textarea>
        </div>
       
    </div>
</div>