<div class="text-center mb-6 mt-6">
    <img src="/assets/mixcore-logo-full-white-text.png" alt="">
</div>
<form class="card" ng-class="{'submitted': submitted}" ng-submit="register()">
    <div class="card-body p-6">
        <div class="card-title">Create Administrator Account</div>
        <div class="form-group">
            <label class="form-label">Username</label>
            <input ng-model="user.userName" class="form-control" required placeholder="Input admin username...">
        </div>
        <div class="form-group">
            <label class="form-label">
                Password
            </label>
            <input ng-model="user.password" type="password" required class="form-control" placeholder="Input admin password...">
        </div>
        <div class="form-group">
            <label class="form-label">
                Confirm Password
            </label>
            <input ng-model="user.confirmPassword" type="password" required class="form-control" placeholder="Input confirm password...">
        </div>
        
        <div class="form-group">
            <label class="form-label">Email address
            </label>
            <input ng-model="user.email" class="form-control" type="email" required placeholder="Email..." type="text">
        </div>
        <div class="form-group">
            <label class="custom-control custom-checkbox">
                <input ng-model="user.isAgreed" class="custom-control-input" type="checkbox">
                        <span class="custom-control-label">
                        I agree to the <a href="#" data-toggle="modal" data-target="#termAndCondition">terms and conditions</a>.</span>
            </label>
        </div>
        <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block">Continue...</button>
        </div>
        <div class="mt-1 text-center">
            Back to <a ng-click="goToSiteUrl('/')">homepage</a>
        </div>
    </div>

</form>

<!-- <div class="row">
<div class="col-md-6 ml-auto mr-auto">
</div>
<div class="col-md-6 ml-auto mr-auto">
    <div class="card card-login card-plain">
        <form class="form-horizontal" ng-class="{'submitted': submitted}" ng-submit="register()">
            <div class="card-header text-center">
                <h4 class="card-title text-center">Create Administrator Account</h4>
            </div>
            <div class="card-body">
                <div class="input-group no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><em class="now-ui-icons users_circle-08"></em></span>
                    </div>
                    <input ng-model="user.userName" class="form-control" required placeholder="Input admin username...">
                </div>

                <div class="input-group no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><em class="now-ui-icons ui-1_email-85"></em></span>
                    </div>
                    <input ng-model="user.email" class="form-control" type="email" required placeholder="Email..." type="text">
                </div>

                <div class="input-group no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><em class="now-ui-icons objects_key-25"></em></span>
                    </div>
                    <input ng-model="user.password" type="password" required class="form-control" placeholder="Input admin password...">
                </div>
                <div class="input-group no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><em class="now-ui-icons objects_key-25"></em></span>
                    </div>
                    <input ng-model="user.confirmPassword" type="password" required class="form-control" placeholder="Input confirm password...">
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input ng-model="user.isAgreed" class="form-check-input" type="checkbox">
                        <span class="form-check-sign"></span>
                        I agree to the <a href="#" data-toggle="modal" data-target="#termAndCondition">terms and conditions</a>.
                    </label>
                </div>
            </div>

            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Create</button>
            </div>
        </form>
    </div>
</div>
</div> -->