<!-- <div class="text-center mb-6 mt-6">
    <img src="/assets/mixcore-logo-full-white-text.png" alt="">
</div> -->
<form class="col-6 my-3" ng-class="{'submitted': submitted}" ng-submit="register()">
    <div class="">
        <h1 class="display-4">Now, you can create the most powerful account!</h1>
        <p class="lead">
            Please keep this account credential safe and only share this account to the most trusted person!
        </p>
        <hr>
        <div class="form-group">
            <label class="form-label">Your Username</label>
            <input ng-model="user.userName" class="form-control" required placeholder="handsome...">
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-label">
                        Password
                    </label>
                    <input ng-model="user.password" type="password" required class="form-control" placeholder="MyM0stC0mpl3xP@ssw0rd...">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label">
                        Confirm Password
                    </label>
                    <input ng-model="user.confirmPassword" type="password" required class="form-control" placeholder="Re type the same...">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">Email address
            </label>
            <input ng-model="user.email" class="form-control" type="email" required placeholder="Email..." type="text">
        </div>
        <div class="form-group">
            <label class="custom-control custom-checkbox">
                <input ng-model="user.isAgreed" class="custom-control-input" type="checkbox">
                <span class="custom-control-label">
                    I agree to the <a href="#" data-toggle="modal" data-target="#termAndCondition">terms and
                        conditions</a>.</span>
            </label>
        </div>
        <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block">Continue...</button>
        </div>
    </div>

</form>