<!-- Main content -->
<section class="" ng-init="getSingle()">
    <form ng-class="{'submitted': submitted}" ng-submit="save(activedData)">
        <actions preview-url="activedData.detailsUrl" back-url="'/portal/product/list'"></actions>
        <div class="row">
            <section class="col-8">
                <div class="row">
                    <div class="col-lg-12">
                        <product-main product="activedData"></product-main>
                    </div>
                </div>
                <div class="row">
                    <tabs-v class="col-lg-12">
                        <pane-v title="General">
                            <product-general product="activedData"></product-general>
                        </pane-v>
                        <pane-v title="Seo">
                            <product-seo product="activedData"></product-seo>
                        </pane-v>
                        <pane-v title="Parents">
                            <product-parents product="activedData"></product-parents>
                        </pane-v>
                        <pane-v title="Modules">
                            <product-modules product="activedData"></product-modules>
                        </pane-v>
                        <pane-v title="Layout">
                            <div class="tab-pane">
                                <template-editor folder-type="'Products'" template="activedData.view" templates="activedData.templates"></template-editor>
                            </div>
                        </pane-v>
                        <pane-v title="Medias">
                               <media-navs media-navs="activedData.mediaNavs"></media-navs>
                            <!--<navigation data="activedData.mediaNavs" prefix="media"></navigation>-->
                            <!--<navs data="activedData.mediaNavs" prefix="'media'" model="'nav-product-media'"></navs>-->
                        </pane-v>
                        <pane-v title="Related">
                            <related-navs request="request" source-id="activedData.id" culture="activedData.specificulture" prefix="'product'" navs="activedData.productNavs" data="data" load-data="getList(pageIndex)"></related-navs>
                        
                        </pane-v>
                    </tabs-v>
                </div>
            </section>
            <section class="col-4" style="padding-left:0">
                <cultures is-clone="activedData.isClone" data="activedData.cultures"></cultures>
                <url-alias url-alias="activedData.urlAlias"></url-alias>
                <div class="card">
                    <h6 class="card-header">
                        Info
                    </h6>
                    <div class="card-body">
                        <statuses status="activedData.status">
                        <div class="form-group">
                            <span class="switch">
                                <label>
                                    <input type="checkbox" ng-model="activedData.isClone" class="switch">
                                    Clone
                                </label>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Created Date Time</label>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="mi mi-Calendar"></i></span>
                                </div>
                                <input ng-model="activedData.createdDateTime" type="text" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group m-0">
                            <label class="control-label">Created By</label>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="mi mi-Contact"></i></span>
                                </div>
                                <input ng-model="activedData.createdBy" class="form-control" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>
                <custom-image id="'feature-image'" header="'Image'" type="'Products'" folder="activedData.seoName" src-url="activedData.imageUrl" src="activedData.image" auto="'true'"></custom-image>
                <custom-image id="'feature-image-tumbnail'" header="'Thumnail'" type="'Products'" folder="activedData.seoName" src-url="activedData.thumbnailUrl" src="activedData.thumbnail" auto="'true'"></custom-image>
            </section>
        </div>
    </form>
</section>
<!-- /.content -->