<div id="sidebar" class="sw-sidebar" ng-init="$ctrl.init()">
    <!--<portal-search />-->
    <ul class="sw-links" id="sw-docs-nav" data-children=".sw-toc-item" style="">
        <!-- DASHBOARD -->
        <!--<li class="sw-toc-item mt-1 mb-1">
            <a asp-area="Portal" asp-controller="Dashboard" asp-action="Index" class="sw-toc-link">
                <i class="mi mi-Tiles mi-lg mi-fw"></i>
                <span class="text">Dashboard</span>
            </a>
        </li>-->

        <!-- ARTICLE -->
        <li ng-repeat="item in $ctrl.items">
            <main-side-bar-item item="item"></main-side-bar-item>
        </li>
        <li class="sw-toc-item mt-1 mb-1"></li>
        <li class="sw-toc-item mt-1 mb-1"></li>
    </ul>
    <div class="sidebar-background" style=""></div>

</div>