@{
    ViewData["Title"] = "Dashboard";
    ViewData["Description"] = "Your powerful dashboard is here";
    Layout = "~/Views/Shared/_LayoutPortal_Angular.cshtml";

    var menus = MixCmsHelper.LoadDataFile("data/consts", "portal-menus.json");
}
<div class="w-100">
    <input type="hidden" id="portal-menus" value="@menus.Content" />
    <mix-loader ng-show="isBusy"></mix-loader>
    <header-nav ng-if="isInit" settings="settings" bread-crumbs="breadCrumbs"></header-nav>
    <div class="container-fluid wrapper">
        <div class="row flex-xl-nowrap">

            <main-side-bar ng-if="isAdmin"></main-side-bar>
            <main-side-bar-dynamic ng-if="roles" roles="roles" actived-role="roles[0]"></main-side-bar-dynamic>
            <!-- <main class="py-md-4 px-md-2 sw-content" role="main"> -->
            <main class="pb-md-5 px-md-5 sw-content w-100" role="main" style="background-color: var(--bg-color,hsla(var(--primary-color-hue,211),var(--primary-color-saturation,100%),100%,1));">
                
                <footer class="footer d-block fixed-bottom pt-2 pr-5 text-black-50" style="z-index:0;">
                    <div class="container-fluid">
                        <nav>
                            <p class="copyright text-right" style="text-shadow: 2px 2px 5px rgba(150, 150, 150, 0.5);">
                                <small>
                                    <span style="display:inline-block;transform: rotate(180deg);">&copy;</span>
                                    <script>document.write(new Date().getFullYear());</script>
                                    <strong><a href="https://www.mixcore.org">mixcore</a></strong>, made by human on earth.
                                </small>
                            </p>
                        </nav>
                    </div>
                </footer>
                <div class="position-sticky" style="
                        width: 100%;
                        height: 1.5rem;
                        background-color: var(--bg-color,hsla(var(--primary-color-hue,211),var(--primary-color-saturation,100%),100%,1));
                        top: 4rem;
                        left: 0;
                        z-index: 999;
                    "></div>
                <section class="container-fluid mb-5">
                    <!--<jumbotrons ng-if="isInit" tag-name="pageTagName" tag-type="pageTagType"></jumbotrons>-->
                    <div class="{{pageClass}}" ng-view>
                    </div>
                    <portal-theme-settings></portal-theme-settings>
                    <medias ng-if="isInit"></medias>
                    <hub-messages ng-if="isInit"></hub-messages>
                    <message ng-if="isInit" message="message"></message>
                    <confirm ng-if="isInit" message="confirmMessage"></confirm>
                    <modal-favorite ng-if="isInit"></modal-favorite>
                    <preview-popup ng-if="isInit" preview-object="previewObject"></preview-popup>
                </section>

            </main>
        </div>
    </div>
</div>