@{
    ViewData["Title"] = "Dashboard";
    ViewData["Description"] = "Your powerful dashboard is here";
    Layout = "~/Views/Shared/_LayoutPortal_Angular.cshtml";

    var menus = MixCmsHelper.LoadDataFile(MixFolders.DataFolder, "portal-menus.json");
}

<div class="">

    <mix-loader ng-show="isBusy"></mix-loader>
    <header-nav ng-if="isInit" settings="localizeSettings" bread-crumbs="breadCrumbs"></header-nav>
    <login-popup></login-popup>

    <div class="wrapper d-flex" ng-if="isInit">
        <main-side-bar ng-if="isInRole('SuperAdmin')" class="bd-sidebar main-sidebar"></main-side-bar>
        <main-side-bar-dynamic ng-if="!isInRole('SuperAdmin')" roles="roles" actived-role="roles[0]" class="bd-sidebar main-sidebar"></main-side-bar-dynamic>
        <!-- Page Content  -->
        <form id="form-portal" class="container d-flex flex-row-reverse {{pageClass}}" ng-view ng-class="{'submitted': submitted}" ng-submit="save()" style="background-color: var(--bg-color,hsla(var(--primary-color-hue,211),var(--primary-color-saturation,100%),100%,1));">
        </form>
        <portal-theme-settings></portal-theme-settings>
        <medias></medias>
        <hub-messages></hub-messages>
        <message message="message"></message>
        <confirm message="confirmMessage"></confirm>
        <modal-permission></modal-permission>
        <modal-bookmark></modal-bookmark>
        <preview-popup preview-object="previewObject"></preview-popup>
        <modal-helper></modal-helper>
    </div>

    <input type="hidden" id="portal-menus" value="@menus.Content" />
</div>