@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>MixcorePortal</title>
    <base href="/portal-v2" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="/angular-io/styles.css">
</head>
<body>
    <mixcore-root></mixcore-root>
    <script src="/angular-io/runtime.js" defer></script>
    <script src="/angular-io/polyfills.js" defer></script>
    <script src="/angular-io/main.js" defer></script>
</body>
</html>
