<!-- <section class="content container-fluid"> -->
    <div class="row">
        <div class="col-md-12">
            <filter-list request="request" callback="getList(pageIndex)"></filter-list>
        </div>
    </div>
    <table class="table table-sm table-hover" cellspacing="0">
        <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 10%;">
                    Keyword
                </th>
                <th scope="col" width="10%">
                    Value
                </th>
                <th scope="col" style="width: 25%;">
                    Default Value
                </th>
                <th scope="col" width="10%">
                    Category
                </th>
                

                <th scope="col" style="width: 5%;">Actions</th>
            </tr>
        </thead>

        <tbody class="sortable" ng-init="getList()">
            <tr ng-repeat="item in data.items track by $index" class="sortable-item" sort-model="language" sort-model-id="{{item.id}}">
                <td>
                    <span ng-bind="item.keyword"></span>
                </td>                
                <td>
                    <span ng-bind="item.value"></span>
                </td>
                <td>
                    <span ng-bind="item.defaultValue"></span>
                </td>
                <td>
                    <span ng-bind="item.category"></span>
                </td>
                
                <td>
                    <div class="btn-group btn-group-sm btn-group-sm float-right" role="group" aria-label="Actions">
                        <a href="/portal/language/details/{{item.keyword}}" class="btn btn-light">
                            <span class="oi oi-pencil text-primary"></span>
                        </a>
                        <a ng-click="remove(item.keyword);" class="btn btn-light">
                            <span class="fas fa-times text-danger"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <paging class="small" page="data.page" page-size="data.pageSize" total="data.totalItems" ul-class="pagination justify-content-end" a-class="page-link" paging-action="getList(page-1)" scroll-top="true">
<!-- </section> -->