<div class="form-group mb-2">
    <small class="form-text text-muted">slug items
        <a ng-click="$ctrl.remove()" class="btn btn-link text-primary btn-sm float-right py-0"><span class="far fa-trash-alt text-primary"></span> Remove</a>
        <a class="btn btn-link text-primary btn-sm float-right py-0" href="{{$ctrl.url}}" target="_blank"><span class="fas fa-eye text-primary"></span> View</a>
    </small>
    <input type="text" ng-change="$ctrl.updateUrl()" class="form-control form-control-sm mb-1" ng-model="$ctrl.urlAlias.alias" placeholder="/slug-value">
    <!-- <input type="text" class="form-control form-control-sm" ng-model="$ctrl.urlAlias.description" placeholder="description..."> -->
</div>
<!-- 
<div class="row">
    <div class="col-sm-12">
        <div class="card mb-4">
            <div class="card-body" ng-if="$ctrl.urlAlias">
                <a ng-click="$ctrl.remove()" class="btn d-inline text-danger float-right">X</a>
                <div class="form-group">
                    <label class="control-label">Slug</label>
                    <input type="text" ng-change="$ctrl.updateUrl()" class="form-control"
                        ng-model="$ctrl.urlAlias.alias">
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <input type="text" class="form-control" ng-model="$ctrl.urlAlias.description">
                </div>
                <div class="form-group">
                    <a class="btn" href="{{$ctrl.url}}" target="_blank">View</a>
                </div>
            </div>
        </div>
    </div>
</div> -->