@{
    var detailsUrl = (string)this.ViewData["DetailsUrl"];
}
<div class="row">
    
    <div class="col-md-8 ml-auto mr-auto">
        @if (Model.Posts.TotalPage > 1)
        {
            <div class="tr-pagination text-center">
                <ul class="pagination" style="display: inline-flex!important;">
                    @if (Model.Posts.PageIndex > 0)
                    {
                        <li class="float-left page-item">
                            <a class="page-link"  href="@detailsUrl/@Model.PageSize/@(Model.Posts.PageIndex-1)">
                                 @(MixService.Translate<string>("previous_page", ViewBag.culture))
                            </a>
                        </li>
                    }
                    @for (int i = 0; i < Model.Posts.TotalPage; i++)
                    {
                        string cl = i == Model.Posts.PageIndex ? "active" : string.Empty;
                        <li class="@cl  page-item">
                            <a class="page-link" href="@detailsUrl/@Model.PageSize/@i">
                                @(i + 1)
                            </a>
                        </li>
                    }
                    @if (Model.Posts.PageIndex < Model.Posts.TotalPage - 1)
                    {
                        <li class="float-right page-item">
                            <a class="page-link" href="@detailsUrl/@Model.PageSize/@(Model.Posts.PageIndex+1)">
                                @(MixService.Translate<string>("next_page", ViewBag.culture))
                            </a>
                        </li>
                    }
                </ul>
            </div>
       }
    </div>
</div>
