<div class="cd-section" id="contactus">
<!--     *********    CONTACT US 1     *********      -->
<div class="contactus-1 section-image" style="background-image: url('assets/img/contact1.jpg')">
    <div id="contactUsMap" class="map" style="width: 100%;height: 100%;position: absolute;top: 0;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2 class="title">Get in Touch</h2>
                <h4 class="description">You need more information? Check what other persons are saying about our product. They are very happy with their purchase.</h4>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <em class="now-ui-icons location_pin"></em>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Find us at the office</h4>
                        <p class="description"> Bld Mihail Kogalniceanu, nr. 8,
                            <br> 7652 Bucharest,
                            <br> Romania
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <em class="now-ui-icons tech_mobile"></em>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Give us a ring</h4>
                        <p class="description"> Michael Jordan
                            <br> +40 762 321 762
                            <br> Mon - Fri, 8:00-22:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ml-auto mr-auto">
                <div class="card card-contact card-raised">
                    <form role="form" id="contact-form" method="post">
                        <div class="card-header text-center">
                            <h4 class="card-title">Contact Us</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 pr-2">
                                    <label>First name</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <em class="now-ui-icons users_circle-08"></em>
                                        </span>
                                        <input type="text" class="form-control" placeholder="First Name...">
                                    </div>
                                </div>
                                <div class="col-md-6 pl-2">
                                    <div class="form-group">
                                        <label>Last name</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <em class="now-ui-icons text_caps-small"></em>
                                            </span>
                                            <input type="text" placeholder="Last Name..." class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email address</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <em class="now-ui-icons ui-1_email-85"></em>
                                    </span>
                                    <input type="email" placeholder="Email Here..." class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Your message</label>
                                <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <input id="checkbox1" type="checkbox">
                                        <label for="checkbox1">
                                            I'm not a robot
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary btn-round pull-right">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--     *********    END CONTACT US 1      *********      -->
</div>
