<!--     *********     BLOGS 1      *********      -->

<div class="blogs-1" id="blogs-1">

    <div class="container">
        <div class="row">

            <div class="col-md-10 ml-auto mr-auto">
                <h2 class="title">Latest Blogposts</h2>

                <br />
                <div class="card card-plain card-blog">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-image">
                                <img class="img img-raised rounded" src="assets/img/examples/card-blog4.jpg" />
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h6 class="category text-info">Enterprise</h6>
                            <h3 class="card-title">
                                <a href="#pablo">Warner Music Group buys concert discovery service Songkick</a>
                            </h3>
                            <p class="card-description">
                                Warner Music Group announced today it’s acquiring the selected assets of the music platform Songkick, including its app for finding concerts and the company’s trademark. Songkick has been involved in a lawsuit against the major… <a href="#pablo"> Read More </a>
                            </p>
                            <p class="author">
                                by <a href="#pablo"><b>Sarah Perez</b></a>, 2 days ago
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card card-plain card-blog">
                    <div class="row">
                        <div class="col-md-7">
                            <h6 class="category text-danger">
                                <em class="now-ui-icons now-ui-icons media-2_sound-wave"></em> Startup
                            </h6>
                            <h3 class="card-title">
                                <a href="#pablo">Insticator raises $5.2M to help publishers</a>
                            </h3>
                            <p class="card-description">
                                Insticator is announcing that it has raised $5.2 million in Series A funding. The startup allows online publishers to add quizzes, polls and other interactive elements (either created by Insticator or by the publisher themselves) to their stories.<a href="#pablo"> Read More </a>
                            </p>
                            <p class="author">
                                by <a href="#pablo"><b>Anthony Ha</b></a>, 5 days ago
                            </a>
                        </div>
                        <div class="col-md-5">
                            <div class="card-image">
                                <img class="img img-raised rounded
                                " src="assets/img/examples/card-blog6.jpg" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>



    </div>
</div>

<!--     *********    END BLOGS 1      *********      -->
