<!--     *********     FEATURES 8      *********      -->

<div class="features-8 section-image" style="background-image: url('assets/img/bg30.jpg')">

    <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Working is a pleasure</h2>
        <h4 class="description">Woodpecker.co is a follow-up automation SaaS founded in 2015. We’re an international team of 17, speaking 4 languages. Our mission is to enable all B2B companies to connect with their Ideal Customers.</h4>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/img/bg28.jpg" class="rounded" alt="">
                    </div>
                    <div class="info text-center">
                        <div class="icon">
                            <em class="now-ui-icons ui-1_email-85"></em>
                        </div>
                        <h4 class="info-title">Reply detection</h4>
                        <p class="description">If you get a reply, further follow-ups are automatically stopped.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/img/bg26.jpg" class="rounded" alt="">
                    </div>
                    <div class="info text-center">
                        <div class="icon">
                            <em class="now-ui-icons ui-1_calendar-60"></em>
                        </div>
                        <h4 class="info-title">Follow-up</h4>
                        <p class="description">Just set a number of days that you want send a follow-up. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/img/bg27.jpg" class="rounded" alt="">
                    </div>
                    <div class="info text-center">
                        <div class="icon">
                            <em class="now-ui-icons ui-1_send"></em>
                        </div>
                        <h4 class="info-title">Cold email</h4>
                        <p class="description">Unlimited number of prospects daily with personalized emails.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/img/bg29.jpg" class="rounded" alt="">
                    </div>
                    <div class="info text-center">
                        <div class="icon">
                            <em class="now-ui-icons ui-2_like"></em>
                        </div>
                        <h4 class="info-title">Teamwork</h4>
                        <p class="description">You and your teammates won’t address the same person twice. </p>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

<!--     *********    END FEATURES 8      *********      -->
