<!--     *********     FEATURES 4      *********      -->

    <div class="features-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Coming home, a pleasure!</h2>
                    <h4 class="description">Havenly is a convenient, personal and affordable way to redecorate your home room by room. Collaborate with our professional interior designers on our online platform. </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card card-background card-raised" data-background-color style="background-image: url('assets/img/bg24.jpg')">
                        <div class="info">
                            <div class="icon icon-white">
                                <em class="now-ui-icons business_bulb-63"></em>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Collaborate on ideas</h4>
                                <p>Your designer will come back to you with an initial set of ideas.</p>
                                <a href="#pablo" class="ml-3">Find more...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-background card-raised" data-background-color style="background-image: url('assets/img/bg23.jpg')">
                        <div class="info">
                            <div class="icon icon-white">
                                <em class="now-ui-icons business_badge"></em>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Pick your designer</h4>
                                <p>Havenly interior designers are vetted professionals and real people.</p>
                                <a href="#pablo">Find more...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-background card-raised" data-background-color style="background-image: url('assets/img/bg25.jpg')">
                        <div class="info">
                            <div class="icon icon-white">
                                <em class="now-ui-icons location_map-big"></em>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Visualize your room</h4>
                                <p>Share a floor plan, and we'll create a visualization of your room.</p>
                                <a href="#pablo" class="ml-3">Find more...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--     *********    END FEATURES 4      *********      -->
