<!--     *********     FEATURES 7      *********      -->

<div class="features-7 section-image" style="background-image: url('assets/img/bg11.jpg')">

    <div class="col-md-8 mr-auto ml-auto text-center">
        <h2 class="title">Working is a pleasure</h2>
        <h4 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information.</h4>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="col-sm-12">
                    <div class="info info-horizontal">
                        <div class="icon">
                            <em class="now-ui-icons design-2_html5"></em>
                        </div>
                        <div class="description">
                            <h5 class="info-title">For Developers</h5>
                            <p class="description">The moment you use Now UI Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon">
                            <em class="now-ui-icons design_palette"></em>
                        </div>
                        <div class="description">
                            <h5 class="info-title">For Designers</h5>
                            <p class="description">The moment you use Now UI Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon">
                            <em class="now-ui-icons design-2_ruler-pencil"></em>
                        </div>
                        <div class="description">
                            <h5 class="info-title">For Artists</h5>
                            <p class="description">The moment you use Now UI Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="image-container">
                    <img src="assets/img/ipad3.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>

<!--     *********    END FEATURES 7      *********      -->
