<!--     *********     HEADER 1      *********      -->

<div class="header-1">
    <div class="page-header header-filter">
        <div class="page-header-image" style="background-image: url('https://demos.creative-tim.com/now-ui-kit-pro/assets/img/bg16.jpg');"></div>
        <div class="content-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 ml-auto text-right">
                        <h1 class="title">Hello mixcore</h1>
                        <h4 class="description">mixcore is a free, open source, community-focused Content Management System (CMS) built on the ASP.NET Core | Dotnet Core platform software you can use to create a beautiful website, blog, forum, or app.</h4>
                        <br />

                        <div class="buttons">
                            <a href="https://www.facebook.com/Mix-IO-268388420255457/" class="btn btn-icon btn-link btn-neutral btn-lg">
                                <em class="fab fa-facebook-square"></em>
                            </a>
                            <a href="https://github.com/Mix-IO/Mix-IO-Core" class="btn btn-icon btn-link btn-neutral btn-lg">
                                <em class="fab fa-github"></em>
                            </a>
                            <a href="http://docs.swastika.io/" class="btn btn-info btn-lg mr-3">
                                <em class="fab fa-book"></em> Document
                            </a>
                            <a href="https://github.com/Mix-IO/Mix-IO-Core/releases" class="btn btn-info btn-lg mr-3">
                                <em class="fab fa-download"></em> Download
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!--     *********    END HEADER 1      *********      -->
