<div class="tab-pane fade active show" id="pills-general" role="tabpanel" aria-labelledby="pills-general-tab">

    <div class="form-group">
        <label class="control-label">Source</label>
        <input type="text" class="form-control" ng-model="$ctrl.article.source">
    </div>
    <div class="form-group">
        <label class="control-label">Tags</label>
        <!--<input type="text" class="form-control tags" ng-model="$ctrl.article.tags">-->
        <tags-input ng-model="$ctrl.article.listTag">
            <!--<auto-complete source="$ctrl.loadTags($query)"></auto-complete>-->
        </tags-input>
    </div>
    <hr>
    <!-- <div class="row">
        <div class="col-sm-12">
            <div class="mb-3">
                <set-attribute title="'Extra Properties'" columns="$ctrl.article.columns"></set-attribute>
                <set-attribute-value title="''" columns="$ctrl.article.columns" properties="$ctrl.article.properties">
                    </set-attribute>
            </div>
        </div>
    </div> -->
</div>