@using Mix.Cms.Lib
@using Mix.Cms.Lib.Services
@model Mix.Cms.Lib.ViewModels.MixPages.ReadMvcViewModel
@{
    string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture); 
    string templateFolder = MixCmsHelper.GetTemplateFolder(ViewBag.culture);
}
@foreach (var nav in Model.Modules.OrderBy(n => n.Priority))
{
    var module = nav.Module; 
    if (module != null)
    {
        <div  id="@module.Name">
            @await Html.PartialAsync(module.TemplatePath, module)
        </div>
    }
}
