<!-- Main content -->
<section>
    <div class="row">
        <div class="col-md-12">
            <input type="checkbox" ng-model="$ctrl.selectedList.isSelectAll" ng-change="$ctrl.selectAll($ctrl.selectedList.isSelectAll, $ctrl.exportData.pages)">
            Select All
        </div>
    </div>
    <div class="row justify-content-md-center" ng-repeat="page in $ctrl.exportData.pages track by page.id">
        <div class="col-md-1">
            <checkbox-switch data="page" callback="$ctrl.updatePageExport()"></checkbox-switch>
        </div>
        <div class="col-md-11" ng-bind="page.title"></div>
        <div class="col-md-1"></div>
        <div class="col-md-11" ng-show="page.isActived">
            <input type="checkbox" ng-model="page.isExportData" ng-change="$ctrl.updatePageExport()">
            Export Data
        </div>
    </div>
</section>
<!-- /.content -->