<!-- <div class="text-center mb-6 mt-6">
    <img src="/assets/mixcore-logo-full-white-text.png" alt="">
</div> -->
<div class="col-6 my-3" ng-init="init()">

    <h1 class="display-4">Hooray! Almost there...</h1>
    <p class="lead">
        You can start <strong>mixcore</strong> with our beautiful <a href="https://www.creative-tim.com/product/now-ui-kit-pro" target="_blank">Now UI Kit Pro</a> theme proudly sponsored by Creative Tim.</p> <hr>
            <div class="">
                <form id="frm-theme">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" ng-model="data.isCreateDefault" id="isCreateDefault">
                            <label class="custom-control-label" for="isCreateDefault">Using Now UI Kit Pro as your default time</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Or import your theme:</label><br>
                        <api-file form-name="'theme'" class="form-control" posted-file="theme"></api-file>
                    </div>


                </form>
            </div>
            <hr>
            <div class="form-footer">
                <a ng-click="submit()" class="btn btn-primary btn-block">Save</a>
            </div>
</div>