/* GENERAL */
.login-page .card-login .input-group:last-child{
    margin-bottom: 10px!important;
}

.useServerTitle{
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.4em;
    margin-bottom: 15px;
}

.link{
    cursor: pointer;
}
.page-header>.content{
    margin-top: 0px!important;
}
.page-header {
    display: flex!important;
    align-items: center!important;
    position: relative!important;
    justify-content: center!important;
}

.login-page .card-login.card-plain .form-control {
    height: 46px;
}

.form-check .form-check-sign::after{
    color: white!important;
}

.form-check-label a{
    color: #f96332!important;
}
.form-check-label a:hover{
    border-color: #f96332!important;
    color: #f96332!important;
}
.form-check .form-check-link{
    color: white!important;
}
/* INPUT FORM */

.login-page .card-login.card-plain .form-control{
        min-width: 214px;
}

.form-group.no-border.input-lg .input-group-text, .input-group.no-border.input-lg .input-group-text{
    padding: 15px 10px 15px 19px!important;
}

/* ALERT */

.alert .close{
    position: unset!important;
    right: unset!important;
    top: unset!important;
    line-height: 1!important;
}

.alert.alert-danger{
    background-color: rgba(255,54,54,1)!important;
}

/* Center the loader */
.loader-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(115, 130, 186, .8);
    opacity: .97;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* NEW LOADER */
.loader {
    color: #fff;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 30vh;
    opacity: 0.8;
}

.loader span {
    display: inline-block;
    -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
    animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

@-webkit-keyframes pulse {
    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.5;
    }
}

@keyframes pulse {
    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.5;
    }
}