#mix-messenger{    
    overflow: auto;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99;
    width: 30%;
    margin: 0;  
}
#mix-messenger.collape{
    bottom:-390px;
}
#mix-messenger .btn-toggle{
    top: 0;
    right: 5px;
    position: absolute;
    padding: 5px 10px;
    font-size: 11px;
}
#mix-messenger .btn-contact{
    top: 0;
    right: 35px;
    position: absolute;
    padding: 5px 10px;
    font-size: 11px;
}
#mix-messenger .card-body{
    padding: 10px;
}
#mix-messenger .container{
    height: 350px;    
}
#mix-messenger .contact{
    position: absolute;
    right: 0;
    top: 40px;
    background: #f7f1f1;
    height: 310px;
    width: 250px;
    text-align: right;
    padding: 10px;
}
#mix-messenger .contact.collape{
    display: none;
}
#mix-messenger .contact ul{
     padding: 0;     
}
#mix-messenger .contact ul li{
     list-style: none;
}
#mix-messenger .discussion{
    height: 250px;    
    overflow: auto;
    padding: 15px;
}
#mix-discussion .action{
    height: 100px;
    bottom: 30px;
}