<div id="sidebar" class="sw-sidebar" ng-init="$ctrl.init()">
    <div class="perfect-scroll">
        <ul class="sw-links" id="sw-docs-nav" 
            data-children=".sw-toc-item">
            <!--<portal-search />-->
            <!-- <form method="post" class="sw-search d-flex align-items-center ng-pristine ng-valid" action="/admin/search">
                <input type="search" class="form-control" id="search-input" name="keyword" placeholder="Search for..." aria-label="Search for..." autocomplete="off">
                <button class="btn btn-light sw-search-docs-toggle d-md-none p-0 ml-3" data-toggle="collapse" data-target="#sw-docs-nav" aria-controls="sw-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"></button>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
                        <title>Menu</title>
                        <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
                    </svg>
                </button>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KOuD896zE9FpXyo3z4qUnITyqLJObd-8sWCHWBMAbgKpoBDjCxTTaK-fn9pkbeyWi6aiOu15-1O4FCi0iYHV22A7_C_8nl1bjT9gWUpGWTRcxiso71cJhqbhcBxhsub88XHpqp3OAmg51CAe1EdWDBDA9MJ-Ei82UcnxV3Pa_P6peDY3ZqTytpkWhQlw7N7hA" autocomplete="off"></form> -->

            <!-- ARTICLE -->
            <li ng-repeat="item in $ctrl.items">
                <main-side-bar-item item="item"></main-side-bar-item>
            </li>
        </ul>

    </div>
    <div class="sidebar-background"></div>
</div>