<form ng-class="{'submitted': submitted}" ng-submit="saveModuleData()">
    <div class="row">
        <div class="col-sm-8">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="now-ui-icons ui-1_email-85"></i>
                </span>
                <input type="email" class="form-control" placeholder="Your Email..." ng-model="activedModuleData.jItem['email'].value">
            </div>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary btn-block">Subscribe</button>
        </div>
    </div>
</form>
