<!DOCTYPE html>
<html lang="en">
<head>
    
    <!--[STYLES]-->
    @RenderSection("Styles", false)
</head>
<body class="@this.ViewData["pageClass"]">
    
    <partial name="../Layouts/_Top_Nav.cshtml" />
    
    <partial name="../Layouts/_Header.cshtml" />
    @RenderBody()
    <partial name="../Layouts/_Footer.cshtml" />
    

    @RenderSection("Scripts", false)
</body>
</html>
