<div class="card mb-4">
    <h6 class="card-header">
        Module types
    </h6>
    <div class="card-body collapse show" ng-if="$ctrl.model != undefined">
        <div class="custom-control custom-switch custom-control-inline col-3" ng-repeat="type in $ctrl.settings.moduleTypes track by $index" ng-switch="type" ng-class="{active: $index == ($ctrl.model)}" ng-click="$ctrl.model=$index;">
            <input type="radio" ng-model="$ctrl.model" class="custom-control-input" ng-value="$index" id="module_type_{{$index}}" name="module_type_{{$index}}">
            <label ng-switch-when="Content" class="custom-control-label" for="module_type_{{$index}}" ng-click="$ctrl.model=$index;">Content</label>
            <label ng-switch-when="Data" class="custom-control-label" for="module_type_{{$index}}" ng-click="$ctrl.model=$index;">Data</label>
            <label ng-switch-when="ListPost" class="custom-control-label" for="module_type_{{$index}}" ng-click="$ctrl.model=$index;">List Post</label>
            <label ng-switch-when="SubPage" class="custom-control-label" for="module_type_{{$index}}" ng-click="$ctrl.model=$index;">Sub Page</label>
            <label ng-switch-when="SubPost" class="custom-control-label" for="module_type_{{$index}}" ng-click="$ctrl.model=$index;">Sub Post</label>
            <label ng-switch-when="SubProduct" class="custom-control-label" for="module_type_{{$index}}" ng-click="$ctrl.model=$index;">Sub Product</label>
            <label ng-switch-when="ListProduct" class="custom-control-label" for="module_type_{{$index}}" ng-click="$ctrl.model=$index;">List Product</label>
            <label ng-switch-when="Gallery" class="custom-control-label" for="module_type_{{$index}}" ng-click="$ctrl.model=$index;">Gallery</label>
        </div>
    </div>
</div>