@{
    ViewData["Title"] = "Setup database";
    Layout = "_LayoutInit_Angular";
}

<section class="content">
    <div class="{{pageClass}}" ng-view>
    </div>
    <message message="message"></message>
    <confirm message="confirmMessage"></confirm>
</section>