@{
    ViewData["Title"] = "Setup database";
    Layout = "_LayoutInit_Angular";
}
 <div class="{{pageClass}}" ng-view>
    </div>
<!-- <section class="content">
   
    <message message="message"></message>
    <confirm message="confirmMessage"></confirm>
</section> -->