@{
    ViewData["Title"] = "Dashboard";
    ViewData["Description"] = "Your powerful dashboard is here";
    Layout = "_LayoutPortal_Angular";

    var menus = MixCmsHelper.LoadDataFile("data/consts","portal-menus.json");
}
<div class="w-100">
    <input type="hidden" id="portal-menus" value="@menus.Content"/>
    <mix-loader ng-show="isBusy"></mix-loader>
    <header-nav ng-if="isInit" settings="settings" bread-crumbs="breadCrumbs"></header-nav>
    <div class="container-fluid wrapper">
        <div class="row flex-xl-nowrap">
            
                <main-side-bar ng-if="isAdmin"></main-side-bar>
                <main-side-bar-dynamic ng-if="roles" roles="roles" actived-role="roles[0]"></main-side-bar-dynamic>
                <!-- <main class="py-md-4 px-md-2 sw-content" role="main"> -->
                <main class="py-md-4 px-md-4 sw-content w-100" role="main" style="">
                    <section class="container-fluid mb-5">
                        <!--<jumbotrons ng-if="isInit" tag-name="pageTagName" tag-type="pageTagType"></jumbotrons>-->
                        <div class="{{pageClass}}" ng-view>
                            
                        </div>
                        <portal-theme-settings></portal-theme-settings>
                        <medias ng-if="isInit"></medias>
                        <hub-messages ng-if="isInit"></hub-messages>
                        <message ng-if="isInit" message="message"></message>
                        <confirm ng-if="isInit" message="confirmMessage"></confirm>
                        <modal-favorite ng-if="isInit"></modal-favorite>
                        <preview-popup ng-if="isInit" preview-object="previewObject"></preview-popup>
                    </section>

                    <footer class="footer d-block fixed-bottom pt-2 pr-5 text-black-50" style="z-index:-1;">
                        <div class="container-fluid">
                            <nav>
                                <p class="copyright text-right">
                                     <small>
                                    <span style="display:inline-block;transform: rotate(180deg);">&copy;</span>
                                    <script>
                                        document.write(new Date().getFullYear());
                                    </script>
                                   <strong><a href="https://www.mixcore.org">mixcore</a></strong>, made by human on earth.</small>
                                </p>
                            </nav>
                        </div>
                    </footer>
                </main>
        </div>
    </div>
</div>