@using Mix.Grpc.Models;
@using System.Reflection;

@inject MixEndpointService endpointService
@using Grpc.Net.Client;

@using Mixcore;

@{
    ViewData["Title"] = "Home Page";
    Context.Request.Headers.TryGetValue("Authorization", out  var token);
    var grpc = new GrpcClientModel<Greeter.GreeterClient>(endpointService.Account, Context);
    var reply = await grpc.Client.SayHelloAsync(
                      new HelloRequest { Name = Assembly.GetExecutingAssembly().GetName().Name }) ;
}

<div class="text-center">
    <h1 class="display-4">@reply.Message</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
