@model PageContentViewModel
@{
    Layout = Model.Layout?.FilePath;
    ViewData["Title"] = "Home Page";
    Context.Request.Headers.TryGetValue("Authorization", out  var token);
}

<div class="text-center">
    <partial name="@Model.Template.FilePath" />
    <h1 class="display-4">Welcome @Model.Title</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
