@inject MixEndpointService endpointService
@using Mix.Grpc.Models;
@using Grpc.Net.Client;

@using Mixcore;

@{
    ViewData["Title"] = "Home Page";
    var grpc = new GrpcClientModel<Greeter.GreeterClient>(endpointService.Account);
    var reply = await grpc.Client.SayHelloAsync(
                      new HelloRequest { Name = "Greeter Client" });
}

<div class="text-center">
    <h1 class="display-4">Welcome @reply.Message</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
