<!-- Main content -->
<section class="" ng-init="getSingle()">

    <form ng-class="{'submitted': submitted}" ng-submit="save(activedData)" ng-if="activedData">
        <actions back-url="listUrl"></actions>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <select class="btn custom-select" ng-model="activedData.folderType">
                                <option ng-repeat="item in folderTypes track by $index" ng-value="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <label>Name</label>
                    <input type="text" class="form-control form-control-lg" ng-model="activedData.fileName">
                </div>
            </div>
            <div class="col-md-12">
                <tabs-v>
                    <pane-v title="Razor Template">
                        <ace-editor content="activedData.content"></ace-editor>
                    </pane-v>
                    <pane-v title="Scripts">
                        <ace-editor content="activedData.scripts"></ace-editor>
                    </pane-v>
                    <pane-v title="Styles">
                        <ace-editor content="activedData.styles"></ace-editor>
                    </pane-v>
                </tabs-v>
            </div>
        </div>
    </form>
</section>
<!-- /.content -->