<!-- Main content -->
<section class="" ng-init="getSingle()">

    <form ng-class="{'submitted': submitted}" ng-submit="save(activedData)" ng-if="activedData">
        <actions back-url="referrerUrl"></actions>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2">
                            <select class="btn custom-select" ng-model="activedData.folderType">
                                <option ng-repeat="item in folderTypes track by $index" ng-value="item">{{item}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <label>Name</label>
                    <input type="text" class="form-control form-control-lg" ng-model="activedData.fileName">
                </div>
            </div>
            <div class="col-md-12">
                <tabs-v select-callback="selectPane(pane)">
                    <pane-v title="Razor Template">
                        <monaco-editor is-visible="activedPane.title == 'Razor Template'" content="activedData.content">
                        </monaco-editor>
                    </pane-v>
                    <pane-v title="Scripts">
                        <monaco-editor is-visible="activedPane.title == 'Scripts'" content="activedData.scripts" default-content="'<script>\n\n</script>'"></monaco-editor>
                    </pane-v>
                    <pane-v title="Styles">
                        <monaco-editor is-visible="activedPane.title == 'Styles'" content="activedData.styles" default-content="'<style>\n\n</style>'">
                        </monaco-editor>
                    </pane-v>
                </tabs-v>
            </div>
        </div>
    </form>
</section>
<!-- /.content -->