<div class="tab-pane">

    <div class="form-group">
        <label>@translator.Get("SeoName")</label>
        <input type="text" class="form-control form-control-lg" ng-model="$ctrl.product.seoName">
    </div>
    <div class="form-group">
        <label>@translator.Get("SeoTitle")</label>
        <input type="text" class="form-control form-control-lg" ng-model="$ctrl.product.seoTitle">
    </div>
    <div class="form-group">
        <label>@translator.Get("SeoDescription")</label>
        <input type="text" class="form-control form-control-lg" ng-model="$ctrl.product.seoDescription">
    </div>
    <div class="form-group">
        <label>@translator.Get("SeoKeywords")</label>
        <input type="text" class="form-control form-control-lg" ng-model="$ctrl.product.seoKeywords">
    </div>
</div>