<div class="animate-switch-container" ng-switch on="$ctrl.dataType">
    <div class="animate-switch" ng-switch-when="1">
        <input class="form-control form-control-sm" type="number" ng-model="$ctrl.value">
    </div>
    <div class="animate-switch" ng-switch-when="5">
        <textarea class="form-control form-control-sm editor-content" type="number" ng-model="$ctrl.value">{{$ctrl.value}}</textarea>
    </div>
    <div class="animate-switch" ng-switch-when="6">
        <textarea class="form-control form-control-sm" type="number" ng-model="$ctrl.value">{{$ctrl.value}}</textarea>
    </div>
    <div class="animate-switch" ng-switch-when="2">
        <custom-file header="'Image'" folder="'Products/Properties'" src="$ctrl.value" auto="'true'"></custom-file>
    </div>
    <div class="animate-switch" ng-switch-default>
        <input class="form-control form-control-sm" type="text" ng-model="$ctrl.value" value="$ctrl.dataType">
    </div>
</div>