<div class="tab-pane">
    <div class="form-group">
        <label>@translator.Get("SeoName")</label>
        <input type="text" class="form-control form-control-lg" ng-model="$ctrl.page.seoName">
    </div>
    <div class="form-group">
        <label>@translator.Get("SeoTitle")</label>
        <input type="text" class="form-control form-control-lg" ng-model="$ctrl.page.seoTitle">
    </div>
    <div class="form-group">
        <label>@translator.Get("SeoDescription")</label>
        <input type="text" class="form-control form-control-lg" ng-model="$ctrl.page.seoDescription">
    </div>
    <div class="form-group">
        <label>@translator.Get("SeoKeywords")</label>
        <input type="text" class="form-control form-control-lg" ng-model="$ctrl.page.seoKeywords">
    </div>
</div>