
    <div class="card">
        <div class="card-header">
            Main Content
        </div>
        <div class="card-body">

            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control form-control-lg" ng-model="$ctrl.module.title" ng-blur="$ctrl.gennerateName()">
            </div>
            <div class="form-group">
                <label>System Name</label>
                <input type="text" class="form-control form-control-lg" ng-model="$ctrl.module.name">
            </div>
            <div class="form-group">
                <label>PageSize</label>
                <input type="number" class="form-control form-control-lg" ng-model="$ctrl.module.pageSize">
            </div>
            <div class="form-group">
                <label>Main content</label>
                <textarea class="form-control editor-content" ng-model="$ctrl.module.description">{{$ctrl.module.description}}</textarea>
            </div>            
        </div>
    </div>
