/* ANCHOR TAG */
.card-link{
    color: #007bff!important;
}
.card-link:hover{
    color: #0056b3!important;
}
/* JUMBOTRON */

@media(min-width: 576px) {
    .jumbotron {
        padding: 2rem 1rem!important;
    }
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:lightgray; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: lightgray; 
}

/* Button Sticky */
.alert.position-sticky{
    bottom: 10px;
}
