<div class="tab-pane">

    <div class="form-group">
        <label>@translator.Get("SeoName")</label>
        <input type="text" class="form-control form-control-lg" ng-model="$ctrl.article.seoName">
    </div>
    <div class="form-group">
        <label>@translator.Get("SeoTitle")</label>
        <input type="text" class="form-control form-control-lg" ng-model="$ctrl.article.seoTitle">
    </div>
    <div class="form-group">
        <label>@translator.Get("SeoDescription")</label>
        <input type="text" class="form-control form-control-lg" ng-model="$ctrl.article.seoDescription">
    </div>
    <div class="form-group">
        <label>@translator.Get("SeoKeywords")</label>
        <input type="text" class="form-control form-control-lg" ng-model="$ctrl.article.seoKeywords">
    </div>
</div>