@{
    ViewData["Title"] = "Security";
    Layout = "~/Views/Shared/_LayoutSecurity_Angular.cshtml";
}

<section class="content">
    <div class="{{pageClass}} w-100" ng-view>
    </div>
    <message message="message"></message>
    <confirm message="confirmMessage"></confirm>
</section>