<div class="card mb-3">
    <h6 class="card-header">
        Main Content
    </h6>
    <div class="card-body">

        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" ng-model="$ctrl.module.title" ng-blur="$ctrl.gennerateName()"
                placeholder="Your module title here..." required>
        </div>
        <div class="row">
            <div class="col">

                <div class="form-group">
                    <label>System Name</label>
                    <input type="text" class="form-control" ng-model="$ctrl.module.name">
                    <small class="form-text text-muted">This system name is using within the template code.</small>
                </div>
            </div>
            <div class="col">

                <div class="form-group">
                    <label>Page Size</label>
                    <input type="number" class="form-control" ng-model="$ctrl.module.pageSize">
                </div>
            </div>
        </div>
        <div class="form-group">
            <!-- <label class="mb-0">Main content</label> -->
            <trumbowyg options="{}" ng-model="$ctrl.module.description"></trumbowyg>
        </div>
        <div class="form-group">
            <label class="control-label">Module types</label>
            <div class="row">
                <div class="col">
                    <div class="form-check" ng-repeat="type in $ctrl.settings.moduleTypes track by $index"
                        ng-switch="type" ng-class="{active: $index === $ctrl.module.type}"
                        ng-click="$ctrl.page.type=$index;">

                        <input ng-model="$ctrl.module.type" type="radio" value="{{$index}}" class="form-check-input"
                            id="module_type_{{$index}}">
                        <label class="form-check-label" for="exampleRadios1">
                            <span ng-switch-when="Content" class="" title="{{type}}">Content</span>
                            <span ng-switch-when="Data" class="" title="{{type}}">Data</span>
                            <span ng-switch-when="ListPost" class="" title="{{type}}">List Post</span>
                            <span ng-switch-when="SubPage" class="" title="{{type}}">Sub Page</span>
                            <span ng-switch-when="SubPost" class="" title="{{type}}">Sub Post</span>
                            <span ng-switch-when="SubProduct" class="" title="{{type}}">Sub Product</span>
                            <span ng-switch-when="ListProduct" class="" title="{{type}}">List Product</span>
                            <span ng-switch-when="Gallery" class="" title="{{type}}">Gallery</span>
                        </label>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>


            <!-- <div class="btn-group btn-group-sm btn-group-toggle d-flex w-100" role="group" data-toggle="buttons">
                <label ng-repeat="type in $ctrl.settings.moduleTypes track by $index" ng-switch="type"
                    ng-class="{active: $index === $ctrl.module.type}" class="btn btn-outline-primary btn-block mt-0"
                    ng-click="$ctrl.page.type=$index;">
                    <input ng-model="$ctrl.module.type" type="radio" value="{{$index}}" class="custom-control-input"
                        id="module_type_{{$index}}">
                    <span ng-switch-when="Content" class="" title="{{type}}">Content</span>
                    <span ng-switch-when="Data" class="" title="{{type}}">Data</span>
                    <span ng-switch-when="ListPost" class="" title="{{type}}">List Post</span>
                    <span ng-switch-when="SubPage" class="" title="{{type}}">Sub Page</span>
                    <span ng-switch-when="SubPost" class="" title="{{type}}">Sub Post</span>
                    <span ng-switch-when="SubProduct" class="" title="{{type}}">Sub Product</span>
                    <span ng-switch-when="ListProduct" class="" title="{{type}}">List Product</span>
                </label>
            </div> -->
        </div>
    </div>
</div>