<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                    Slug Info
            </div>
            <div class="card-body" ng-if="$ctrl.urlAlias">
                <div class="form-group">
                    <label class="control-label">Slug</label>
                    <input type="text" class="form-control" ng-model="$ctrl.urlAlias.alias">
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <input type="text" class="form-control" ng-model="$ctrl.urlAlias.description">
                </div>
            </div>
        </div>
    </div>
</div>