


#main-header{
	display: none;
}
#page-container{
	padding-top: 20px!important;
}
.container-custom{
	max-width: 1170px;
	margin: auto;
}
.header-blog-content{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px;
}
.section-header .hashtag .tag{
	position: relative;
	font: 700 11px/16px BentonSans;
	letter-spacing: 0.55px;
	text-transform: uppercase;
	color: #000000;
	padding-left: 25px;
	margin-right: 10px;
}
.section-header .hashtag .tag:before{
	content: '';
	width: 20px;
	height: 6px;
	background: #56BC2F;
	position: absolute;
	top: 3px;
	left: 0;
}
.header-blog-section #main-content{
	font-family: 'BentonSans'!important;
	font-weight: 400;
}
.header-blog-section .header-blog-title{
	font: 700 55px/61px BentonSans;
	color: #000000;
	text-transform: uppercase;
	flex: 50%;
}
.header-blog-section .header-blog-title span{
	position: relative;
}
.header-blog-section .header-blog-title span:before {
    background: #acf180;
    position: absolute;
    width: 97%;
    left: 12px;
    height: 59%;
    content: '';
    z-index: -1;
    top: 23px;
}
.header-blog-section .description{
	font: 400 16px/19px BentonSans;
	color: #777;
	padding-top: 30px;
	flex: 50%;
}
.filter-section{
	margin-top: 30px;
}
.filter-section .block-filter{
	display: flex;
}
.filter-section .block-filter .button-show-filter{
	display: none!important;
}
.filter-section .block-filter form{
	display: flex;
}
.filter-section .block-filter .block-button{
	display: flex;
}
.filter-section .block-filter input,
.filter-section .block-filter select{
	height: 54px;
	font: 500 16px/19px BentonSans;
	color: #000;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #56BC2F;
	padding-right: 20px;
	margin-right: 20px;
}
.filter-section .block-filter select option{
}
.filter-section .block-filter .button{
	margin-left: 10px;
	margin-right: 10px;
	width: 54px;
	height: 54px;
	display: inline-block;
	cursor: pointer;
}
.filter-section .block-filter .button-filter{
	background: #56BC2F;
	color: #fff;
	font: 500 16px/19px BentonSans;
	color: #FFFFFF;
	line-height: 54px;
	width: 78px;
	text-align: center;
	border: 0px;
}
.filter-section .block-filter .button-hide-filter,
.filter-section .block-filter .button-show-filter{
	font: Bold 14px/17px BentonSans;
    letter-spacing: 0;
    color: #56BC2F;
    background: #fff;
    border: 0;
    width: 120px;
    text-align: left;
    padding: 0;
    margin-left: 0;
    position: relative;
    display: none;
}
.filter-section .block-filter .button-show-filter::after{
	content: '';
    margin-left: 20px;
    display: inherit;
    width: 13px;
    height: 7px;
    background: url(images/landing-blog/arror-filter-black.png) no-repeat;
    position: absolute;
    top: 23px;
    right: 0;
}
.filter-section .block-filter .button-hide-filter::after{
	content: '';
    margin-left: 20px;
    display: inherit;
    width: 13px;
    height: 7px;
    background: url(images/landing-blog/arror-filter-black.png) no-repeat;
    position: absolute;
    top: 23px;
    right: 0;
}
.filter-section .block-filter .button-filter-gird{
	background: url('images/landing-blog/btn-grid-view-active.png');
	background-repeat: no-repeat;
}
.layout-list .filter-section .block-filter .button-filter-gird{
	background: url('images/landing-blog/btn-grid-view.png');
	background-repeat: no-repeat;
}
.filter-section .block-filter .button-filter-list{
	background: url('images/landing-blog/btn-list-view.png');
	background-repeat: no-repeat;
}
.layout-list .filter-section .block-filter .button-filter-list{
	background: url('images/landing-blog/btn-list-view-active.png');
	background-repeat: no-repeat;
}

/*---------BLOG--------------*/
.post-detail{
	display: flex;
}
.post-detail #main-content{
	flex: 0 0 75%;
}
.post-detail .sidebar-right{
	flex: 0 0 25%;
}
section.blogs{
	max-width: 80%;
	margin: auto;
}
.blog-items{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -30px;
}
.blog-items .blog-item{
	max-width: 33.3333%;
    flex: 0 0 33.3333%;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 60px;
}
.blog-items .blog-item .post-meta{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.blog-items .blog-item .post-meta .tags{
	flex: 0 0 75%;
}
.detail-blogs .post-meta .tag,
.blog-items .blog-item .post-meta .tags .tag{
	font: 700 11px/16px BentonSans;
	letter-spacing: 0.55px;
	color: #56BC2F;
	border: 1px solid #56BC2F;
	padding: 3px;
	text-transform: uppercase;
	white-space: nowrap;
	margin-bottom: 2px;
	display: inline-block;
}
.blog-items .blog-item .post-meta .block-published{
	flex: 0 0 25%;
	text-align: right;
}
.blog-items .blog-item .post-meta .block-published p{
	padding-bottom: 0px;
	font: 700 11px/16px BentonSans;
	letter-spacing: 0.55px;
	color: #B9B9B9;
	text-transform: uppercase;
}
.blog-items .blog-item .post-meta .block-published a{
	color: #B9B9B9;
	text-decoration: underline;
}
.blog-items .blog-item .entry-title{
	line-height: 30px;
	position: relative;
}
.blog-items .blog-item.item-featured .entry-title{
    /*background-color:yellow;line-height:2*/
}
.blog-items .blog-item .entry-title a{
	text-align: left;
	font-family: BentonSans;
	font-weight: 700;
	font-size: 22px;
	line-height: normal;
	letter-spacing: 0;
	color: #000000;
}
/*.blog-items .blog-item.item-featured .entry-title a{
	display: initial;
	background: repeating-linear-gradient(#89CD5E 4px 18px, #fff 4px 18px);
	/*-moz-box-shadow: inset 8px 8px #fff;
	-webkit-box-shadow: inset 8px 8px #fff;*/
	/*//box-shadow: inset 8px 8px #fff;*/
/*}*/
.blog-items .blog-item .post-content p{
	margin-top: 10px;
	font: 400 16px/19px BentonSans;
	letter-spacing: 0;
	color: #777777;
	padding-bottom: 30px;
}
.button-more{
	display: inline-block;
    height: 54px;
}
.button-more .more-link{
	font: 400 16px/54px BentonSans;
	color: #000000;
	display: flex;
}
section.blogs .block-load-more{
	margin-top: 60px;
	text-align: center;
}
.block-load-more .button-load-more{
	width: 121px;
	height: 54px;
	border: 1px solid #56BC2F;
	background: #fff;
	font: 500 16px/19px BentonSans;
	letter-spacing: 0;
	color: #56BC2F;
}
.layout-list .blog-items{
	display: block;
	max-width: 80%;
	margin-right: 0px;
	margin-left: 0px;
}
.layout-list .blog-items .blog-item{
	max-width: 100%;
    flex: 0 0 100%;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
}
.layout-list .blog-items .button-more{
	display: none;
}
.layout-list .blog-items .blog-item .post-meta .block-published{
	display: inherit;
}
.layout-list .blog-items .blog-item .block-content-blog{
	padding-left: 30px;
}
.layout-list .blog-items .blog-item.item-featured .img-thumbnail{
    flex: 0 0 30%;
}
.layout-list .blog-items .blog-item .img-thumbnail{
    flex: 0 0 20%;
}
.layout-list .blog-items .blog-item .entry-title{
	line-height: 20px;
}
.layout-list .blog-items .blog-item .entry-title a{
	font-size: 18px;
}
section.blogs.layout-list .block-load-more{
	text-align: left;
}
/*---------END BLOG--------------*/
/*---------SOLUTION--------------*/

section.solution .block-title{
	background: #56BC2F 0% 0% no-repeat padding-box;
	padding-top: 60px;
	padding-bottom: 110px;
}
section.solution .block-title .col-title{
	max-width: 80%;
    margin: auto;
}
section.solution .block-title h2.title{
	width: 75%;
	font: 700 48px/58px BentonSans;
	letter-spacing: 0;
	color: #FFFFFF!important;
	text-transform: uppercase;
	margin-bottom: 30px;
}
section.solution .solution-item{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #AAAAAA;
	padding: 30px 30px 0;
}
section.solution .solution-item .icon{
	padding: 10px;
}
section.solution .solution-item h3.title{
	font: 500 22px/30px BentonSans;
	letter-spacing: 0;
	color: #000000;
	padding: 15px 0px;
}
section.solution .solution-item .text-box{
	font: 400 16px/19px BentonSans;
	letter-spacing: 0;
	color: #777777;
	margin-bottom: 30px;
}
section.solution .block-solution{
	margin-top: -100px;
}
/*-----------END SOLUTION------------*/
.row_custom{
	display: flex;
	margin-left: -10px;
    margin-right: -10px;
}
.row_not_col{
	width: 80%;
	margin: auto;
}
.row_solution{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row_solution .col{
    flex: 0 0 25%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.section-custom{
	padding: 60px 0px;
}
.button-access-tour{
	display: inline-block;
	background: #FF6600 0% 0% no-repeat padding-box;
    height: 54px;
    border: 0;
    color: #fff;
    padding: 0 45px 0 30px;
    font: 500 16px/54px BentonSans;
    position: relative;
}
.button-access-tour::after{
	content: '';
    width: 16px;
    height: 14px;
    background: url(images/landing-blog/arrow-white.png) no-repeat;
    display: inherit;
    position: absolute;
    top: 20px;
    right: 10px;
}
.text-right{
	text-align: right;
}
.mt-30{
	margin-top: 30px;
}
.button img{
	margin-left: 15px;
}
.type-post-blog .post-content{
	margin-bottom: 30px;
}
/*----------BLOG DETAIL------------*/
/*----------BLOG HEADER DETAIL------------*/
.post-detail .header-blog-title{
	font: 700 48px/58px BentonSans;
	letter-spacing: 0;
	color: #000000;
	text-transform: uppercase;
	width: 70%;
	margin-top: 30px;
}
/*----------END BLOG HEADER DETAIL------------*/
/*----------BLOG DETAIL------------*/
.detail-blogs .the-article-header{
	padding-bottom: 30px;
}
.detail-blogs .the-article-header .block-published p{
	font: Bold 11px/16px BentonSans;
	letter-spacing: 0.55px;
	color: #B9B9B9;
	text-transform: uppercase;
	display: initial;
}
.detail-blogs .the-article-header .block-published a{
	display: initial;
	color: #B9B9B9;
	text-decoration: underline;
}
.detail-blog .thumbnail-post img{
	float: left;
	margin-right: 30px;
	margin-bottom: 1px;
}
.detail-blog{
}
.detail-blog .content-post{
	color: #000;
	font: 400 16px/26px BentonSans;
}

/*----------BLOG AUTHOR------------*/
.section-author .block-author{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 75%;
    border-bottom: 1px solid #B9B9B9;
    border-top: 1px solid #B9B9B9;
}
.section-author .block-author .content{
	padding-top: 15px;
}
.section-author .block-author .img-author{
	max-width: 200px;
    flex: 0 0 200px;
}
.section-author .block-author .content .title-name{
	font: Bold 22px/30px BentonSans;
	color: #000000;
}
.section-author .block-author .content .author-description{
	font: 400 16px/19px BentonSans;
	color: #777777;
	padding: 15px 0px;
}
.section-author .block-author .content .button-link{
	line-height: 54px;
}
.section-author .block-author .content .link{
	font: 400 16px/19px BentonSans;
	color: #000000;
}
.section-author-blogs .title-block-blogs{
	font: Bold 32px/36px BentonSans;
	text-transform: uppercase;
	margin-bottom: 30px;
}
/*----------END BLOG AUTHOR------------*/
/*----------END BLOG DETAIL------------*/
.related-products .title-releated{
	font: Bold 18px/26px BentonSans;
	padding-bottom: 30px;
}
.related-products .items{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    max-width: 75%;
}
.related-products .items .item{
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
}
.related-products .items .item .item-inner{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    border: 1px solid #aaa;
}
.related-products .items .item .item-inner .content{
	padding: 3px 10px;
}
.related-products .items .item .item-inner .icon{
	flex: 0 0 30px;
}
.related-products .items .item .item-inner .title-product{
	font: Bold 11px/16px BentonSans;
	letter-spacing: 0.55px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.related-products .items .item .item-inner .text{
	font: 400 14px/20px BentonSans;
	letter-spacing: 0;
	color: #777777;
	min-height: 60px;
}
/*----------END BLOG DETAIL------------*/
/*----------AUTHOR DETAIL------------*/
.page-author{
	max-width: 75%;
}
.section-author-blogs{
	border-top: 1px solid #aaa;
}
.block-author .author-inner{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.block-author .author-inner .block-img-author{
	flex: 0 0 33.33333%;
}
.block-author .author-inner .img-author{
	width: 100%;
	margin-bottom: 15px;
}
.block-author .author-inner .block-img-author .button{
	font: 400 16px/52px BentonSans;
	display: inline-block;
	margin-right: 5px;
	color: #000000;
	position: relative;
    padding-right: 35px;
}
.block-author .author-inner .block-img-author .button:after{
	content: '';
    width: 16px;
    height: 14px;
    background: url(images/landing-blog/arrow-black.png) no-repeat;
    display: inherit;
    position: absolute;
    top: 20px;
    right: 0;
}
.block-author .author-inner .content-author{
	flex: 0 0 66.66667%;
	padding: 5px 0px 0 60px;
}
.block-author .author-inner .content-author .name-author{
	font: Bold 48px/58px BentonSans;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.block-author .author-inner .content-author .job-name{
	font: Bold 16px/19px BentonSans;
	letter-spacing: 0;
	color: #000000;
	margin-bottom: 15px;
}
.block-author .author-inner .content-author .description-author{
	font: 400 16px/19px BentonSans;
	letter-spacing: 0;
	color: #777777;
	margin-bottom: 30px;
}
.block-author .author-inner .content-author .topics-author{
	border: 1px solid #aaa;
	padding: 20px 25px 0;
}
.block-author .author-inner .content-author .topics-author .title{
	font: 500 22px/30px BentonSans;
	letter-spacing: 0;
	color: #56BC2F!important;
	margin-bottom: 15px;
}
.block-author .author-inner .content-author .topics-author .lable-topics{
	font: Bold 16px/19px BentonSans;
	color: #000000;
}
.block-author .author-inner .content-author .topics-author .ul-topics{
	margin-bottom: 20px;
}
.block-author .author-inner .content-author .topics-author .ul-topics li::before {
    content: "\25a0";
    color: #56BC2F;
    font-weight: bold;
    font-family:"Webdings";
    display: inline-block;
    width: 1em;
    font-size: 25px;;
}
.block-author .author-inner .content-author .topics-author .ul-topics li{
	font: 400 16px/28px BentonSans;
	color: #777777;
}
.block-author .author-inner .content-author .topics-author .button-topics .button{
	font: 400 16px/52px BentonSans;
	display: inline-block;
	margin-right: 5px;
	padding: 0px 20px;
	border: 1px solid #56BC2F;
	margin-bottom: 20px;
	padding-right: 45px;
	position: relative;
}
.block-author .author-inner .content-author .topics-author .button-request{
	background: #56BC2F;
	color: #fff;
}
.block-author .author-inner .content-author .topics-author .button-view:after{
	content: '';
    width: 16px;
    height: 14px;
    background: url(images/landing-blog/arrow-black.png) no-repeat;
    display: inherit;
    position: absolute;
    top: 20px;
    right: 10px;
}
.block-author .author-inner .content-author .topics-author .button-request:after{
	content: '';
    width: 16px;
    height: 14px;
    background: url(images/landing-blog/arrow-white.png) no-repeat;
    display: inherit;
    position: absolute;
    top: 20px;
    right: 10px;
}
.section-author-blogs .blog-items .blog-item .post-meta .tags{
	flex: 0 0 60%;
}
.section-author-blogs .blog-items .blog-item .post-meta .block-published{
	flex: 0 0 40%;
	justify-content: flex-end;
}
.section-author-blogs .blog-items .blog-item{
	margin-bottom: 30px;
}
.section-author-blogs .blog-items .blog-item.item-featured .img-thumbnail,
.section-author-blogs .blog-items .blog-item .img-thumbnail{
	flex: 0 0 25%;
}
.section-author-blogs .blog-items{
	margin-bottom: 60px;
}
/*----------END AUTHOR DETAIL------------*/
@media only screen and (max-width: 922px){
	.post-detail #main-content{
		flex: 0 0 100%;
	}
	.post-detail .sidebar-right{
		flex: 0 0 100%;
	}
	.header-blog-section .header-blog-title{
		font: Bold 36px/40px BentonSans
	}
	.header-blog-section .header-blog-title span:before{
		background: #acf180;
	    position: absolute;
	    width: 97%;
	    left: 12px;
	    height: 59%;
	    content: '';
	    z-index: -1;
	    top: 13px;
	}
	.blog-items .blog-item{
		max-width: 50%;
    	flex: 0 0 50%;
	}
	.blog-items .blog-item .img-thumbnail{
		margin-bottom: 15px;
	}
	section.solution .block-title h2.title{
		font: Bold 32px/36px BentonSans;
	}
	.header-detail-blog .header-blog-title{
		font: Bold 30px/34px BentonSans;
		width: 100%;
	}
	.row_solution .col{
		flex: 0 0 50%;
	}
	section.detail-blogs{
		padding-top: 30px;		
	}
	.detail-blog{
		max-width: 100%;
	}
	.related-products .items{
		max-width: 100%;
	}
	.related-products .items .item{
		max-width: 100%;
    	flex: 0 0 100%;
	}
	/*---------FILTER----------*/
	.filter-section .block-filter{
		display: flex;
		justify-content: space-between;
	}
	.filter-section .block-filter.active{
		display: block;
	}
	.filter-section .block-filter.active form{
		display: block;	
	}
	.filter-section .block-filter form .input{
		display: none;
	}
	.filter-section .block-filter input, .filter-section .block-filter select{
		width: 100%;
		margin-right: 0px;
	}
	.filter-section .block-filter .block-button .button-filter{
		display: none;
	}
	.filter-section .block-filter.active form .input{
		display: block;
	}
	.filter-section .block-filter.active .block-button .button-filter{
		display: block;
	}
	.filter-section .block-filter.active form .block-button{
		display: flex;
    	justify-content: space-between;
    	margin-top: 15px;
	}
	.filter-section .block-filter.active form .block-button .button-filter{
		margin-left: 0px;
	}
	.filter-section .block-filter.active .button-filter-list{
		margin-right: 0px;
	}
	.filter-section .block-filter .button-show-filter{
		display: inline-block!important;
	}
	.filter-section .block-filter.active .button-show-filter{
		display: none!important;
	}
	.filter-section .block-filter .button-hide-filter{
		display: none!important;
	}
	.filter-section .block-filter.active .button-hide-filter{
		display: inline-block!important;
	}
	/*---------END FILTER----------*/
	.layout-list .blog-items{
		max-width: 100%;
	}
	/*---------AUTHOR DETAIL----------*/
	.page-author{
		max-width: 100%;
	}
	.section-author-blogs .blog-items{
		max-width: 100%;
	}
	/*---------END AUTHOR DETAIL----------*/
}
@media only screen and (max-width: 768px){
	.header-blog-section .header-blog-section .description{
		padding-top: 0px;
	}
	.row_solution .col{
		flex: 0 0 100%;
	}
	/*---------BLOG----------*/
	.layout-list .blog-items .blog-item .img-thumbnail{
		display: none;
	}
	.layout-list .blog-items .blog-item .block-content-blog{
		padding-left: 0px;
	}
	.blog-items .blog-item .img-thumbnail{
		max-width: 85%;
	}
	.blog-items .blog-item{
		max-width: 100%;
    	flex: 0 0 100%;
	}
	.layout-list .blog-items{
		max-width: 100%;
	}
	.layout-list .blog-items .blog-item .entry-title{
		margin-top: 10px;
		line-height: 30px;
	}
	.layout-list .blog-items .blog-item .entry-title a{
		font-size: 22px;
	}
	.layout-list .blog-items .blog-item .post-meta .block-published{
		display: block;
	}
	.section-author .block-author{
		display: block;
		max-width: 100%;
	}
	.detail-blog .thumbnail-post img{
		clear: both;
		margin-right: 0px;
		margin-bottom: 15px;
	}
	/*---------END BLOG----------*/
	/*---------AUTHOR DETAIL----------*/
	.block-author .author-inner .block-img-author{
		flex: 0 0 100%;
	}
	.block-author .author-inner .img-author{
		max-width: 50%;
	}
	.block-author .author-inner .content-author{
		flex: 0 0 100%;
		padding: 0px;
	}
	.block-author .author-inner .content-author .name-author{
		font: Bold 36px/40px BentonSans;
	}
	.block-author .author-inner .content-author .topics-author .button-topics .button{
		width: 100%;
	}
	.section-author-blogs .title-block-blogs{
		font: Bold 30px/34px BentonSans;
	}
	/*---------END AUTHOR DETAIL----------*/
	.row_sm_1{
		display: block;
	}
	.col_sm_12 {
	    flex: 100%;
	    -ms-flex: 100%;
	    max-width: 100%;
	}
	.row_sm_1 .col{
	    -ms-flex: 100%;
		flex: 100%;
	}
}
@media only screen and (max-width: 576px){
	.section-author-blogs .blog-items .blog-item .post-meta .block-published{
		flex: 0 0 37%;
	}
}

/*----------NEWSROOM DETAIL------------*/
.page-news-room-detail{
	max-width: 1190px;
	margin: auto;
	padding: 0 25px;
	.header-detail-newsroom{
		max-width: 75%;
		@media only screen and (max-width: 992px){
			max-width: 100%;
		}
		.boxed-text{
			border: 1px solid #aaa;
			display: inline-block;
		    margin: 30px 0px 10px 0px!important;
		    font-size: 11px;
		    line-height: 11px;
		    font-family: 'BentonSans',Helvetica, Arial, Lucida, sans-serif;
		    font-weight: bold;
		    letter-spacing: 0.55px;
			color: #B9B9B9;
			text-transform: uppercase;
			padding: 5px!important;
		}
		.header-blog-title{
			text-transform: none;
			font: 700 34px/47px BentonSans;
			letter-spacing: 0;
			color: #000000;
			padding-bottom: 20px;
			width: 100%;
			@media only screen and (max-width: 992px){
				font: 700 30px/34px BentonSans;
			}
		}
		.excerpt{
    		font: 700 22px/30px BentonSans;
			letter-spacing: 0;
			color: #000000;
		}
		.the-article-header{
			padding-top: 60px;
			padding-bottom: 40px;
			.post-meta{
				.block-published{
					p{
						font: 700 11px/16px BentonSans;
						letter-spacing: 0.55px;
						color: #B9B9B9;
						text-transform: uppercase;
					}
				}
			}
		}
	}
	#main-content{
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-flow: row wrap;
	    flex-flow: row wrap;
		.entry-content{
			max-width: 75%;
			flex: 0 0 75%;
			padding-right: 30px;
			@media only screen and (max-width: 992px){
				max-width: 100%;
				flex: 0 0 100%;
				padding-right: 0px;
			}
			.detail-news-room{
				.content-post{
					font: 400 16px/26px BentonSans;
					letter-spacing: 0;
				}
			}
			.about-enverus{
				width: 88%;
				.title-about-enverus{
					font-size: 26px;
					line-height: 34px;
					font-weight: bold;
					font-family: 'BentonSans',Helvetica,Arial,Lucida,sans-serif!important;
					letter-spacing: 0;
					color: #000000;
					padding-bottom: 15px;
					text-transform: uppercase;
					img{
						height: 20px;
					}
				}
				.content-enverus{
					color: #707070;
				    font: 400 16px/24px BentonSans;
				}
			}
		}
		.sidebar-right{
			max-width: 25%;
			flex: 0 0 25%;
			@media only screen and (max-width: 992px){
				max-width: 100%;
				flex: 0 0 100%;
			}
			.widget-newsroom{
				padding: 30px;
				background: #56BE2F;
				margin-bottom: 30px;
				.title-widget{
					font: 700 26px/32px BentonSans;
					color: #FFFFFF;
					padding-bottom: 20px;
				}
				.text-widget{
					font: 400 16px/24px BentonSans;
					color: #000000;
					padding-bottom: 40px;
				}
				.button-link{
					padding: 20px;
					background: #fff;
					a{
						font: 400 16px/19px BentonSans;
						color: #000;
					}
				}
			}
		}
	}
}/*----------END NEWSROOM DETAIL------------*/
/*----------SPEAKERS------------*/
.page-spearkers{
	max-width: 1190px;
	margin: auto;
	padding: 0 25px;
	.section-header{
		max-width: 870px;
		padding-bottom: 60px;
		@media only screen and (max-width: 992px){
			max-width: 100%;
		}
		.header-page{
			.et_pb_section{
				padding-top: 30px;
				.et_pb_row{
					padding: 0px;
					width: 100%;
					h1{
						text-transform: none;
						font-family: 'BentonSans-Bold',Helvetica, Arial, Lucida, sans-serif;
						font-size: 48px;
						line-height: 58px;
						letter-spacing: 0;
						color: #000000;
						padding-bottom: 20px;
						text-transform: uppercase;
						@media only screen and (max-width: 992px){
							font: 700 32px/34px BentonSans;
							font-family: 'BentonSans-Bold',Helvetica, Arial, Lucida, sans-serif;
						}
					}
					p{
			    		font: 400 16px/24px BentonSans;
			    		font-family: 'BentonSans-Regular',Helvetica, Arial, Lucida, sans-serif;
						letter-spacing: 0;
						color: #777777;
					}
				}
			}
		}
		.s-search{
			margin-top: 45px;
			select{
				height: 54px;
				border: 0px;
				border-bottom: 2px solid #56BC2F;
				font: 500 16px/19px BentonSans;
				font-family: 'BentonSans-Medium',Helvetica, Arial, Lucida, sans-serif;
				color: #000000;
				-moz-appearance:none; /* Firefox */
			    -webkit-appearance:none; /* Safari and Chrome */
			    appearance:none;
			    overflow: hidden;
			  	overflow: -moz-hidden-unscrollable;
			  	background: url(images/arrow-bottom-black.svg) no-repeat right white;
			  	@media only screen and (max-width: 480px){
					width: 100%;
			  	}
			}
		}
	}
	#main-content{
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-flow: row wrap;
	    flex-flow: row wrap;
		.entry-content{
			max-width: 90%;
			flex: 0 0 90%;
			padding-right: 30px;
			@media only screen and (max-width: 992px){
				max-width: 100%;
				flex: 0 0 100%;
				padding-right: 0px;
			}
			.s-speakers{
				.item-speaker{
					padding-bottom: 100px;
					.item-inner{
						display: -ms-flexbox;
					    display: flex;
					    -ms-flex-flow: row wrap;
					    flex-flow: row wrap;
					    .item-title{
				    		font: 700 36px/30px BentonSans;
				    		font-family: 'BentonSans-Bold',Helvetica, Arial, Lucida, sans-serif;
							color: #000000;
							padding-bottom: 25px;
							text-transform: uppercase;
				    	}
				    	.item-job{
				    		font: 500 22px/30px BentonSans;
				    		font-family: 'BentonSans-Medium',Helvetica, Arial, Lucida, sans-serif;
							color: #000000;
							padding-bottom: 25px;
				    	}
					    .item-thumbnail{
					    	width: 340px;
					    	img{
					    		width: 100%;
					    		@media only screen and (max-width: 992px){
					    			width: auto;
					    		}
					    	}
					    }
					    .item-content{
					    	width: calc( 100% - 340px );
					    	padding-left: 50px;
					    	@media only screen and (max-width: 992px){
					    		width: 100%;
					    		padding-left: 0px;
					    	}
					    	.item-title{
					    		font: 700 36px/30px BentonSans;
								color: #000000;
								padding-bottom: 25px;
								text-transform: uppercase;
					    	}
					    	.item-job{
					    		font: 500 22px/30px BentonSans;
								color: #000000;
					    	}
					    	.item-topics{
					    		padding: 30px 0;
					    		.p-topics{
					    			font: 700 16px/19px BentonSans;
									color: #000000;
					    		}
					    		.topics{
					    			list-style: none;
					    			padding-left: 0px;
					    			padding-bottom: 0px;
									li{
						    			font: 400 16px/28px BentonSans;
						    			font-family: 'BentonSans-Regular',Helvetica, Arial, Lucida, sans-serif;
										letter-spacing: 0;
										color: #777777;
						    			&::before {
										    content: "\25a0";
										    color: #56bc2f;
										    font-weight: 700;
										    font-family: Webdings;
										    display: inline-block;
										    width: 1em;
										    font-size: 25px;
										}
						    		}
					    		}
					    	}
					    	.item-biography{
					    		padding-bottom: 40px;
					    		.p-biography{
					    			font: 700 16px/19px BentonSans;
					    			font-family: 'BentonSans-Bold',Helvetica, Arial, Lucida, sans-serif;
					    			color: #000;
					    			padding-bottom: 10px;
					    		}
					    		.content-biography{
									font: 400 16px/24px BentonSans;
									font-family: 'BentonSans-Regular',Helvetica, Arial, Lucida, sans-serif;
									color: #777777;
									p{
										font: 400 16px/24px BentonSans;
										font-family: 'BentonSans-Regular',Helvetica, Arial, Lucida, sans-serif;
										padding-bottom: 0px;
										color: #777;
									}
					    		}
					    	}
					    	.button-link{
					    		a{
					    			color: #fff;
					    			background: #56BC2F;
					    			height: 54px;
								    display: inline-block;
								    line-height: 56px;
								    padding-left: 20px;
					    		}
					    	}
					    }
					}
				}
			}
		}
	}
}
/*----------END SPEAKERS------------*/
/*----------BLOG LANDING PAGE------------*/
.header-blog-section{
	.container-custom{
		@media only screen and (max-width: 768px){
			width: 100%!important;
			margin: 0px!important;
			padding-left: 25px;
			padding-right: 25px;
		}
	}
	.header-blog-content{
		.header-blog-title{
			line-height: 40px;
			font-size: 36px;
			font-family: 'BentonSans-Bold',Helvetica,Arial,Lucida,sans-serif!important;
			color: #000000;
			text-transform: uppercase;
		}
	}
}
.filter-section{
	.et_pb_row{
		@media only screen and (max-width: 768px){
			width: 100%!important;
			margin: 0px!important;
			padding-left: 25px;
			padding-right: 25px;
		}
	}
	.block-filter{
		form{
			select{
				-webkit-appearance: none;
			    appearance: none;
			    overflow: hidden;
			    overflow: -moz-hidden-unscrollable;
			    background: url(images/arrow-bottom-black.svg) no-repeat right white;
			    @media only screen and (max-width: 768px){
			    	width: 100%!important;
			    }
			}
			input{
				@media only screen and (max-width: 768px){
			    	width: 100%!important;
			    }
			}
		}
	}
}
section.blogs{
	padding-top: 30px;
	@media only screen and (max-width: 768px){
		max-width: 100%!important;
		padding-right: 25px;
		padding-left: 25px;
	}
	.blog-items{
		.blog-item{
			.img-thumbnail{
				img{
					height: 180px;
					object-fit: cover;
				}
			}
			.block-content-blog{
				.post-meta{
					justify-content: space-between;
					.tags{
						.tag{
							margin-right: 5px;
							font-family: 'BentonSans-Bold',Helvetica,Arial,Lucida,sans-serif!important;
							font-size: 11px;
							line-height: 20px;
							letter-spacing: 0.55px;
							color: #56BC2F;
							text-transform: uppercase;
							padding: 0px 5px;
							margin: 0px 5px 0px 0px;
							height: 20px;
						}
					}
					.block-published{
						p{
							font-family: 'BentonSans-Bold', Helvetica, Arial, Lucida, sans-serif!important;
							font-size: 11px;
							line-height: 16px;
							letter-spacing: 0.55px;
							color: #B9B9B9;
							text-transform: uppercase;
						}
					}
					margin-bottom: 5px;
				}
				.entry-title{
					a{
						font-family: 'BentonSans-Bold', Helvetica, Arial, Lucida, sans-serif!important;
						font-size: 22px;
						color: #000000;
						display: block;
					}
				}
				.post-content{
					font-family: 'BentonSans-Regular', Helvetica, Arial, Lucida, sans-serif;
					font-weight: 400;
					text-overflow: ellipsis;
				    display: -webkit-box;
				    -webkit-box-orient: vertical;
				    -webkit-line-clamp: 3;
				    overflow: hidden;
				}
			}
		}
	}
}
.layout-list{
	section.blogs{
		.blog-items{
			.blog-item{
				&:nth-child(1){
					.img-thumbnail{
						max-width: 30%;
						flex: 0 0 30%;
					}
					.block-content-blog{
						max-width: 70%;
						flex: 0 0 70%;
					}
				}
				.block-content-blog{
					max-width: 80%;
					flex: 0 0 80%;
					@media only screen and (max-width: 768px){
						max-width: 100%!important;
						flex: 0 0 100%!important;
					}
					.post-meta{
						padding-top: 0px!important;
						.tags{
							flex: 0 0 60%;
							@media only screen and (max-width: 768px){
								flex: 0 0 70%;
							}
						}
						.block-published{
							flex: 0 0 40%;
							@media only screen and (max-width: 768px){
								flex: 0 0 30%;
							}
							display: block;
							p{
								display: inline;
								&.published{
									&::before{
										@media only screen and (min-width: 768px){
											content: ',';
											padding-right: 5px;
										}
									}
									@media only screen and (max-width: 768px){
										display: block;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*----------END BLOG LANDING PAGE------------*/


