<div class="card" ng-if="$ctrl.customer!=null">
    <h6 class="card-header">
        Information
    </h6>
    <div class="card-body">

        <div class="form-group">
            <label>Full name</label>
            <input type="text" class="form-control form-control-lg" ng-model="$ctrl.customer.fullName">
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control form-control-lg" ng-model="$ctrl.customer.phoneNumber">
        </div>
        <div class="form-group">
            <label>Birthday</label>
            <input type="text" class="form-control form-control-lg" ng-model="$ctrl.customer.birthday">
        </div>
    </div>
</div>
