<div class="row">
        <div class="col-md-12 ml-auto mr-auto">
                <h5 class="card-description text-white">Login</h5>
                <div class="card card-login card-plain">
            <form class="form-horizontal">
                <div class="input-group no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                    </div>
                    <input class="form-control"placeholder="Username" ng-model="loginData.username" required="" autofocus="" ng-enter="login()">
                </div>
                <div class="input-group no-border input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons objects_key-25"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" ng-model="loginData.password" required="" ng-enter="login()">
                    </div>
                    <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="loginData.rememberme">
                                <span class="form-check-sign"></span>
                                Remember me
                            </label>
                        </div>
                        <div class="footerButton">
                                <div class="card-footer text-center">
                                    <button ng-click="login()" class="btn btn-primary btn-round btn-lg btn-block" ng-disabled="!loginData.password || !loginData.username">
                                        Login
                                    </button>
                                </div>
                            </div>
            </form>
            </div>
    
        </div>           
        </div>
    </div>
    <br>