<div class="tab-pane">
    <div class="form-group">
        <label>Friendly URL Name</label>
        <input type="text" class="form-control" ng-model="$ctrl.post.seoName">
    </div>
    <div class="form-group">
        <label>Friendly Title</label>
        <input type="text" class="form-control" ng-model="$ctrl.post.seoTitle">
    </div>
    <div class="form-group">
        <label>Meta Description</label>
        <input type="text" class="form-control" ng-model="$ctrl.post.seoDescription">
    </div>
    <div class="form-group">
        <label>Meta Keywords</label>
        <input type="text" class="form-control" ng-model="$ctrl.post.seoKeywords">
    </div>
</div>