<div class="position-sticky" style="top: 4rem; z-index: 12;">

    <div class="card mb-3 sw-nav-action mb-3">
        <div class="nav card-body p-3 justify-content-end">

            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" ng-click="$ctrl.back()" class="btn btn-secondary btn-sm px-5"><i class="fa fa-chevron-left"></i>
                    <span ng-bind="$ctrl.translate('Back')"></span></button>
            </div>
            <div ng-if="$ctrl.previewUrl" class="btn-group mr-2" role="group" aria-label="First group">
                <a target="_blank" href="{{$ctrl.previewUrl}}" class="btn btn-info btn-sm px-5"><i class="far fa-eye"></i>
                    <span ng-bind="$ctrl.translate('Preview')"></span></a>
            </div>
            <div ng-if="$ctrl.contentUrl" class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{{$ctrl.contentUrl}}" class="btn btn-info btn-sm px-5"><i class="fa fa-align-justify"></i>
                    <span ng-bind="$ctrl.translate('Data')"></span></a>
            </div>
            <div class="btn-group" role="group" aria-label="First group">
                <button id="btnToSubmit" type="submit" class="btn btn-primary px-5"><i class="fa fa-save"></i>
                    <span ng-bind="$ctrl.translate('Save')"></span></button>

            </div>

        </div>
    </div>
</div>