<div class="card" ng-init="$ctrl.init()">
    <h6 class="card-header">
        {{$ctrl.header }}
    </h6>
    <div class="card-body p-0" style="background:url(/images/upload-image-thumbnail.png) no-repeat center;  cursor:pointer;">        
        <img imageonload ng-src="{{$ctrl.srcUrl}}" ng-if="$ctrl.srcUrl" name="pic" class="custom-file-img d-block" style="/*max-height: 150px;*/ width: 100%;" accept="image/*">
        <input type="hidden" value="{{$ctrl.type}}/{{$ctrl.folder}}" class="folder-val">
    </div>
    <div class="card-footer">
            <div class="form-group">
                <label>From URL</label>
                <input type="text" ng-model="$ctrl.src" ng-change="$ctrl.srcUrl = $ctrl.src" class="form-control">
            </div>
            <div class="form-group m-0">
                <label>From File</label>

                <div class="custom-file">
                        <!-- <input type="file" class="custom-file-input" id="customFile"> -->
                        <input id="{{$ctrl.id}}" type="file" name="pic" ngf-select="$ctrl.selectFile($file, $invalidFiles)" data-file="file.file" class="position-absolute" style="width:100%; /*height:130px;*/ cursor:pointer;">
                        <label class="custom-file-label" for="{{$ctrl.id}}">Choose file</label>
                    </div>
            </div>
    </div>
</div>