<div class="card" ng-if="$ctrl.product!=null">
    <h6 class="card-header">
        <span ng-bind="$ctrl.translate('portal_main_content')"></span>
    </h6>
    <div class="card-body">

        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control form-control-lg" ng-model="$ctrl.product.title" ng-blur="$ctrl.generateSEO()">
        </div>
        <div class="row">
            <div class="form-group col">
                <label>Price</label>
                <input type="text" class="form-control" ng-model="$ctrl.product.strNormalPrice" ng-blur="$ctrl.product.strNormalPrice = $ctrl.formatPrice($ctrl.product.strNormalPrice)">
            </div>
            <div class="form-group col">
                <label>Price Unit</label>
                <select class="form-control" ng-model="$ctrl.product.priceUnit">
                    <option ng-repeat="p in  $ctrl.privacies" ng-vallue="p">{{p}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Excerpt</label>
            <textarea class="form-control editor-content excerpt" ng-model="$ctrl.product.excerpt">{{$ctrl.product.excerpt}}</textarea>
            
        </div>
        <div class="form-group">
            <label>Body content</label>
            <trumboyw-editor content="$ctrl.product.content"></trumboyw-editor>
        </div>
    </div>
</div>