@{
    var socials = MixCmsHelper.GetModule("socials", ViewBag.culture);
}
<div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('@Model.ImageUrl');">
    </div>
    <div class="content-center">
        <h1 class="title">This is our great company.</h1>
        <div class="text-center">
            @if(socials!=null){
                <partial name="@socials.TemplatePath" model="@socials"/>
            }
        </div>
    </div>
</div>
