<div class="form-group">
    <label>Server Name</label>
    <input type="text" ng-model="$ctrl.initCmsModel.dataBaseServer" class="form-control" placeholder="DB Server (e.g. domain or IP)">
</div>
<div class="form-group">
    <label>Database Name</label>
    <input ng-model="$ctrl.initCmsModel.dataBaseName" class="form-control" placeholder="DB name (e.g. MixDb)">
</div>


<div class="form-group">
    <label>Login</label>
    <input ng-model="$ctrl.initCmsModel.dataBaseUser" class="form-control" placeholder="DB Username">
</div>
<div class="form-group">
    <label>Password</label>
    <input ng-model="$ctrl.initCmsModel.dataBasePassword" type="password" class="form-control" placeholder="DB Password">
</div>