<!-- Main content -->
<!-- <jumbotrons tag-name="'Article'" tag-type="'1'"></jumbotrons> -->
<section class="" ng-init="getSingle()">
    <form ng-class="{'submitted': submitted}" ng-submit="save(activedData)">
        <div class="row">
            <section class="col-sm-8">
                <div class="row">
                    <div class="col-lg-12">
                        <article-main article="activedData" generate-seo="generateSEO()"></article-main>
                    </div>
                </div>


                <div class="card mb-3">
                    <div class="card-header">
                        <h6>General
                            <button class="btn btn-link text-primary btn-sm float-right" type="button"
                                data-toggle="collapse" data-target="#general-setting" aria-controls="general-setting"
                                aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="far fa-edit text-primary"></span> Edit general settings</button>
                        </h6>
                        <p class="text-muted">...</p>
                    </div>
                    <div id="general-setting" class="card-body collapse">
                        <article-general article="activedData"></article-general>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h6>Search engine listing preview
                            <button class="btn btn-link text-primary btn-sm float-right" type="button"
                                data-toggle="collapse" data-target="#seo-setting" aria-controls="seo-setting"
                                aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="far fa-edit text-primary"></span> Edit website SEO</button>
                        </h6>
                        <p class="text-muted">Add a title and description to see how this product might appear in a
                            search engine listing.</p>
                    </div>
                    <div id="seo-setting" class="card-body collapse">
                        <article-seo article="activedData"></article-seo>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h6>Parent
                            <button class="btn btn-link text-primary btn-sm float-right" type="button"
                                data-toggle="collapse" data-target="#parent-setting" aria-controls="parent-setting"
                                aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="far fa-edit text-primary"></span> Edit p&p settings</button>
                        </h6>
                        <p class="text-muted">...</p>
                    </div>
                    <div id="parent-setting" class="card-body collapse">
                        <article-parents article="activedData"></article-parents>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h6>Modules
                            <button class="btn btn-link text-primary btn-sm float-right" type="button"
                                data-toggle="collapse" data-target="#module-setting" aria-controls="module-setting"
                                aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="far fa-edit text-primary"></span> Edit modules setting</button>
                        </h6>
                        <p class="text-muted">...</p>
                    </div>
                    <div id="module-setting" class="card-body collapse">
                        <article-modules article="activedData"></article-modules>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h6>Medias
                            <button class="btn btn-link text-primary btn-sm float-right" type="button"
                                data-toggle="collapse" data-target="#medias-setting" aria-controls="medias-setting"
                                aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="far fa-edit text-primary"></span> Edit modules setting</button>
                        </h6>
                        <p class="text-muted">...</p>
                    </div>
                    <div id="medias-setting" class="card-body collapse">
                        <article-medias article="activedData" medias="activedData.mediaNavs"></article-medias>
                        <!--<navigation data="activedData.mediaNavs" prefix="media"></navigation>-->
                        <!--<navs data="activedData.mediaNavs" prefix="'media'" model="'nav-article-media'"></navs>-->
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h6>Related pots
                            <button class="btn btn-link text-primary btn-sm float-right" type="button"
                                data-toggle="collapse" data-target="#related-setting" aria-controls="related-setting"
                                aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="fas fa-plus text-primary"></span> Add related posts</button>
                        </h6>
                        <p class="text-muted">...</p>
                    </div>
                    <div id="related-setting" class="card-body collapse">
                        <related-navs request="request" source-id="activedData.id" culture="activedData.specificulture"
                            prefix="'article'" navs="activedData.articleNavs" data="data"
                            load-data="getList(pageIndex)"></related-navs>
                    </div>
                </div>

                <template-editor folder-type="'Articles'" template="activedData.view" templates="activedData.templates">
                </template-editor>
                <!-- 
                <tabs-v>
                    <pane-v title="General">
                        <article-general article="activedData"></article-general>
                    </pane-v>
                    <pane-v title="Seo">
                        <article-seo article="activedData"></article-seo>
                    </pane-v>
                    <pane-v title="Parents">
                        <article-parents article="activedData"></article-parents>
                    </pane-v>
                    <pane-v title="Modules">
                        <article-modules article="activedData"></article-modules>
                    </pane-v>
                    <pane-v title="Layout">
                        <div class="tab-pane">
                            <template-editor folder-type="'Articles'" template="activedData.view"
                                templates="activedData.templates"></template-editor>
                        </div>
                    </pane-v>
                    <pane-v title="Medias">
                        <article-medias article="activedData" medias="activedData.mediaNavs"></article-medias>
                        
                    </pane-v>
                    <pane-v title="Related">
                        <related-navs request="request" source-id="activedData.id" culture="activedData.specificulture"
                            prefix="'article'" navs="activedData.articleNavs" data="data"
                            load-data="getList(pageIndex)"></related-navs>
                    </pane-v>
                </tabs-v> -->
            </section>
            <section class="col-sm-4" style="padding-left:0">

                <actions preview-url="activedData.detailsUrl" back-url="referrerUrl"></actions>
                <cultures is-clone="activedData.isClone" data="activedData.cultures"></cultures>
                
                <collape-container title="'URL slugs'" actived-data="activedData" 
                    add-callback="addAlias()">
                    <pane-collape>
                            <url-alias ng-repeat="alias in activedData.urlAliases" index="$index" url-alias="alias"
                                remove-callback="removeAliasCallback(index)"></url-alias>
                    </pane-collape>
                </collape-container>          

                <div class="card mb-3">
                    <h6 class="card-header">
                        Info
                    </h6>
                    <div class="card-body">
                        <statuses status="activedData.status"></statuses>
                        <div class="form-group" ng-if="activedData.status == 4">
                            <label class="control-label">Published Date Time</label>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="mi mi-Calendar"></i></span>
                                </div>
                                <input value="{{activedData.publishedDateTime}}"
                                    ng-model="activedData.publishedDateTime" type="datetime-local" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Created Date Time</label>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="mi mi-Calendar"></i></span>
                                </div>
                                <input ng-model="activedData.createdDateTime" type="text" class="form-control"
                                    readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Created By</label>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="mi mi-Contact"></i></span>
                                </div>
                                <input ng-model="activedData.createdBy" class="form-control" readonly="readonly">
                            </div>
                        </div>

                    </div>
                </div>
                <custom-image header="'Image'" type="'Articles'" folder="activedData.seoName"
                    src-url="activedData.imageUrl" src="activedData.image" auto="'true'"></custom-image>
                <custom-image header="'Thumnail'" type="'Articles'" folder="activedData.seoName"
                    src-url="activedData.thumbnailUrl" src="activedData.thumbnail" auto="'true'"></custom-image>
            </section>
        </div>
    </form>
</section>
<!-- /.content -->