<div class="form-group">
    <label class="control-label" ng-if="isShowTitle" ng-bind="$ctrl.data.title"></label>
    <div ng-switch="$ctrl.data.dataType">
        <div ng-switch-when="0">
            <!--custom-->
            <input class="form-control {{$ctrl.inputClass}}" type="text" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="1">
            <!--datetime-->
            <input class="form-control {{$ctrl.inputClass}}" type="datetime-local" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="2">
            <!--date-->
            <input class="form-control {{$ctrl.inputClass}}" type="date" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="3">
            <!--time-->
            <input class="form-control {{$ctrl.inputClass}}" type="time" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="4">
            <!--duration-->
            <input class="form-control {{$ctrl.inputClass}}" type="text" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="5">
            <!--phonenumber-->
            <input class="form-control {{$ctrl.inputClass}}" type="tel" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="6">
            <!--Currency-->
            <input class="form-control {{$ctrl.inputClass}}" type="text" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="7">
            <!--Text-->
            <input class="form-control {{$ctrl.inputClass}}" type="text" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="8">
            <!--Html-->
            <trymboyw-editor content="$ctrl.data.value"></trymboyw-editor>
        </div>
        <div ng-switch-when="9">
            <!--TextArea-->
            <textarea class="form-control {{$ctrl.inputClass}}" rows="5" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}"></textarea>
        </div>
        <div ng-switch-when="10">
            <!--Email-->
            <input class="form-control {{$ctrl.inputClass}}" type="email" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="11">
            <!--Password-->
            <input class="form-control {{$ctrl.inputClass}}" type="password" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="12">
            <!--Url-->
            <input class="form-control {{$ctrl.inputClass}}" type="url" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="13">
            <!--ImageUrl-->
            <input class="form-control {{$ctrl.inputClass}}" type="url" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="14">
            <!--CreditCard-->
            <input class="form-control {{$ctrl.inputClass}}" type="text" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="15">
            <!--PostalCode-->
            <input class="form-control {{$ctrl.inputClass}}" type="text" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="16">
            <!--upload-->
            <custom-image header="''" type="'Modules'" folder="activedPage.seoName" src-url="$ctrl.data.value" ng-src="{{$ctrl.data.value}}" auto="'true'">
        </custom-image></div>
        <div ng-switch-when="17">
            <!--Color-->
            <input class="form-control {{$ctrl.inputClass}}" type="color" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="18">
            <!--Color-->
            <input class="{{$ctrl.inputClass}}" type="checkbox" ng-model="$ctrl.data.value" placeholder="{{$ctrl.data.title}}">
        </div>
        <div ng-switch-when="19">
            <div class="no-margin no-padding">
                <select class="form-control selectpicker {{$ctrl.inputClass}}" ng-model="$ctrl.data.value">
                    <option value="fab fa-envelope" data-content="<span><i class='fab fa-1x fa-envelope'></i></span>"></option>
                    <option value="fab fa-facebook" data-content="<span><i class='fab fa-1x fa-facebook'></i></span>"></option>
                    <option value="fab fa-twitter" data-content="<span><i class='fab fa-1x fa-twitter'></i></span>"></option>
                    <option value="fab fa-linkedin" data-content="<span><i class='fab fa-1x fa-linkedin'></i></span>"></option>
                    <option value="fab fa-skype" data-content="<span><i class='fab fa-1x fa-skype'></i></span>"></option>
                    <option value="fab fa fa-car" data-content="<span><i class='fab fa fa-car'></i></span>"></option>
                    <option value="fab fa fa-building" data-content="<span><i class='fab fa-building'></i></span>"></option>
                    <option value="fab fa fa-language" data-content="<span><i class='fab fa-language'></i></span>"></option>
                    <option value="fab fa fa-paper-plane-o" data-content="<span><i class='fab fa fa-paper-plane-o'></i></span>"></option>
                    <option value="fab fa fa-users" data-content="<span><i class='fab fa fa-users'></i></span>"></option>
                    <option value="fab fa fa-ticket" data-content="<span><i class='fab fa fa-ticket'></i></span>"></option>
                    <option value="now-ui-icons objects_globe" data-content="<span><i class='fab fa-1x now-ui-icons objects_globe'></i></span>"></option>
                    <option value="now-ui-icons tech_watch-time" data-content="<span><i class='fab fa-1x now-ui-icons tech_watch-time'></i></span>"></option>
                    <option value="now-ui-icons education_atom" data-content="<span><i class='fab fa-1x now-ui-icons education_atom'></i></span>"></option>
                </select>
            </div>
        </div>
    </div>
</div>