<!-- <section class="content container-fluid"> -->
<div class="card-header">
    <div class="row">
        <div class="col-md-12">
            <filter-list request="request" callback="getList(pageIndex)"></filter-list>
        </div>
        <div class="col-md-12">
            <a href="/portal/attribute-set-data/create?attributeSetId={{attributeSetId}}" class="btn btn-link">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
</div>
<div class="card-body">
    <table id="list-page" class="table table-sm table-hover sortable" cellspacing="0" ng-init="getList()">
        <!-- <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 3%;">
                    <span class="fas fa-sort"></span>
                </th>
                <th scope="col" style="width: 4%;">
                    <span class="fas fa-sort-numeric-down"></span>
                </th>
                <th scope="col" style="width: 25%;">
                    Title
                </th>
                <th scope="col" width="10%">
                    Image
                </th>
                <th scope="col" width="10%">
                    Created Date
                </th>
                <th scope="col" style="width: 10%;">
                    Created By
                </th>

                <th scope="col" style="width: 5%;">Actions</th>
            </tr>
        </thead> -->

        <tbody class="sortable" dnd-list="data" dnd-disable-if="canDrag">
            <tr ng-if="canDrag">
                <td colspan="7"><span class="text-warning" ng-bind="translate('warning_can_not_drag_drop',true, '(**Drag Drop only allow when order by priority asc)')"></span></td>
            </tr>
            <tr ng-repeat="item in data" dnd-draggable="item" dnd-effect-allowed="move" dnd-selected="selected = item" dnd-moved="updateInfos($index)" ng-class="{'selected': selected === item}">
                <td style="cursor:move;" class="drag-header">
                    <span class="fas fa-sort"></span>
                </td>
                <td>
                    <input type="text" value="{{item.priority}}" class="item-priority form-control form-control-sm d-inline" style="width:40px;">
                </td>
                <td ng-repeat="val in item.values">
                    <small>
                        <span ng-bind-html="val.stringValue"></span>
                    </small>
                </td>
                <td>
                    <div class="btn-group btn-group-sm btn-group-sm float-right" role="group" aria-label="Actions">
                        <a ng-click="goToPath('/portal/attribute-set-data/details?dataId='+ item.id +'&attributeSetId=' + attributeSetId+'&parentType=' + item.parentType+'&parentId=' + item.parentId)" class="btn btn-link">
                            <span class="fas fa-pencil-alt text-primary"></span>
                        </a>
                        <a ng-click="preview(item.post)" target="_blank" class="btn btn-link">
                            <span class="fas fa-eye text-info"></span>
                        </a>

                        <a ng-click="remove(item.id);" class="btn btn-link">
                            <span class="fas fa-times text-danger"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card-footer">
    <paging class="small" page="request.pageIndex + 1" page-size="request.pageSize" total="request.totalItems" ul-class="pagination justify-content-end m-0" a-class="page-link" paging-action="getList(page-1)" scroll-top="true"></paging>
</div>



<!-- </section> -->