<div class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">@Model.Title</h2>
                <h5 class="description">
                    @Html.Raw(Model.Description)
                </h5>
            </div>
        </div>
        <div class="separator separator-primary"></div>
    </div>
</div
