<div class="cd-section" id="contactus">
<!--     *********    CONTACT US 1     *********      -->
<div class="contactus-1 section-image" style="background-image: url('@Model.Image')">
    <div id="contactUsMap" class="map" style="width: 100%;height: 100%;position: absolute;top: 0;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2 class="title">Get in Touch</h2>
                <h4 class="description">You need more information? Check what other persons are saying about our product. They are very happy with their purchase.</h4>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="now-ui-icons location_pin"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Find us at the office</h4>
                        <p class="description"> Bld Mihail Kogalniceanu, nr. 8,
                            <br> 7652 Bucharest,
                            <br> Romania
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="now-ui-icons tech_mobile"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Give us a ring</h4>
                        <p class="description"> Michael Jordan
                            <br> +40 762 321 762
                            <br> Mon - Fri, 8:00-22:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ml-auto mr-auto">
                <div class="card card-contact card-raised">
                    
                        <div class="card-header text-center">
                            <h4 class="card-title">Contact Us</h4>
                        </div>
                        <div class="card-body">
                            <module-form name="contact_us" submit-text="'Send'" module-id="6" is-show-title="'true'"></module-form>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--     *********    END CONTACT US 1      *********      -->
</div>
