<div class="pricing-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <h2 class="title">Pick the best plan for you</h2>
                <ul class="nav nav-pills nav-pills-primary justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#pill1" role="tablist">
                            Legal Entity
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#pill2" role="tablist">
                            Individual
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
             @foreach (var item in Model.Data.Items)
            {
                <div class="col-md-4">
                    <div class="card card-pricing card-plain">
                        <div class="card-body">
                            <h6 class="category">@item.Property("category")</h6>
                            <h1 class="card-title">
                                <small>@item.Property("unit")</small>@item.Property("price")</h1>
                            <ul>
                                <li>
                                    <b>10GB</b> Disk Space</li>
                                <li>
                                    <b>100GB</b> Monthly Bandwidth</li>
                                <li>
                                    <b>20</b> Email Accounts</li>
                                <li>
                                    <b>Unlimited</b> subdomains</li>
                            </ul>
                            <a href="#pablo" class="btn btn-primary btn-round">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
