@model Mix.Cms.Lib.ViewModels.MixModules.ReadMvcViewModel
<!-- custom render view here -->    
    <div class="buttons">
        @if (Model!=null)
        {
            @foreach (var item in Model.Data.Items)
            {
            <a href="@item.Property("url")" class="btn btn-icon btn-link btn-neutral btn-lg">
                <i class="fab @item.Property("icon")"></i>
            </a>
            }
        }
    </div>
