<div class="testimonials-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <h2 class="title">What Clients Say</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-testimonial card-plain">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src="/Content/Templates/demo-nowui-122/assets/img/michael.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Andrew John</h3>
                        <h6 class="category text-primary">Loan Counselor</h6>
                        <p class="card-description">"Do not go where the path may lead, go instead where there is no path and leave a trail."
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-testimonial card-plain">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src="/Content/Templates/demo-nowui-122/assets/img/olivia.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Zoe Gabriella</h4>
                        <h6 class="category text-primary">Interpreter OR Translator</h6>
                        <p class="card-description">"Don't walk behind me; I may not lead. Don't walk in front of me; I may not follow. Just walk beside me and be my friend."
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-testimonial card-plain">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src="/Content/Templates/demo-nowui-122/assets/img/james.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Joshiah Luke</h4>
                        <h6 class="category text-primary">HR Specialist</h6>
                        <p class="card-description">"The pessimist complains about the wind; the optimist expects it to change; the realist adjusts the sails."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
