.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.star-rating .star {
    padding: 1px;
    color: #ddd;
    font-size: 12px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.star-rating .star.filled {
    color: #fd0;
}

.star-rating.readonly .star.filled {
    color: #666;
}