<div class="form-group">
    <div class="btn-group btn-group-sm btn-group-toggle d-flex w-100">
        <input ng-model="$ctrl.status" type="radio" class="custom-control-input" />
        <label ng-repeat="stt in $ctrl.contentStatuses" ng-switch="stt" ng-class="{active: $index === $ctrl.status}"
            ng-if="stt !== 'Preview'" class="btn btn-outline-primary btn-block mt-0">

            <i ng-switch-when="Deleted" ng-click="$ctrl.status = $index" class="mi mi-Delete mi-lg mi-fw"
                title="{{stt}}"></i>
            <i ng-switch-when="Preview" ng-click="$ctrl.status = $index" class="mi mi-Preview mi-lg mi-fw"
                title="{{stt}}"></i>
            <i ng-switch-when="Published" ng-click="$ctrl.status = $index" class="mi mi-Page mi-lg mi-fw"
                title="{{stt}}"></i>
            <i ng-switch-when="Draft" ng-click="$ctrl.status = $index"
                class="fas fa-pencil-alt mi-lg mi-flip-horizontal" title="{{stt}}"></i>
            <i ng-switch-when="Schedule" ng-click="$ctrl.status = $index"
                class="mi mi-Calendar mi-lg mi-flip-horizontal" title="{{stt}}"></i>
        </label>
    </div>
</div>
<div class="form-group">
    <label>Publish on</label>
    <div class="input-group">
        <input class="form-control" type="date">
        <select class="custom-select" id="inputGroupSelect01">
            <option selected="">Time</option>
            <option value="">10:30am</option>
            <option value="">11:00am</option>
            <option value="">11:30am</option>
            <option value="">12:00pm</option>
            <option value="">12:30pm</option>
            <option value="">1:00pm</option>
            <option value="">1:30pm</option>
            <option value="">2:00pm</option>
            <option value="">2:30pm</option>
            <option value="">3:00pm</option>
            <option value="">3:30pm</option>
            <option value="">4:00pm</option>
            <option value="">4:30pm</option>
            <option value="">5:00pm</option>
            <option value="">5:30pm</option>
            <option value="">6:00pm</option>
            <option value="">6:30pm</option>
            <option value="">7:00pm</option>
            <option value="">7:30pm</option>
            <option value="">8:00pm</option>
            <option value="">8:30pm</option>
            <option value="">9:00pm</option>
            <option value="">9:30pm</option>
            <option value="">10:00pm</option>
            <option value="">10:30pm</option>
            <option value="">11:00pm</option>
            <option value="">11:30pm</option>
        </select>
    </div>
</div>