<section>
    <filter-list request="request" callback="getList(pageIndex)"></filter-list>

    <table id="list-page" class="table table-sm table-hover sortable" cellspacing="0" ng-init="getList()">
        <thead class="thead-light">
            <tr>
                <th scope="col" width="4%">
                    <span class="oi oi-sort-ascending"></span>
                </th>               
                <th scope="col" width="20%">
                    Title
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col" width="15%">
                    Created Date
                </th>
                <th scope="col" width="10%">
                    By
                </th>

                <th scope="col" width="5%" class="text-right">Actions</th>
            </tr>
        </thead>

        <tbody class="sortable-item" ng-repeat="item in data.items track by $index" style="border: 1px;">
            <tr class="" sort-model="category" sort-model-id="{{item.id}}" data-toggle="collapse" href="#collapse-page{{item.id}}-childs" role="button" aria-expanded="false" aria-controls="collapse-page{{item.id}}-childs">

               
                <td class="drag-header">
                  
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light"><span class="oi oi-chevron-top small"></span></button>
                        <button type="button" class="btn btn-light"><span class="oi oi-chevron-bottom small"></span></button>
                    </div>
                </td>

                <td>
                    {{item.title}}
                </td>
                <td>
                    <small>
                        {{item.excerpt}}
                    </small>
                </td>
                <td>
                    <small>
                        {{item.createdDateTime | utcToLocal:'dd.MM.yy hh:mm a'}}
                    </small>
                </td>
                <td>
                    {{item.createdBy}}
                </td>

                <td>
                    <div class="btn-group btn-group-sm btn-group-sm float-right" role="group" aria-label="Actions">

                        <a ng-if="item.childs.length>0" class="btn btn-light" data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapse-page{{item.id}}-childs">
                            <span class="oi oi-list text-primary"></span>
                        </a>
                        
                        <a href="/portal/page/details/{{item.id}}" class="btn btn-light"><span class="oi oi-pencil text-primary"></span></a>
                        <a href="{{item.detailsUrl}}" target="_blank" class="btn btn-light"><span class="oi oi-eye text-primary"></span></a>
                        <a href="/portal/page/data/{{item.id}}" class="btn btn-light">
                            <span class="fas fa-list text-info"></span>
                        </a>

                        <a href="#" class="btn btn-light" ng-click="remove(item.id)">
                            <span class="oi oi-x text-danger"></span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="7" style="padding:0">
                    <div class="collapse" id="collapse-page{{item.id}}-childs" data-parent="#list-page">
                        <table class="table table-sm table-hover mb-0" cellspacing="0" style="background-color: #f5f5f5;" ng-if="item.childs.length>0">
                            <thead style="font-size:small; font-weight:normal">
                                <tr>
                                  
                                    <th scope="col" width="3%">
                                        <span class="oi oi-sort-ascending"></span>
                                    </th>
                                    <th scope="col" width="20%">
                                        Title
                                    </th>
                                    <th scope="col">
                                        Description
                                    </th>
                                    <th scope="col" width="15%">
                                        Created Date
                                    </th>
                                    <th scope="col" width="10%">
                                        Created By
                                    </th>

                                    <th scope="col" width="5%" class="text-right">Actions</th>
                                </tr>
                            </thead>

                            <tbody class="sortable">
                                <tr class="sortable-item" ng-repeat="c in item.childs track by $index">
                                   
                                    <td style="cursor:move;" class="drag-header">
                                        

                                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-link"><span class="oi oi-chevron-top small"></span></button>
                                            <button type="button" class="btn btn-link"><span class="oi oi-chevron-bottom small"></span></button>
                                        </div>
                                    </td>
                                    <td>
                                        <span ng-bind="c.title"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="c.excerpt"></span>
                                    </td>
                                    <td>
                                        <small>
                                            {{c.createdDateTime | utcToLocal:'dd.MM.yy - hh:mm a'}}
                                        </small>
                                    </td>
                                    <td>
                                        {{c.createdBy}}
                                    </td>

                                    <td>
                                        <div class="btn-group btn-group-sm btn-group-sm float-right" role="group" aria-label="Actions">
                                            <a href="/portal/page/details/{{c.id}}" class="btn btn-light"><span class="oi oi-pencil text-primary small"></span></a>
                                            <a href="{{c.detailsUrl}}" target="_blank" class="btn btn-light"><span class="oi oi-eye text-primary small"></span></a>
                                            <a href="/portal/page/data/{{c.id}}" class="btn btn-light">
                                                <span class="fas fa-list text-info"></span>
                                            </a>
                                            <a ng-click="removePage(item.id);" class="btn btn-light">
                                                <span class="fas fa-times text-danger"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>    
    <paging class="small" page="data.page" page-size="data.pageSize" total="data.totalItems" ul-class="pagination justify-content-end" a-class="page-link" paging-action="getList(page-1)" scroll-top="true"></paging>
</section>