<div class="mix-tree-view" ng-init="$ctrl.init()">
    <div class="row">
        <div ng-repeat="(zone, items) in $ctrl.dropzones" class="col-md-5">
            <div class="dropzone box box-yellow">
                <div dnd-list="items" dnd-allowed-types="list.allowedTypes">
                    <div ng-repeat="item in items" dnd-disable-if="item.type == 'unknown'" dnd-type="item.type" dnd-dragend="$ctrl.update()" dnd-draggable="item" dnd-effect-allowed="move" dnd-moved="items.splice($index, 1)" dnd-selected="$ctrl.selected = item" ng-click="$ctrl.select(item)" ng-class="{selected: $ctrl.selected === item}" class="item">
                        <div is-active-menu>
                            <div class="inner">
                                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group btn-group-sm mr-2" role="group">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-second">
                                                <span class="fa fa-grip-vertical text-second"></span>
                                            </button>
                                            <input class="form-control" type="text" ng-model="item.name">
                                        </div>
                                    </div>

                                    <div class="btn-group btn-group-sm mr-2">
                                        <button type="button" class="btn btn-secondary">
                                            <span class="fa fa-plus text-white"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary" ng-click="$ctrl.addField(item)">
                                            <span class="fa fa-cube text-white"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary" ng-click="$ctrl.addObj(item)">
                                            <span class="fa fa-cubes text-white"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary" ng-click="$ctrl.addArray(item)">
                                            <span class="fa fa-layer-group text-white"></span>
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-primary" ng-click="$ctrl.clone(item, list)">
                                            <span class="fa fa-clone text-white"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary" ng-click="$ctrl.remove($index, list)">
                                            <span class="fa fa-times text-white"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="item.show = !item.show">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-include="item.type + '.html'" ng-show="item.show || item.showMenu" id="{{item.type}}-{{item.name}}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <monaco-editor content-id="$ctrl.timestamp" content="$ctrl.selectedModel | json" ext="'.json'">
            </monaco-editor>

        </div>
    </div>
</div>

<!-- Markup for lists inside the dropzone. It's inside a seperate template
                 because it will be used recursively. The dnd-list directive enables
                 to drop elements into the referenced array. The dnd-draggable directive
                 makes an element draggable and will transfer the object that was
                 assigned to it. If an element was dragged away, you have to remove
                 it from the original list yourself using the dnd-moved attribute -->

<script type="text/ng-template" id="list.html">
    <div class="perfect-scroll">
        <div class="list" dnd-list="list.items" dnd-allowed-types="list.allowedTypes">
            <div class="items" ng-repeat="item in list.items"
                dnd-dragend="$ctrl.update()"
                dnd-disable-if="item.type == 'unknown'"
                dnd-type="item.type"
                dnd-draggable="item"
                dnd-effect-allowed="move"
                dnd-moved="list.items.splice($index, 1)"
                dnd-selected="$ctrl.selected = item"                
                ng-class="{selected: $ctrl.selected === item}"
                ng-click="$ctrl.select(item)"
                >
                
                <div class="item">
                    <div class="inner">
                        
                        <div class="btn-toolbar justify-content-between" role="toolbar"
                            aria-label="Toolbar with button groups">
                            <div class="btn-group btn-group-sm mr-2" role="group">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-second">
                                        <span class="fa fa-grip-vertical text-second"></span>
                                    </button>
                                    <input class="form-control" type="text" ng-model="item.name" />
                                </div>
                            </div>

                            <div class="btn-group btn-group-sm mr-2">
                                <button type="button" class="btn btn-secondary">
                                    <span class="fa fa-plus text-white"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="$ctrl.addField(item)">
                                    <span class="fa fa-cube text-white"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="$ctrl.addObj(item)">
                                    <span class="fa fa-cubes text-white"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="$ctrl.addArray(item)">
                                    <span class="fa fa-layer-group text-white"></span>
                                </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-primary"
                                    ng-click="$ctrl.clone(item, list)">
                                    <span class="fa fa-clone text-white"></span>
                                </button>
                                <button type="button" class="btn btn-primary"
                                    ng-click="$ctrl.remove($index, list)">
                                    <span class="fa fa-times text-white"></span>
                                </button>
                                <button type="button"
                                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    ng-click="item.show = !item.show">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div ng-include="item.type + '.html'" ng-show="item.show || item.showMenu"></div>                                
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-background"></div>
</script>

<!-- This template is responsible for rendering a container element. It uses
                     the above list template to render each container column -->
<script type="text/ng-template" id="object.html">
            <div class="container object box box-blue">
                <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
                <div class="clearfix"></div>
            </div>
        </script>

<script type="text/ng-template" id="array.html">
            <div class="container array box box-blue">
                <!-- <h6>Array</h6>
                <hr> -->
                <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
                <div class="clearfix"></div>
            </div>
        </script>

<!-- Template for a normal list item -->
<script type="text/ng-template" id="item.html">
    <div class="item-fields">        
        <div ng-show="$ctrl.selected == item">
            <hr>
                <form>
                    <div class="form-row pb-2">
                        <div class="col">
                            <div class="input-group input-group-sm ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Name</span>
                                    </div>
                                <input class="form-control" type="text" ng-model="item.name"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Content Type</span>
                                </div>
                                <select class="custom-select" ng-model="item.dataType">
                                    <option ng-repeat="type in $ctrl.settings.dataTypes track by $index" ng-value="$index">{{type}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label>Value</label>
                            <mix-value-editor type="item.dataType" string-value="item.value"></mix-value-editor>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</script>