<div class="mix-tree-view row" ng-init="$ctrl.init()">
        <form ng-if="$ctrl.file" ng-class="{'submitted': submitted}" ng-submit="$ctrl.saveFile()">
            <actions back-url="$ctrl.listUrl"></actions>
            <!-- Main area with dropzones and source code -->
            <div class="col-md-12">
                <div class="row">
                    <div ng-repeat="(zone, items) in $ctrl.dropzones" class="col-sm-12">
                        <div class="dropzone box box-yellow">
                            <!-- The dropzone also uses the list template -->
                            <h3>Dropzone {{zone}}</h3>
                            <!-- <div ng-include="'list.html'"></div> -->
                            <ul dnd-list="items" dnd-allowed-types="list.allowedTypes">
                                <li ng-repeat="item in items" dnd-disable-if="item.type == 'unknown'" dnd-type="item.type" dnd-dragend="$ctrl.update()" dnd-draggable="item" dnd-effect-allowed="move" dnd-moved="items.splice($index, 1)" dnd-selected="$ctrl.selected = item" ng-class="{selected: $ctrl.selected === item}">
                                    <div class="sw-toc-item" is-active-menu>
                                        <div class="inner">
                                            <div class="btn-group btn-group-sm" role="group">
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <a class="btn btn-primary text-white">
                                                        {{item.name}}
                                                    </a>
                                                    <a class="btn btn-primary text-white dropdown-toggle" ng-click="item.showMenu = !item.showMenu">
                                                        Dropdown link
                                                    </a>
                                                    <div class="dropdown"></div>
                                                    <div class="dropdown-menu" ng-class="{'show': item.showMenu}" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" ng-click="$ctrl.addField(item)">Add field</a>
                                                        <a class="dropdown-item" ng-click="$ctrl.addObj(item)">Add Object</a>
                                                        <a class="dropdown-item" ng-click="$ctrl.clone(item, list)">Clone</a>
                                                        <a class="dropdown-item" ng-click="$ctrl.remove($index, list)">Remove</a>
                                                    </div>
                                                </div>
                                                <a href="#" class="btn btn-primary" ng-click="item.show = !item.show">
                                                    <span class="mi-ChevronRightSmall mi text-white"></span>
                                                </a>
                                            </div>
    
                                        </div>
                                    </div>
    
                                    <div ng-include="item.type + '.html'" ng-show="item.show" id="{{item.type}}-{{item.name}}"></div>
                        </li></ul></div>
                        
                        
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-4">
                    <h2>Generated Model</h2>
                    <pre>{{$ctrl.dropzones.root | json}}</pre>
                </div>
                <div class="col-sm-4">
                    <h2>Selected Model</h2>
                    <pre>{{$ctrl.selected | json}}</pre>
                </div>
                <div class="col-sm-4">
                    <h2>Mapping Model</h2>
                    <pre>{{$ctrl.model | json}}</pre>
                </div>
            </div>
    </form></div>
    
    <!-- Sidebar -->
    <div class="col-md-2">
    
        <div class="toolbox box box-grey box-padding">
            <h3>New Elements</h3>
            <ul>
                <!-- The toolbox only allows to copy objects, not move it. After a new
                                 element was created, dnd-copied is invoked and we generate the next id -->
                <li ng-repeat="item in $ctrl.templates" dnd-draggable="item" dnd-effect-allowed="copyMove" dnd-dragend="$ctrl.newItem(item)">
                    <button type="button" class="btn btn-default btn-lg">{{item.type}}</button>
                </li>
            </ul>
        </div>
    
        <div ng-if="$ctrl.selected" class="box box-grey box-padding">
            <h3>Selected</h3>
            <strong>Type: </strong> {{$ctrl.selected.type}}<br>
            <input type="text" ng-model="$ctrl.selected.id" class="form-control" style="margin-top: 5px">
        </div>
    
        <div class="trashcan box box-grey box-padding">
            <!-- If you use [] as referenced list, the dropped elements will be lost -->
            <h3>Trashcan</h3>
            <ul dnd-list="$ctrl.draft">
                <li><i class="mi mi-Bank"></i></li>
                <li ng-repeat="item in $ctrl.draft">
                    {{item.type}} - {{item.name}}
                </li>
            </ul>
        </div>
    
    </div>
    
    
    
    
    <!-- Markup for lists inside the dropzone. It's inside a seperate template
                 because it will be used recursively. The dnd-list directive enables
                 to drop elements into the referenced array. The dnd-draggable directive
                 makes an element draggable and will transfer the object that was
                 assigned to it. If an element was dragged away, you have to remove
                 it from the original list yourself using the dnd-moved attribute -->
    <script type="text/ng-template" id="list.html">
            <div class="perfect-scroll">
                <ul class="sw-links" data-children=".sw-toc-item"
                    dnd-list="list.items" 
                    dnd-allowed-types="list.allowedTypes">
                    <li ng-repeat="item in list.items"
                        dnd-dragend="$ctrl.update()"
                        dnd-disable-if="item.type == 'unknown'"
                        dnd-type="item.type"
                        dnd-draggable="item"
                        dnd-effect-allowed="move"
                        dnd-moved="list.items.splice($index, 1)"
                        dnd-selected="$ctrl.selected = item"                
                        ng-class="{selected: $ctrl.selected === item}"
                        >
                        
                        <div class="sw-toc-item" is-active-menu>
                                <div class="inner">
                                    <div class="btn-group btn-group-sm" role="group">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a class="btn btn-primary text-white">
                                                {{item.name}}
                                            </a>
                                            <a class="btn btn-primary text-white dropdown-toggle" 
                                                ng-click="item.showMenu = !item.showMenu">
                                                Dropdown link
                                            </a>
                                            <div class="dropdown"></div>
                                                <div class="dropdown-menu" ng-class="{'show': item.showMenu}" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" ng-click="$ctrl.addField(item)">Add field</a>
                                                    <a class="dropdown-item" ng-click="$ctrl.addObj(item)">Add Object</a>
                                                    <a class="dropdown-item" ng-click="$ctrl.clone(item, list)">Clone</a>
                                                    <a class="dropdown-item" ng-click="$ctrl.remove($index, list)">Remove</a>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-primary" ng-click="item.show = !item.show">
                                                <span class="mi-ChevronRightSmall mi text-white"></span>
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                            
                            <div ng-include="item.type + '.html'" ng-show="item.show"></div>                                
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sidebar-background"></div>
        </script>
    
    <!-- This template is responsible for rendering a container element. It uses
                     the above list template to render each container column -->
    <script type="text/ng-template" id="object.html">
            <div class="container object box box-blue">
                <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
                <div class="clearfix"></div>
            </div>
        </script>
    
    <script type="text/ng-template" id="array.html">
            <div class="container array box box-blue">
                <h3>Array</h3>
                <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
                <div class="clearfix"></div>
            </div>
        </script>
    
    <!-- Template for a normal list item -->
    <script type="text/ng-template" id="item.html">
            <div class="container item">
                <span>{{item.name}} - {{item.value}}</span>
                <div ng-show="$ctrl.selected == item">
                    <input type="text" ng-model="item.name"/>
                    <select class="col-5 form-control form-control-sm" ng-model="item.dataType">
                            <option ng-repeat="type in $ctrl.settings.dataTypes track by $index" ng-value="$index">{{type}}
                            </option>
                        </select>
                    <mix-value-editor type="item.dataType" string-value="item.value"></mix-value-editor>
                </div>
            </div>
        </script>