<div class="mix-tree-view" ng-init="$ctrl.init()">
    <div class="row">
        <div ng-repeat="(zone, items) in $ctrl.dropzones" class="col-md-6">
            <div class="dropzone box box-yellow">                
                <ul dnd-list="items" dnd-allowed-types="list.allowedTypes">
                    <li ng-repeat="item in items" dnd-disable-if="item.type == 'unknown'" dnd-type="item.type" dnd-dragend="$ctrl.update()" dnd-draggable="item" dnd-effect-allowed="move" dnd-moved="items.splice($index, 1)" dnd-selected="$ctrl.selected = item" ng-click="$ctrl.select(item)" ng-class="{selected: $ctrl.selected === item}">
                        <div class="sw-toc-item" is-active-menu>
                            <div class="inner">
                                <div class="btn-group btn-group-sm" role="group">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" ng-model="item.name">
                                        <a class="btn btn-primary text-white dropdown-toggle" ng-click="item.showMenu = !item.showMenu">
                                            Actions
                                        </a>
                                        <div class="dropdown"></div>
                                        <div class="dropdown-menu" ng-class="{'show': item.showMenu}" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" ng-click="$ctrl.addField(item)">Add
                                                field</a>
                                            <a class="dropdown-item" ng-click="$ctrl.addObj(item)">Add
                                                Object</a>
                                            <a class="dropdown-item" ng-click="$ctrl.addArray(item)">Add
                                                Array</a>
                                            <a class="dropdown-item" ng-click="$ctrl.clone(item, list)">Clone</a>
                                            <a class="dropdown-item" ng-click="$ctrl.remove($index, list)">Remove</a>
                                        </div>
                                    </div>
                                    <a class="btn btn-primary" ng-click="item.show = !item.show">
                                        <span class="mi-ChevronRightSmall mi text-white"></span>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div ng-include="item.type + '.html'" ng-show="item.show || item.showMenu" id="{{item.type}}-{{item.name}}"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Selected Model</h2>
            <monaco-editor content-id="$ctrl.timestamp" content="$ctrl.selectedModel | json" ext="'.json'"></monaco-editor>
            <pre>{{$ctrl.selectedModel | json}}</pre>

        </div>
    </div>
</div>

<!-- Markup for lists inside the dropzone. It's inside a seperate template
                 because it will be used recursively. The dnd-list directive enables
                 to drop elements into the referenced array. The dnd-draggable directive
                 makes an element draggable and will transfer the object that was
                 assigned to it. If an element was dragged away, you have to remove
                 it from the original list yourself using the dnd-moved attribute -->
<script type="text/ng-template" id="list.html">
    <div class="perfect-scroll">
        <ul class="sw-links" data-children=".sw-toc-item"
            dnd-list="list.items" 
            dnd-allowed-types="list.allowedTypes">
            <li ng-repeat="item in list.items"
                dnd-dragend="$ctrl.update()"
                dnd-disable-if="item.type == 'unknown'"
                dnd-type="item.type"
                dnd-draggable="item"
                dnd-effect-allowed="move"
                dnd-moved="list.items.splice($index, 1)"
                dnd-selected="$ctrl.selected = item"                
                ng-class="{selected: $ctrl.selected === item}"
                ng-click="$ctrl.select(item)"
                >
                
                <div class="sw-toc-item" >
                    <div class="inner">
                        <div class="btn-group btn-group-sm" role="group">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <input type="text" ng-model="item.name"/>
                                <a class="btn btn-primary text-white dropdown-toggle" 
                                    ng-click="item.showMenu = !item.showMenu">
                                    Actions
                                </a>
                                <div class="dropdown"></div>
                                    <div class="dropdown-menu" ng-class="{'show': item.showMenu}" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" ng-click="$ctrl.addField(item)">Add field</a>
                                        <a class="dropdown-item" ng-click="$ctrl.addObj(item)">Add Object</a>
                                        <a class="dropdown-item" ng-click="$ctrl.addArray(item)">Add Array</a>
                                        <a class="dropdown-item" ng-click="$ctrl.clone(item, list)">Clone</a>
                                        <a class="dropdown-item" ng-click="$ctrl.remove($index, list)">Remove</a>
                                    </div>
                                </div>
                                <a class="btn btn-primary" ng-click="item.show = !item.show">
                                    <span class="mi-ChevronRightSmall mi text-white"></span>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    <div ng-include="item.type + '.html'" ng-show="item.show || item.showMenu"></div>                                
                </div>
            </li>
        </ul>
    </div>
    <div class="sidebar-background"></div>
</script>

<!-- This template is responsible for rendering a container element. It uses
                     the above list template to render each container column -->
<script type="text/ng-template" id="object.html">
            <div class="container object box box-blue">
                <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
                <div class="clearfix"></div>
            </div>
        </script>

<script type="text/ng-template" id="array.html">
            <div class="container array box box-blue">
                <h3>Array</h3>
                <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
                <div class="clearfix"></div>
            </div>
        </script>

<!-- Template for a normal list item -->
<script type="text/ng-template" id="item.html">
    <div class="container item">        
        <div ng-show="$ctrl.selected == item">
            <input type="text" ng-model="item.name"/>
            <select class="col-5 form-control form-control-sm" ng-model="item.dataType">
                    <option ng-repeat="type in $ctrl.settings.dataTypes track by $index" ng-value="$index">{{type}}
                    </option>
                </select>
            <mix-value-editor type="item.dataType" string-value="item.value"></mix-value-editor>
        </div>
    </div>
</script>