<div id="fh5co-contact" data-section="reservation">
	<div class="container">
		<div class="row text-center fh5co-heading row-padded">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="heading to-animate">Reserve a Table</h2>
				<p class="sub-heading to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 to-animate-2">
				<h3>Contact Info</h3>
				<ul class="fh5co-contact-info">
					<li class="fh5co-contact-address ">
						<em class="icon-home"></em>
						5555 Love Paradise 56 New Clity 5655, <br>Excel Tower United Kingdom
					</li>
					<li><em class="icon-phone"></em> (123) 465-6789</li>
					<li><em class="icon-envelope"></em>info@freehtml5.co</li>
					<li><em class="icon-globe"></em> <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></li>
				</ul>
			</div>
			<div class="col-md-6 to-animate-2">
				<h3>Reservation Form</h3>
				<div class="form-group ">
					<label for="name" class="sr-only">Name</label>
					<input id="name" class="form-control" placeholder="Name" type="text">
				</div>
				<div class="form-group ">
					<label for="email" class="sr-only">Email</label>
					<input id="email" class="form-control" placeholder="Email" type="email">
				</div>
				<div class="form-group">
					<label for="occation" class="sr-only">Occation</label>
					<select class="form-control" id="occation">
						<option>Select an Occation</option>
					  <option>Wedding Ceremony</option>
					  <option>Birthday</option>
					  <option>Others</option>
					</select>
				</div>
				<div class="form-group ">
					<label for="date" class="sr-only">Date</label>
					<input id="date" class="form-control" placeholder="Date &amp; Time" type="text">
				</div>


					
				<div class="form-group ">
					<label for="message" class="sr-only">Message</label>
					<textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
				</div>
				<div class="form-group ">
					<input class="btn btn-primary" value="Send Message" type="submit">
				</div>
				</div>
		</div>
	</div>
</div>
