<div class="subscribe-line subscribe-line-image" style="background-image: url('@Model.ImageUrl');">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="text-center">
                    <h4 class="title">Subscribe to our Newsletter</h4>
                    <p class="description">
                        Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                    </p>
                </div>
                <div class="card card-raised card-form-horizontal">
                    <div class="card-body">
                        <partial name="@Model.FormTemplatePath" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
