<!--     *********     FEATURES 1      *********      -->

    <div class="features-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Full-Funnel Social Analytics</h2>
                    <h4 class="description">Insight to help you create, connect, and convert. Understand Your Audience's Interests, Influence, Interactions, and Intent. Discover emerging topics and influencers to reach new audiences.</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="info info-hover">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons ui-2_chat-round"></i>
                        </div>
                        <h4 class="info-title">Social Conversations</h4>
                        <p class="description">Gain access to the demographics, psychographics, and location of unique people.</p>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="info info-hover">
                        <div class="icon icon-success">
                            <i class="now-ui-icons business_chart-pie-36"></i>
                        </div>
                        <h4 class="info-title">Analyze Performance</h4>
                        <p class="description">Unify data from Facebook, Instagram, Twitter, LinkedIn, and Youtube to gain rich insights.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info info-hover">
                        <div class="icon icon-warning">
                            <i class="now-ui-icons design-2_ruler-pencil"></i>
                        </div>
                        <h4 class="info-title">Measure Conversions</h4>
                        <p class="description">Track actions taken on your website, understand the impact on your bottom line.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--     *********    END FEATURES 1      *********      -->
