<ul dnd-list="$ctrl.data" class="nav" ng-if="$ctrl.data.length">
    <li ng-repeat="nav in $ctrl.data" class="col-sm-12 p-2" dnd-draggable="nav" dnd-moved="$ctrl.updateOrders($index)" dnd-effect-allowed="move" dnd-selected="$ctrl.selected = nav" ng-class="{'selected': $ctrl.selected === nav}">
        <div class="row">
            <div class="col-1 drag-header" style="cursor:move;"><span class="fas fa-sort"></span></div>
            <!--<div class="col-1">
                <input type="text" ng-model="nav.priority" ng-change="$ctrl.updatePriorities()" 
                       class="item-priority d-none form-control form-control-sm d"/>
            </div>-->
            <div class="col-9">
                <span class="switch switch-sm">
                    <input type="checkbox" ng-change="$ctrl.callback({nav: nav})" ng-model="nav.isActived" id="{{$ctrl.prefix}}_{{$index}}" class="switch">
                    <label class="switch m-0" for="{{$ctrl.prefix}}_{{$index}}">
                        {{nav.description}}
                    </label>
                </span>
            </div>
            <div class="col-2 text-right">
                <img class="rounded" height="30" ng-src="{{nav.image}}">
            </div>
        </div>
    </li>
</ul>