@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    string assetFolder = Mix.Cms.Lib.MixCmsHelper.GetAssetFolder(ViewBag.culture);
    var cates = await Mix.Cms.Lib.MixCmsHelper.GetNavigation("footer", ViewBag.culture, Url);
}
<footer class="footer footer-default ">
    <div class="container">
        <nav>
            <ul>
                @if(cates!=null){
                    foreach (var cate in cates.MenuItems)
                    {                    
                        <li>
                            <a href="@cate.Uri">
                                @cate.Title
                            </a>
                        </li>
                    }
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="/admin">
                            Login
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/admin">
                            Portal
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</footer>
