<!-- Main content -->
<section class="container" ng-init="getSingle()">
    <form ng-if="activedData" ng-class="{'submitted': submitted}" ng-submit="save(activedData)">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <actions preview-url="activedData.fullPath" back-url="'/portal/language/list'"></actions>
            </div>
        </div>
        <div class="row justify-content-center">
            <section class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="control-label">Category</label>
                            <select class="custom-select" ng-model="cate"
                                ng-change="activedData.category = cate.title"
                                ng-options="item as item.title for item in cates track by item.prefix"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Value</label>
                            <!--<module-form-editor data="activedData.property" input-class="mr-2"/>-->
                            <input type="text" class="form-control" ng-model="activedData.value"
                                ng-blur="generateDefault(activedData.value,cate)">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Default Value</label>
                            <input type="text" class="form-control" ng-model="activedData.defaultValue">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Keyword</label>
                            <input type="text" required class="form-control" ng-model="activedData.keyword">
                        </div>
                    </div>
                </div>


            </section>
        </div>
    </form>
</section>
<!-- /.content -->