<div ng-if="$ctrl.template">
    <div class="form-group" ng-init="$ctrl.loadTemplates()">
        <h6>Layout</h6>
        <div class="input-group mb-3">
            <select class="btn btn-outline-secondary custom-select col-sm-4" ng-options="item as item.fileName for item in $ctrl.templates track by item.id" ng-model="$ctrl.template" ng-change="$ctrl.updateEditors()"></select>
            <input class="form-control sel-filename" type="text" ng-model="$ctrl.template.fileName" value="{{$ctrl.template.fileName}}" placeholder="Input template name here...">
            <input class="template-id" type="hidden" ng-model="$ctrl.template.id" value="{{$ctrl.template.id}}">
        </div>
    </div>
    <tabs-v>
        <pane-v title="Razor Template">
            <div class="container-code-editor">
                <div class="form-control code-editor">{{$ctrl.template.content}}</div>
                <input class="form-control content" type="hidden" ng-model="$ctrl.template.content" value="{{$ctrl.template.content}}">
            </div>
        </pane-v>
        <pane-v title="Scripts">
            <div class="container-code-editor">
                <div class="form-control code-editor">{{$ctrl.template.scripts}}</div>
                <input class="form-control content" type="hidden" ng-model="$ctrl.template.scripts" value="{{$ctrl.template.scripts}}">
            </div>
        </pane-v>
        <pane-v title="Styles">
            <div class="container-code-editor">
                <div class="form-control code-editor">{{$ctrl.template.styles}}</div>
                <input class="form-control content" type="hidden" ng-model="$ctrl.template.styles" value="{{$ctrl.template.styles}}">
            </div>
        </pane-v>
    </tabs-v>
</div>
