<div class="card mb-3 ga-container" ng-init="$ctrl.init()">
    <div class="card-header">
        <h6>
            Blog & News
        </h6>
    </div>
    <div class="card-body">
        <div>
            <ul class="list-group list-group-flush" ng-repeat="item in $ctrl.items">
                <li class="list-group-item">{{item.title}} [ <a href="{{item.link}}" target="_blank">Read more...</a> ]</li>
            </ul>
            <!-- <pre>
{{item | json}}
</pre> -->
        </div>
    </div>
</div>