@{ 
  string bgUrl = Model.Image;
  string h1Text = Model.Property<string>("bannerH1Text");
  string description = Model.Property<string>("bannerDescription");
  string ctaText = Model.Property<string>("bannerCtaText"); 
  string ico = Model.Property<string>("bannerCtaIcon"); 
  string ctaUrl = Model.Property<string>("bannerCtaUrl"); 
}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('@bgUrl')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">@h1Text</h1>
          <h4>@description</h4>
          <br>
          <a href="@ctaUrl" target="_blank" class="btn btn-danger btn-raised btn-lg">
            <i class="@ico"></i> @ctaText 
          </a>
        </div>
      </div>
    </div>
  </div>
