<div ng-switch="$ctrl.data.dataType">
    <div ng-switch-default>
        <p ng-bind="$ctrl.data.value">
        </p>
    </div>
    <div ng-switch-when="1">
        <span ng-bind="$ctrl.data.value">
        </span>
    </div>
    <div ng-switch-when="16">
        <preview-image img-height="25" img-src="$ctrl.data.value"></preview-image>
    </div>
    <div ng-switch-when="3">
        <i class="{{$ctrl.data.value}}">
        </i>
    </div>
    <div ng-switch-when="4">
        <p ng-bind-html="$ctrl.data.value">
        </p>
    </div>
    <div ng-switch-when="5">
        <div ng-bind-html="$ctrl.data.value">
        </div>
        </div>
        <div ng-switch-when="6">
            <p ng-bind-html="$ctrl.data.value">
            </p>
        </div>
        <div ng-switch-when="18">
            <input class="form-control" type="checkbox" ng-model="$ctrl.data.value">
        </div>
        <div ng-switch-when="8">
            <p ng-bind-html="$ctrl.data.value"></p>
        </div>
    </div>
