<div ng-switch="$ctrl.tagType">
    <div ng-switch-when="0">        
        <h1 class="display-4"><span class="text-capitalize" ng-bind="$ctrl.tagName">
        </span></h1>
        <hr ng-if="$ctrl.tagName" class="my-3">    
    </div>
    <div ng-switch-when="1">
        <h1 class="display-4">Add <span class="text-capitalize" ng-bind="$ctrl.tagName">
        </span></h1>
        <hr ng-if="$ctrl.tagName" class="my-3">  
    </div>

<!-- <div class="row position-sticky" style="top: 4rem; z-index: 12;">
    <div class="col-12">
        <div class="card sw-nav-action mb-3">
            <div class="nav card-body p-3 justify-content-end">         
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" ng-click="$ctrl.back()" class="btn btn-secondary btn-sm px-5"><i class="mi mi-Cancel"></i>
                        <span ng-bind="$ctrl.translate('Back')"></span></button>
                </div>
                <div ng-if="$ctrl.previewUrl" class="btn-group mr-2" role="group" aria-label="First group">
                    <a target="_blank" href="{{$ctrl.previewUrl}}" class="btn btn-info btn-sm px-5"><i class="fa fa-eye"></i>
                        <span ng-bind="$ctrl.translate('Preview')"></span></a>
                </div>
                <div ng-if="$ctrl.contentUrl" class="btn-group mr-2" role="group" aria-label="First group">
                    <a href="{{$ctrl.contentUrl}}" class="btn btn-info btn-sm px-5"><i class="mi mi-arrow"></i>
                        <span ng-bind="$ctrl.translate('Data')"></span></a>
                </div>
                <div class="btn-group" role="group" aria-label="First group">
                        <button type="submit" class="btn btn-primary pl-5 pr-4"><i class="mi mi-Save"></i>
                            <span ng-bind="$ctrl.translate('Save')"></span></button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Save and continue</a>
                            <a class="dropdown-item" href="#">Save and publish</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div> -->
