<div class="mb-3" ng-init="$ctrl.init()">
    <div class="input-group">
        <div class="custom-file">
            <input id="{{$ctrl.id}}" type="file" name="pic" ngf-select="$ctrl.selectFile($file, $invalidFiles)" accept="{{$ctrl.accept}}" data-file="file.file" class="position-absolute hidden">
            <label class="custom-file-label" for="{{$ctrl.id}}">Upload file...</label>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-primary" ng-click="$ctrl.uploadFile()">Submit</a>
    </div>
</div>