<div class="row position-sticky" style="top: 3.5rem; z-index: 12;">
    <div class="col-sm-12">
        <div class="card sw-nav-action mb-0">
            <div class="card-body">
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-lg btn-outline-primary btn-block">
                            <i class="mi mi-Save"></i> <span class="text-uppercase" ng-bind="$ctrl.translate('save')"></span>
                        </button>
                    </div>
                    <div class="col text-center" ng-show="$ctrl.saveAnContinueUrl">
                        <a href="{{$ctrl.saveAnContinueUrl}}" class="btn btn-lg btn-outline-info btn-block" target="_blank">
                            <i class="mi mi-Save"></i> <span class="text-uppercase" ng-bind="$ctrl.translate('saveAnContinue')"></span>
                        </a>
                    </div>
                    <div class="col text-center" ng-show="$ctrl.previewUrl">
                        <a href="{{$ctrl.previewUrl}}" class="btn btn-lg btn-outline-info btn-block" target="_blank">
                            <i class="mi mi-PreviewLink"></i> <span class="text-uppercase" ng-bind="$ctrl.translate('preview')"></span>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a ng-click="$ctrl.back()" class="btn btn-lg btn-outline-secondary btn-block">
                            <i class="mi mi-Previous"></i> <span class="text-uppercase" ng-bind="$ctrl.translate('back')"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mb-3"></div>