<section ng-init="loadModuleDatas()">
        <div class="row">
                <div class="col-md-8">
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a href="/portal/module-data/details/{{activedData.id}}" class="btn btn-secondary">
                                <i class="fas fa-plus"></i>
                            </a>
                            <a href="/portal/module/details/{{activedData.id}}" class="btn btn-secondary">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        <filter-list request="request" callback="loadMoreModuleDatas()"></filter-list>
        <table class="table table-sm table-hover dataTable" cellspacing="0">
            <thead class="thead-light">
                <tr>
                    <th scope="col" width="5%">
                        <span class="fas fa-sort"></span>
                    </th>
                    <th scope="col" width="5%">
                        <span class="fas fa-sort-numeric-down"></span>
                    </th>
                    <th scope="col" ng-repeat="col in activedData.columns track by $index">
                        <span ng-bind="col.title" ng-if="col.isDisplay"></span>
                    </th>
                    <th scope="col" width="5%" class="text-right">
                        Actions
                    </th>
                </tr>
            </thead>
           
            <tbody class="sortable">
                <tr ng-repeat="item in activedData.data.items track by $index" class="sortable-item" sort-model="moduleData" sort-model-id="{{item.id}}">
                    <td style="cursor:move;" class="drag-header">
                        <span class="fas fa-sort"></span>
                    </td>
                    <td>
                        <input type="number" ng-model="item.priority" ng-enter="updateModuleDataField(item, 'priority')" class="item-priority form-control form-control-sm d-inline" style="width:40px;">
                    </td>
                    <td ng-repeat="prop in item.dataProperties track by $index">
                        <module-data-preview data="item.jItem[prop.name]" width="50" ng-if="prop.isDisplay"></module-data-preview>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                            <a href="/portal/module-data/details/{{activedData.id}}/{{item.id}}" class="btn btn-sm btn-light"> <span class="fas fa-pencil-alt text-primary"></span></a>
                            <a ng-click="removeData(item.id);" class="btn btn-light del-popover" data-toggle="popover" data-html="true">
                                <span class="fas fa-times text-danger"></span>
                            </a>
                            <div class="popover-body d-none">
                                <a asp-action="DeleteModuleData" asp-route-id="@Data.Items[i].Id" class="btn btn btn-danger">Yes, I want to delete!</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
    
            <tbody></tbody>
        </table>
    
        <table class="table table-sm table-hover" cellspacing="0" ng-if="activedData.articles.totalItems > 0">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="width: 3%;">
                            <span class="fas fa-sort"></span>
                        </th>
                        <th scope="col" style="width: 4%;">
                            <span class="fas fa-sort-numeric-down"></span>
                        </th>
                        <th scope="col" style="width: 5%;">
                            Code
                        </th>
                        <th scope="col" style="width: 25%;">
                            Title
                        </th>
                        <th scope="col" width="10%">
                            Image
                        </th>
                        <th scope="col" width="10%">
                            Created Date
                        </th>
                        <th scope="col" style="width: 10%;">
                            Created By
                        </th>
        
                        <th scope="col" style="width: 5%;">Actions</th>
                    </tr>
                </thead>
        
                <tbody class="sortable">
                    <tr ng-repeat="item in activedData.articles.items track by $index" class="sortable-item" sort-model="article" sort-model-id="{{item.article.id}}">
                        <td style="cursor:move;" class="drag-header">
                            <span class="fas fa-sort"></span>
                        </td>
                        <td>
                            <input type="text" ng-model="item.article.priority" class="item-priority form-control form-control-sm d-inline" style="width:40px;">
                        </td>
                        <td>
                            {{item.article.code}}
                        </td>
                        <td>
                            {{item.article.title}}
                        </td>
                        <td>
                            <div ng-if="item.article.image!=''">
                                <img height="50" ng-src="{{item.article.imageUrl}}">
                            </div>
                            <small>
                                <span ng-bind-html="item.article.excerpt"></span>
                            </small>
                        </td>
                        <td>
                            <small>
                                {{item.article.createdDateTime | utcToLocal}}
                            </small>
                        </td>
                        <td>
                            {{item.article.createdBy}}
                        </td>
        
                        <td>
                            <div class="btn-group btn-group-sm btn-group-sm float-right" role="group" aria-label="Actions">
                                <a href="/portal/article/details/{{item.article.id}}" class="btn btn-light">
                                    <span class="fas fa-pencil-alt text-primary"></span>
                                </a>
                                <a href="{{item.article.detailsUrl}}" target="_blank" class="btn btn-light">
                                    <span class="fas fa-eye text-info"></span>
                                </a>
        
                                <button type="button" class="btn btn-light del-popover" ng-click="rermoveArticle(item.article.id)">
                                    <span class="fas fa-times text-danger"></span>
                                </button>
                                <div class="popover-body d-none">
                                    <a href="/{{currentLanguage}}/portal/articles/delete/{{item.article.id}}" class="btn btn btn-danger">Yes, I want to delete!</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <table class="table table-sm table-hover" cellspacing="0" ng-if="activedData.products.totalItems > 0">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="width: 3%;">
                            <span class="fas fa-sort"></span>
                        </th>
                        <th scope="col" style="width: 4%;">
                            <span class="fas fa-sort-numeric-down"></span>
                        </th>
                        <th scope="col" style="width: 25%;">
                            Title
                        </th>
                        <th scope="col" width="10%">
                            Image
                        </th>
                        <th scope="col" width="10%">
                            Created Date
                        </th>
                        <th scope="col" style="width: 10%;">
                            Created By
                        </th>
        
                        <th scope="col" style="width: 5%;">Actions</th>
                    </tr>
                </thead>
        
                <tbody class="sortable">
                    <tr ng-repeat="item in activedData.products.items track by $index" class="sortable-item" sort-model="product" sort-model-id="{{item.product.id}}">
                        <td style="cursor:move;" class="drag-header">
                            <span class="fas fa-sort"></span>
                        </td>
                        <td>
                            <input type="text" value="{{item.product.priority}}" class="item-priority form-control form-control-sm d-inline" style="width:40px;">
                        </td>
                        <td>
                            {{item.product.title}}
                        </td>
                        <td>
                            <preview-image img-height="25" img-src="item.product.imageUrl"></preview-image>
                            <small>
                                <span ng-bind-html="item.product.excerpt"></span>
                            </small>
                        </td>
                        <td>
                            <small>
                                {{item.product.createdDateTime | utcToLocal}}
                            </small>
                        </td>
                        <td>
                            {{item.product.createdBy}}
                        </td>
        
                        <td>
                            <div class="btn-group btn-group-sm btn-group-sm float-right" role="group" aria-label="Actions">
                                <a href="/portal/product/details/{{item.product.id}}" class="btn btn-light">
                                    <span class="fas fa-pencil-alt text-primary"></span>
                                </a>
                                <a href="{{item.product.detailsUrl}}" target="_blank" class="btn btn-light">
                                    <span class="fas fa-eye text-info"></span>
                                </a>
        
                                <button type="button" class="btn btn-light del-popover" ng-click="removeArticle(item.product.id)">
                                    <span class="fas fa-times text-danger"></span>
                                </button>
                                <div class="popover-body d-none">
                                    <a href="/{{currentLanguage}}/portal/products/delete/{{item.product.id}}" class="btn btn btn-danger">Yes, I want to delete!</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>