<section class="card manual">
    <filter-list request="request" callback="getList(pageIndex)"></filter-list>
    <select ng-model="type" ng-change="getListByType(pageIndex)">
        <option value="-1">All</option>
        <option ng-repeat="type in settings.moduleTypes track by $index" ng-value="$index">{{type}}</option>
    </select>
    <table class="table table-sm table-hover" cellspacing="0">
        <thead class="thead-light">
            <tr>
                <th scope="col" width="3%">
                    <span class="oi oi-sort-ascending"></span>
                </th>
                <!--<th scope="col" style="width: 4%;">
                    <span class="fas fa-sort-numeric-down"></span>
                </th>-->
                <th scope="col" width="5%">
                    Priority
                </th>
                <th scope="col" width="35%">
                    Title
                </th>
                <th scope="col" width="10%">
                </th><th scope="col" width="35%">
                    Name
                </th>
                <th scope="col" width="10%">
                    Created Date
                </th>
                
                <th scope="col" width="5%">
                    Image
                </th>
                <th scope="col" style="width: 5%;">Actions</th>
            </tr>
        </thead>

        <tbody class="sortable" ng-init="getList()">
            <tr ng-repeat="item in data.items track by $index" class="sortable-item" sort-model="module" sort-model-id="{{item.id}}">
                <td style="cursor:move;" class="drag-header">
                    <!--<span class="fas fa-sort"></span>-->

                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light"><span class="oi oi-chevron-top small"></span></button>
                        <button type="button" class="btn btn-light"><span class="oi oi-chevron-bottom small"></span></button>
                    </div>
                </td>
                <td>
                    {{item.priority}}
                </td>
                <td>
                    {{item.title}}
                </td>
                <td>
                </td><td>
                    {{item.name}}
                </td>
                <td>
                    <small>
                        {{item.lastModified | utcToLocal:'d.M.yyyy h:mm a'}}
                    </small>
                </td>
                <td>
                    <preview-image img-height="25" img-src="item.image"></preview-image>
                </td>
                <td>
                    <div class="btn-group btn-group-sm btn-group-sm float-right" role="group" aria-label="Actions">
                        <a href="/portal/module/details/{{item.id}}" class="btn btn-light">
                            <span class="oi oi-pencil text-primary"></span>
                        </a>
                        <!--<a href="{{item.detailsUrl}}" target="_blank" class="btn btn-light">
                            <span class="oi oi-eye text-primary"></span>
                        </a>-->
                        <a ng-if="item.type==2" href="/portal/module-article/list/{{item.id}}" class="btn btn-light">
                            <span class="fas fa-list text-info"></span>
                        </a>                                
                        <a ng-if="item.type==1" href="/portal/module/data/{{item.id}}" class="btn btn-light">
                            <span class="fas fa-list text-info"></span>
                        </a>                                
                        <a ng-click="remove(item.id);" class="btn btn-light">
                            <span class="fas fa-times text-danger"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <paging class="small" page="data.page" page-size="data.pageSize" total="data.totalItems" ul-class="pagination justify-content-end" a-class="page-link" paging-action="getList(page-1)" scroll-top="true">
</paging></section>