<!--     *********     HEADER 1      *********      -->

<div class="header-1">
    <div class="page-header header-filter">
        <div class="page-header-image" style="background-image: url('@Model.Image');"></div>
        <div class="content-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 ml-auto text-right">
                        <h1 class="title">Welcome to Cricket Tours</h1>
                        <h4 class="description">Hmm… Can you see, feel and touch SAIGONESE’S local life which you can not easily find by yourself?</h4>
                        <br />

                        <div class="buttons">
                            <a href="https://www.facebook.com/Mix-IO-268388420255457/" class="btn btn-icon btn-link btn-neutral btn-lg">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a href="https://github.com/Mix-IO/Mix-IO-Core" class="btn btn-icon btn-link btn-neutral btn-lg">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!--     *********    END HEADER 1      *********      -->
