<div>
    <div class="mb-3">
        <div class="input-group mb-3 hidden">
            <div class="input-group-prepend">
                <span class="input-group-text">URL</span>
            </div>
            <input type="text" onclick="this.select()" ng-model="$ctrl.srcUrl" class="form-control hidden"
                placeholder="https://your-image-url...">
        </div>
        <div class="input-group">
            <div class="custom-file">
                <!-- <input type="file" class="custom-file-input" id="customFile"> -->
                <input id="{{$ctrl.id}}" accept="image/*" type="file" name="pic" ngf-select="$ctrl.selectFile($file, $invalidFiles)"
                    data-file="file.file" class="hidden">
                <label class="custom-file-label" for="{{$ctrl.id}}">Upload file...</label>
            </div>
        </div>        
    </div>
    <div class="row">
        <!-- Croppie needs a container -> using 'boundary' option -->
        <div class="col-sm-6">
            <croppie ng-if="$ctrl.cropped.source" src="$ctrl.cropped.source" ng-model="$ctrl.cropped.image"
                on-update="$ctrl.combineImage()"
                options="$ctrl.options"></croppie>
        </div>
        <div class="col-sm-6">
            <img id="result" class="ml-auto mr-auto d-block" ng-src="{{$ctrl.postedFile.fileStream}}" width="250" height="377"/><br>
            <a class="btn btn-default" ng-if="$ctrl.postedFile.fileName" ng-click="$ctrl.saveCanvas()">Save</a>
            <canvas id="canvas" class="ml-auto mr-auto d-none"  style="position:absolute" width="1329" height="2000"></canvas>
            <img id="croppie-src" class="ml-auto mr-auto d-block hidden" style="position:absolute;top:0" ng-src="{{$ctrl.cropped.image}}" width="250" height="377"/>
            <input type="hidden" value="{{$ctrl.type}}/{{$ctrl.folder}}" class="folder-val">
        </div>
    </div>
</div>