<nav aria-label="Page navigation">
    
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link active" href="javascript:void(0)" ng-click="$ctrl.loadData($ctrl.pageIndex-1)" ng-show="$ctrl.pageIndex>0">Prev</a>
        </li>
        <li class="page-item" ng-class="{'{{$ctrl.activeClass}}': n==$ctrl.page}" ng-repeat="n in $ctrl.range($ctrl.totalPage)">
            <a class="page-link" href="javascript:void(0)" ng-click="$ctrl.loadData(n-1)">{{n}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="javascript:void(0)" ng-click="$ctrl.loadData($ctrl.pageIndex + 1)" ng-show="$ctrl.pageIndex < ($ctrl.totalPage-1)">Next</a>
        </li>
    </ul>
</nav>