<div class="card">
    <h6 class="card-header">
        Main Content
    </h6>
    <div class="card-body">

        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control form-control-lg" ng-model="$ctrl.page.title" ng-blur="$ctrl.generateSeo()">
        </div>
        <div class="form-group">
            <label>PageSize</label>
            <input type="number" class="form-control form-control-lg" ng-model="$ctrl.page.pageSize">
        </div>
        <div class="form-group">
            <label>Excerpt</label>
            <textarea class="form-control form-control-lg" ng-model="$ctrl.page.excerpt">{{$ctrl.page.excerpt}}</textarea>
        </div>
        <div class="form-group">
            <label>Body content</label>
            <trumbowyg options="{}" ng-model="$ctrl.page.content"></trumbowyg>
        </div>
        <div class="form-group">
            <label class="control-label">Page types</label>
            <div class="btn-group btn-group-sm btn-group-toggle d-flex w-100" role="group" data-toggle="buttons">
                <label ng-repeat="type in $ctrl.settings.pageTypes track by $index" ng-switch="type" ng-class="{active: $index === $ctrl.page.type}" class="btn btn-outline-primary btn-block mt-0" ng-click="$ctrl.page.type=$index;">
                    <input ng-model="$ctrl.page.type" type="radio" value="{{$index}}" class="custom-control-input" id="page_type_{{$index}}">
                    <i ng-switch-when="Blank" class="mi mi-Preview mi-lg mi-fw" title="{{type}}"></i>
                    <i ng-switch-when="Article" class="mi mi-ReadingList mi-lg" title="{{type}}"></i>
                    <i ng-switch-when="ListArticle" class="mi mi-AllApps mi-lg" title="{{type}}"></i>
                    <i ng-switch-when="ListProduct" class="mi mi-Package mi-lg mi-fw" title="{{type}}"></i>
                    <i ng-switch-when="List" class="mi mi-BulletedList mi-lg mi-fw" title="{{type}}"></i>
                    <i ng-switch-when="Home" class="mi mi-Home mi-lg mi-flip-horizontal" title="{{type}}"></i>
                    <i ng-switch-when="StaticUrl" class="mi mi-Go mi-lg mi-flip-horizontal" title="{{type}}"></i>
                    <i ng-switch-when="Modules" class="mi mi-ResolutionLegacy mi-lg mi-flip-horizontal" title="{{type}}"></i>
                </label>
            </div>
        </div>
    </div>
</div>