@using Microsoft.AspNetCore.Mvc.Localization
@inject UserManager<ApplicationUser> UserManager

<!doctype html>
<html lang="en">

<head>
    <base href="/portal">
    <title>@ViewData["Title"] - Angular mixcore</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="16x16"
          href="@(MixService.GetConfig<string>("Favicon", ViewBag.culture) ?? "/mix-app/css/portal/img/mixcore-logo-green.svg")">

    <link rel="stylesheet" href="~/mix-app/css/portal-extend.css" />
    <link rel="stylesheet" href="~/mix-app/css/app-vendor.min.css" />
    <link rel="stylesheet" href="~/mix-app/css/app-vendor-scss.min.css" />
    <link rel="stylesheet" href="~/mix-app/css/shared.min.css" />  
    @*script async src="https://pay.google.com/gp/p/js/pay.js"></script>*@
    

</head>

<body ng-app="MixPortal" ng-init="init()" ng-controller="AppPortalController" class="w-100 overflow-auto">
    <style>
        :root
        {
            --primary-color-hue : {{globalSettings.portalThemeSettings.primaryColorHue}};
            --primary-color-saturation : {{globalSettings.portalThemeSettings.primaryColorSaturation}}%;
            --primary-color-brightness : {{globalSettings.portalThemeSettings.primaryColorBrightness}}%;

            --second-color-hue : {{globalSettings.portalThemeSettings.secondColorHue}};
            --second-color-saturation : {{globalSettings.portalThemeSettings.secondColorSaturation}}%;
            --second-color-brightness : {{globalSettings.portalThemeSettings.secondColorBrightness}}%;

            --bg-color: {{globalSettings.portalThemeSettings.bgColor}};
            --text-color: {{globalSettings.portalThemeSettings.textColor}};
            --bs-table-bg: transparent;
            --bs-table-striped-color: #f8f9fa;
            --bs-table-striped-bg: rgba(0, 0, 0, 0.02);
            --bs-table-active-color: #f8f9fa;
            --bs-table-active-bg: rgba(0, 0, 0, 0.1);
            --bs-table-hover-color: #f8f9fa;
            --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
        }
    </style>
    @RenderBody()


    <!-- <script src="~/mix-app/js/portal.min.js"></script> -->
    @* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> *@
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/js/bootstrap-notify.min.js"></script>*@
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

    @*<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>*@



    <script src="~/mix-app/js/framework.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-drag-and-drop-lists/2.1.0/angular-drag-and-drop-lists.min.js"></script>
    <script src="~/mix-app/js/shared.min.js"></script>
    <script src="~/mix-app/js/app-portal-required.min.js"></script>
    <script src="~/mix-app/js/app-portal.min.js?v="></script>
    <script src="~/mix-app/js/app-shared.min.js?v="></script>
    <script src="/mix-app/js/monaco-editor/min/vs/loader.js"></script>
    <script>
        require.config({
            paths: {
                vs: '/mix-app/js/monaco-editor/min/vs'
            }
        });
    </script>
    <script src="/mix-app/js/monaco-editor/min/vs/loader.js"></script>
    <script src="/mix-app/js/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script src="/mix-app/js/monaco-editor/min/vs/editor/editor.main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

    <!-- End Components -->
    @RenderSection("Scripts", required: false)

    <!--Datatables-->
    @*@RenderSection("Modals", required: false)*@
    @*@await Component.InvokeAsync(typeof(Mix.Cms.Mvc.Areas.Portal.ViewComponents.Modals))*@
</body>

</html>