<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/portal">
    <meta charset="utf-8" />
    <link rel="icon" href="@(MixService.GetConfig<string>("Favicon") ?? "/mix-app/css/portal/img/mixcore-logo-green-16x16.png")">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewData["Title"] - Mixcore</title>
    <meta content='width=device-width, initial-sca
          le=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="https://unpkg.com/@@tabler/core@latest/dist/css/tabler.min.css">
    <link href="~/mix-app/css/app-vendor.min.css" rel="stylesheet" />
    <link href="~/mix-app/css/shared.min.css" rel="stylesheet" />
</head>
<body class="antialiased border-top-wide border-primary d-flex flex-column" ng-app="MixInit">
    <style>
        :root
        {
            --primary-color-hue : {{globalSettings.portalThemeSettings.primaryColorHue}};
            --primary-color-saturation : {{globalSettings.portalThemeSettings.primaryColorSaturation}}%;
            --primary-color-brightness : {{globalSettings.portalThemeSettings.primaryColorBrightness}}%;
            --bg-color: {{globalSettings.portalThemeSettings.bgColor}};
            --text-color: {{globalSettings.portalThemeSettings.textColor}};
        }
        
    .bd-sidebar{
        width: 100%;
    }
    mix-store .page-wrapper{
        padding-top: 0 !important;
    }
    </style>
    <mix-loader ng-show="isBusy"></mix-loader>
    <div class="page page-center d-block">
        @RenderBody()
    </div>

    <environment names="Development">
    </environment>

    <script src="https://unpkg.com/@@tabler/core@latest/dist/js/tabler.min.js"></script>

    <script src="~/mix-app/js/framework.min.js"></script>
    <script src="~/mix-app/js/app-portal-required.min.js"></script>
    <script src="~/mix-app/js/portal.min.js"></script>
    <script src="~/mix-app/js/app-init.min.js"></script>
    <script src="~/mix-app/js/app-shared.min.js"></script>

    @RenderSection("Scripts", required: false)

    <!-- Modal -->
    <div class="modal fade" id="termAndCondition" tabindex="-1" role="dialog" aria-labelledby="termAndConditionTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="termAndConditionTitle">Terms and Conditions.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">I have read and understand!</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>