@using Microsoft.AspNetCore.Mvc.Localization
@inject UserManager<ApplicationUser> UserManager
<!doctype html>
<html lang="en">

<head>
    <base href="/portal">

    <title>@ViewData["Title"] - Angular Mix I/O</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=1920">
    
    <link rel="icon" href="/css/portal/img/swastika-io-logo-blue.png">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link href="~/css/shared.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/portal.min.css" />
    <link rel="stylesheet" href="~/css/app-vendor.min.css" />
    @RenderSection("Styles", required: false)
</head>

<body>
    @RenderBody()
    <script src="~/js/framework.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/shared.min.js"></script>
    <script src="~/js/portal.min.js"></script>


    <script src="~/js/app-portal.min.js"></script>
    <script src="~/js/app-shared.min.js"></script>

    <!-- End Components -->
    @RenderSection("Scripts", required: false)

    <!--Datatables-->
    @*@RenderSection("Modals", required: false)*@
    @*@await Component.InvokeAsync(typeof(Mix.Cms.Mvc.Areas.Portal.ViewComponents.Modals))*@

</body>
</html>