.mix-tree-view .container{
  /* margin:10px; */
  /* min-height: 250px; */
  /* height: auto;
  margin-right: 0; */
  padding-right: 0;
  padding-left:25px;
}
.mix-tree-view .dropdown-menu{
  z-index: 99999;
}
.mix-tree-view .container.array{
  /* background-color:green; */
}
.mix-tree-view .container.object{
  /* background-color:lightgray; */
}
.mix-tree-view .item{
  /* background-color:transparent; */
  /* padding-top: 2px; */
  padding-bottom: 2px;
  border-left: 1px #eee solid;
}

.mix-tree-view .item .btn-group{
  /* padding-left:24px; */
}

.mix-tree-view .item-fields{
  padding: 12px 8px 0 26px; 
}