<!-- Main content -->
<section>
    <actions back-url="'/portal/theme/list'"></actions>
    <div class="row justify-content-md-center" ng-repeat="page in $ctrl.exportData.pages track by page.id">
        <div class="col-md-2">
            <checkbox-switch data="page" callback="updatePageExport(page)"></checkbox-switch>
        </div>
        <div class="col-md-10" ng-bind="page.title"></div>
        <div class="col-md-12 row" ng-show="page.isActived" ng-repeat="module in page.moduleNavs">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <checkbox-switch data="module" callback="updatePageExport(page)"></checkbox-switch>
            </div>
            <div class="col-sm-8" ng-bind="module.description"></div>
        </div>
    </div>
</section>
<!-- /.content -->