<!-- <section class="content container-fluid"> -->
    <div class="row">
        <div class="col-md-12">
            <filter-list request="request" callback="getList(pageIndex)"></filter-list>
        </div>
    </div>
    <table id="list-page" class="table table-sm table-hover sortable" cellspacing="0" ng-init="getList()">
        <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 3%;">
                    <span class="fas fa-sort"></span>
                </th>
                <th scope="col" style="width: 4%;">
                    <span class="fas fa-sort-numeric-down"></span>
                </th>
                <th scope="col" style="width: 25%;">
                    Title
                </th>
                <th scope="col" width="10%">
                    Image
                </th>
                <th scope="col" width="10%">
                    Created Date
                </th>
                <th scope="col" style="width: 10%;">
                    Created By
                </th>

                <th scope="col" style="width: 5%;">Actions</th>
            </tr>
        </thead>

        <tbody class="sortable">
            <tr ng-repeat="item in data.items track by $index" class="sortable-item" sort-model="article" sort-model-id="{{item.article.id}}">
                <td style="cursor:move;" class="drag-header">
                    <span class="fas fa-sort"></span>
                </td>
                <td>
                    <input type="text" value="{{item.priority}}" class="item-priority form-control form-control-sm d-inline" style="width:40px;">
                </td>
                <td>
                    {{item.article.title}}
                </td>
                <td>
                    <div ng-if="item.article.image!=''">
                        <img height="50" ng-src="{{item.article.imageUrl}}">
                    </div>
                    <small>
                        <span ng-bind-html="item.article.excerpt"></span>
                    </small>
                </td>
                <td>
                    <small>
                        {{item.article.createdDateTime | utcToLocal}}
                    </small>
                </td>
                <td>
                    {{item.article.createdBy}}
                </td>

                <td>
                    <div class="btn-group btn-group-sm btn-group-sm float-right" role="group" aria-label="Actions">
                        <a href="/portal/article/details/{{item.article.id}}" class="btn btn-light">
                            <span class="fas fa-pencil-alt text-primary"></span>
                        </a>
                        <a href="{{item.article.detailsUrl}}" target="_blank" class="btn btn-light">
                            <span class="fas fa-eye text-info"></span>
                        </a>

                        <a ng-click="remove(item.moduleId,item.articleId);" class="btn btn-light">
                            <span class="fas fa-times text-danger"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <paging class="small" page="data.page" page-size="data.pageSize" total="data.totalItems" ul-class="pagination justify-content-end" a-class="page-link" paging-action="getList(page-1)" scroll-top="true"></paging>
<!-- </section> -->