<div class="row">
    <div class="form-group col-sm-6">
        <input type="text" placeholder="Media Title" class="form-control form-control-sm" ng-model="$ctrl.activedData.title">
    </div>
    <div class="form-group col-sm-6">
        <input type="text" placeholder="Media Description" class="form-control form-control-sm" ng-model="$ctrl.activedData.description">
    </div>
    <div class="form-group col-sm-12">
        <custom-file header="''" folder="'Medias'" media-file="$ctrl.activedData.mediaFile" data="$ctrl.activedData" src-url="$ctrl.activedData.mediaFile.fullPath" save="$ctrl.save($ctrl.activedData)" auto="'false'" class=""></custom-file>
    </div>
</div>