

<div class="wrapper">
    <!-- -->

    <div>
        <!--     *********     HEADER 1      *********      -->

        <div class="header-1">
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('https://demos.creative-tim.com/now-ui-kit-pro/assets/img/bg16.jpg');"></div>
                <div class="content-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 ml-auto text-right">
                                <h1 class="title">mixcore</h1>
                                <h4 class="description">mixcore is a free, open source, community-focused Content Management System (CMS) built on the ASP.NET Core | Dotnet Core platform software you can use to create a beautiful website, blog, forum, or app.</h4>
                                <br />

                                <div class="buttons">
                                    <a href="https://www.facebook.com/Mix-IO-268388420255457/" class="btn btn-icon btn-link btn-neutral btn-lg">
                                        <em class="fab fa-facebook-square"></em>
                                    </a>
                                    <a href="https://github.com/Mix-IO/Mix-IO-Core" class="btn btn-icon btn-link btn-neutral btn-lg">
                                        <em class="fab fa-github"></em>
                                    </a>
                                    <a href="http://docs.swastika.io/" class="btn btn-info btn-lg mr-3">
                                        <em class="fab fa-book"></em> Document
                                    </a>
                                    <a href="https://github.com/Mix-IO/Mix-IO-Core/releases" class="btn btn-info btn-lg mr-3">
                                        <em class="fab fa-download"></em> Download
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--     *********    END HEADER 1      *********      -->
        <!--     *********     FEATURES 6      *********      -->

        <div class="features-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Working is a pleasure</h2>
                        <h4 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information.</h4>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="info info-horizontal">
                            <div class="icon icon-info">
                                <em class="now-ui-icons design-2_html5"></em>
                            </div>
                            <div class="description">
                                <h5 class="info-title">For Developers</h5>
                                <p>The moment you use Now UI Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                            </div>
                        </div>

                        <div class="info info-horizontal">
                            <div class="icon icon-danger">
                                <em class="now-ui-icons design_palette"></em>
                            </div>
                            <div class="description">
                                <h4 class="info-title">For Designers</h4>
                                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="phone-container">
                            <img src="https://demos.creative-tim.com/now-ui-kit-pro/assets/img/iphone2.png" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <em class="now-ui-icons design-2_ruler-pencil"></em>
                            </div>
                            <div class="description">
                                <h5 class="info-title">Bootstrap Grid</h5>
                                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                            </div>
                        </div>

                        <div class="info info-horizontal">
                            <div class="icon icon-success">
                                <em class="now-ui-icons files_single-copy-04"></em>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Example Pages Included</h4>
                                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--     *********    END FEATURES 6      *********      -->
    </div>
