<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h6 class="card-header">
                <div class="row">
                    <span class="switch switch-sm">
                    <input type="checkbox" ng-model="$ctrl.isClone" id="isClone" class="switch">
                    <label class="switch mb-0" for="isClone">                        
                        <span>Localization</span>
                    </label>
                </span>
                </div>
            </h6>
            <div class="card-body" ng-show="$ctrl.isClone">                
                <div class="row" ng-repeat="culture in $ctrl.data">
                    <span class="switch switch-sm">
                        <input type="checkbox" ng-model="culture.isSupported" id="culture_{{$index}}" class="switch">
                        <label class="switch" for="culture_{{$index}}" style="overflow: hidden;text-overflow: ellipsis;">
                            <span class="flag-icon {{culture.icon}}"></span>
                            <span ng-bind="culture.description"></span>
                        </label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>