<!-- Main content -->
<section class="" ng-init="loadUser()">
    <form ng-if="activedUser" ng-class="{'submitted': submitted}" ng-submit="saveUser(activedUser)">
        <actions preview-url="activedUser.fullPath" back-url="'/portal/user/list'"></actions>


        <div class="row">
            <div class="col-8">
                <div class="card">
                    <h6 class="card-header">User information</h6>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="control-label">Username</label>
                            <input type="text" class="form-control" ng-model="activedUser.username">
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <label class="control-label">First Name</label>
                                <input type="text" class="form-control" ng-model="activedUser.firstName">
                            </div>
                            <div class="col form-group">
                                <label class="control-label">Last Name</label>
                                <input type="text" class="form-control tags" ng-model="activedUser.lastName">
                            </div>
                        </div>

                        <label class="control-label">Active roles</label>
                        <div class="tab-pane" ng-if="activedUser.userRoles.length>0">
                            <navs data="activedUser.userRoles" callback="updateRoleStatus(nav)"></navs>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <custom-image header="'Avatar'" type="'Users'" folder="'Avatars'" src-url="activedUser.avatarUrl" src="activedUser.avatar" posted-file="activedUser.mediaFile"></custom-image>
            </div>
        </div>



    </form>
</section>
<!-- /.content -->