<div class="form-group row">
    <div class="col-3">
        <h6 class="control-label m-0" ng-if="$ctrl.isShowTitle=='true'" ng-bind="$ctrl.attributeValue.field.title"></h6>
        <small class="text-muted">
            <!--custom-->
            (menu item)
        </small>
    </div>
    <div class="col-9 pb-4">

        <div class="text-muted">
            <div class="alert alert-warning" role="alert" ng-if="!$ctrl.attributeValue.id">
                <i class="fas fa-exclamation-triangle mr-3"></i> Please save the current item to initialization a parent
                ID
                before input it child's data!
            </div>
            <tabs-v select-callback="selectPane(pane)" class="mb-3" ng-if="$ctrl.attributeValue.id">
                <pane-v id="pane-data-{{$ctrl.attributeValue.field.referenceId}}" header="Data" class="card-body">
                    <attribute-set-nav-values on-update="$ctrl.updateRefData(data)" on-delete="$ctrl.removeRefData(data)" data="$ctrl.refData">
                    </attribute-set-nav-values>
                </pane-v>
                <pane-v id="pane-form-{{$ctrl.attributeValue.field.referenceId}}" header="Form" class="card-body">
                    <menu-item-form ng-if="$ctrl.attributeValue.id" attr-set-id="$ctrl.attributeValue.field.referenceId" default-id="'default'" parent-id="$ctrl.parentId" parent-type="$ctrl.parentType" attr-data="$ctrl.refDataModel.data" save-data="$ctrl.saveRefData(data)"></menu-item-form>
                </pane-v>
            </tabs-v>
            <!-- <pre>{{$ctrl.attributeValue | json}}</pre> -->

        </div>
    </div>
</div>