<div class="card">
    <div class="card-header position-sticky" style="top: 3.90rem; z-index: 12;">
        <h6>Fields
            <span ng-bind="$ctrl.title"></span>            
        </h6>
    </div>
    <div class="card-body">
        <div class="form-row">

            <div class="col-md-1">
                <small class="fa fa-grip-vertical text-black-50 align-middle" style="cursor: grab"></small>
            </div>
            <div class="form-groupx col-md-4">
                <small class="control-label">Field: <span class="text-black-50"
                        ng-bind="$ctrl.field.name"></span></small>
                <input ng-model="$ctrl.field.title" placeholder="Title" ng-change="$ctrl.generateName($ctrl.field)" ng-enter="$ctrl.addAttr()"
                    class="form-control form-control-sm">
            </div>
            <div class="form-groupx col-md-2">
                <small class="control-label">Type</small>
                <select class="form-control form-control-sm" ng-model="$ctrl.field.dataType"
                    ng-change="$ctrl.changeDataType($ctrl.field.dataType);">
                    <option ng-repeat="item in $ctrl.settings.dataTypes track by $index" ng-value="$index">
                        {{item}}
                    </option>
                </select>
            </div>
            <div class="col-md-2">
                <a ng-click="$ctrl.addAttr()" class="btn btn-link btn-sm float-right text-primary"><span
                    class="fas fa-plus"></span> Add field</a>
            </div>

        </div>


    </div>