<div class="testimonials-1 section-image" style="background-image: url('../assets/img/bg19.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <h2 class="title">What is ALPHA?</h2>
                <h4 class="description text-white">If you’re selected for ALPHA you’ll also get 3 tickets, opportunity to access Investor Office Hours and Mentor Hours and much more all for €850.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-testimonial">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img img-raised" src="../assets/img/michael.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-description">
                            The networking at Web Summit is like no other European tech conference.
                        </p>
                    </div>
                    <div class="icon icon-primary">
<<<<<<< HEAD
                        <i class="fab fa-quote-right"></i>
=======
                        <i class="fa fa-quote-right"></i>
>>>>>>> parent of fd2daa4... remove template files
                    </div>
                    <div class="card-footer">
                        <h4 class="card-title">Michael Elijah</h4>
                        <p class="category">michaelelijah</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-testimonial">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img img-raised" src="../assets/img/olivia.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-description">
                            The connections you make at Web Summit are unparalleled, we met users all over the world.
                        </p>
                    </div>
                    <div class="icon icon-primary">
<<<<<<< HEAD
                        <i class="fab fa-quote-right"></i>
=======
                        <i class="fa fa-quote-right"></i>
>>>>>>> parent of fd2daa4... remove template files
                    </div>
                    <div class="card-footer">
                        <h4 class="card-title">Olivia Harper</h4>
                        <p class="category">oliviaharper</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-testimonial">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img img-raised" src="../assets/img/james.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-description">
                            Web Summit will increase your appetite, your inspiration, and your network.
                        </p>
                    </div>
                    <div class="icon icon-primary">
<<<<<<< HEAD
                        <i class="fab fa-quote-right"></i>
=======
                        <i class="fa fa-quote-right"></i>
>>>>>>> parent of fd2daa4... remove template files
                    </div>
                    <div class="card-footer">
                        <h4 class="card-title">James Logan</h4>
                        <p class="category">jameslogan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
