<!--     *********     BLOGS 2      *********      -->

<div class="blogs-2" id="blogs-2">

    <div class="container">
        <div class="row">

            <div class="col-md-10 ml-auto mr-auto">
                <h2 class="title">Latest Blogposts 2</h2>

                <br />

                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div class="card card-plain card-blog">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img img-raised rounded" src="assets/img/examples/card-blog7.jpg" />
                                </a>
                            </div>

                            <div class="card-body">
                                <h6 class="category text-info">Enterprise</h6>
                                <h5 class="card-title">
                                    <a href="#pablo">Alexa brings hands-free TV to more devices</a>
                                </h5>
                                <p class="card-description">
                                    Alexa’s latest trick is offering a hands-free TV viewing experience, that will allow consumers to turn on or off their television, change inputs, fast forward, rewind and more, without having to first invoke a specific skill, or even press a button on their remote. <a href="#pablo">Read More </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="card card-plain card-blog">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img img-raised rounded" src="assets/img/examples/card-blog9.jpg" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="category text-success">
                                    M&A
                                </h6>
                                <h5 class="card-title">
                                    <a href="#pablo">Uber, Yandex combine ridesharing and UberEATS in $3.72B. JV</a>
                                </h5>
                                <p class="card-description">
                                    As Uber works through a huge amount of internal management turmoil, the company is also consolidating and rationalizing more of its international business. Today, the company announced it will be combining its rides-on-demand business and UberEATS. <a href="#pablo">Read More</a>
                                </p>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div class="card card-plain card-blog">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img img-raised rounded" src="assets/img/examples/card-blog16.jpg" />
                                </a>
                            </div>

                            <div class="card-body">
                                <h6 class="category text-info">Music</h6>
                                <h5 class="card-title">
                                    <a href="#pablo">The Affect Music Has On Different Teens</a>
                                </h5>
                                <p class="card-description">
                                    Music is something that every person has his or her own specific opinion about. Different people have different taste, and various types of music have many ways of leaving an impact on someone. <a href="#pablo">Read More </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="card card-plain card-blog">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img img-raised rounded" src="assets/img/examples/card-blog15.jpg" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="category text-success">
                                    Broadcasting
                                </h6>
                                <h5 class="card-title">
                                    <a href="#pablo">Radio networks to broadcast a common radio format</a>
                                </h5>
                                <p class="card-description">
                                    Radio broadcasting is a unidirectional wireless transmission over radio waves intended to reach a wide audience. Stations can be linked in radio networks to broadcast a common radio format. <a href="#pablo"> Read More </a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>



    </div>
</div>

<!--     *********    END BLOGS 2      *********      -->
