
    <div class="card">
        <h6 class="card-header">
            Main Content
        </h6>
        <div class="card-body">

            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control form-control-lg" ng-model="$ctrl.module.title" ng-blur="$ctrl.gennerateName()">
            </div>
            <div class="form-group">
                <label>System Name</label>
                <input type="text" class="form-control" ng-model="$ctrl.module.name">
            </div>
            <div class="form-group">
                <label>PageSize</label>
                <input type="number" class="form-control" ng-model="$ctrl.module.pageSize">
            </div>
            <div class="form-group">
                <label>Main content</label>                
                <trumbowyg options="{}" ng-model="$ctrl.module.description"></trumbowyg>
            </div>        
            <div class="form-group">
                    <label class="control-label">Module types</label>
                    <div class="btn-group btn-group-sm btn-group-toggle d-flex w-100" role="group" data-toggle="buttons">
                        <label ng-repeat="type in $ctrl.settings.moduleTypes track by $index" ng-switch="type" ng-class="{active: $index === $ctrl.module.type}" class="btn btn-outline-primary btn-block mt-0" ng-click="$ctrl.page.type=$index;">
                            <input ng-model="$ctrl.module.type" type="radio" value="{{$index}}" class="custom-control-input" id="module_type_{{$index}}">
                            <span ng-switch-when="Content" class="" title="{{type}}">Content</span>
                            <span ng-switch-when="Data" class="" title="{{type}}">Data</span>
                            <span ng-switch-when="ListArticle" class="" title="{{type}}">List Article</span>
                            <span ng-switch-when="SubPage" class="" title="{{type}}">Sub Page</span>
                            <span ng-switch-when="SubArticle" class="" title="{{type}}">Sub Article</span>
                            <span ng-switch-when="SubProduct" class="" title="{{type}}">Sub Product</span>
                            <span ng-switch-when="ListProduct" class="" title="{{type}}">List Product</span>
                        </label>
                    </div>
                </div>    
        </div>
    </div>
