<div class="tab-pane" ng-if="$ctrl.article.moduleNavs.length>0">

    <div class="form-group">
        <navs data="$ctrl.article.moduleNavs" prefix="'submodule'">
    </navs></div>
    <div class="form-group">

        <label class="control-label" ng-bind="$ctrl.translate('Modules Data')"></label>
        <div ng-repeat="child in $ctrl.article.moduleNavs track by $index" ng-show="child.isActived" class="col-md-12 module-data-{{child.moduleId}}">
            <mix-module-data-table data="child.module.data" module-id="child.module.id" can-drag="$ctrl.request.orderBy === 'Priority' && $ctrl.request.direction === '0'" edit-url="editDataUrl" columns="child.module.columns" on-delete="$ctrl.removeData(id, moduleId)" on-update-infos="$ctrl.updateDataInfos(child.module.data.items)">
            </mix-module-data-table>
            <paging class="small" page="child.module.data.page" page-size="child.module.data.pageSize" total="child.module.data.totalItems" ul-class="pagination justify-content-end" a-class="page-link" paging-action="$ctrl.loadModuleDatas(child.moduleId, page-1)" scroll-top="true"></paging>
                <div ng-if="!$ctrl.article.id">
                        <span class="text-warning" ng-bind="$ctrl.translate('warning_can_not_create_data',true, '(**Save article first then you can create data for it)')"></span>
                    </div>
                
                <module-form ng-if="$ctrl.article.id" module-id="child.moduleId" title="child.module.title" is-show-title="true" article-id="$ctrl.article.id" save-callback="$ctrl.saveDataCallback(data)"></module-form>
        </div>
    </div>
</div>