<!-- Main content -->
<section class="" ng-init="getSingle()">
    <form ng-class="{'submitted': submitted}" ng-submit="save(activedData)">

        <actions preview-url="activedData.detailsUrl" back-url="'/portal/module/list'"></actions>
        <div class="row">
            <section class="col-8">
                <div class="row">
                    <div class="col-lg-12">
                        <module-main module="activedData">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <h6 class="card-header">
                                Module Attributes (<label asp-for="Columns" class="control-label"></label>)
                                <a ng-click="addAttr()" class="btn btn-primary btn-sm float-right text-white">Add New</a>
                            </h6>
                            <div class="card-body p-1">
                                <input type="hidden" asp-for="Id">
                                <input type="hidden" asp-for="Specificulture">
                                <input type="hidden" asp-for="Priority">
                                <table class="table table-sm table-hover" id="Table">
                                    <thead class="thead-light">
                                        <tr>
                                            <!--<th scope="col" width="5%">
                                                <span class="fas fa-sort"></span>
                                            </th>-->
                                            <!--<th scope="col" width="5%">
                                                <span class="fas fa-sort-numeric-down"></span>
                                            </th>-->
                                            <th scope="col">Title / Name</th>
                                            <!--<th scope="col">Name</th>-->
                                            <th scope="col" width="20%">Data Type</th>
                                            <!--<th scope="col" width="5%">Width</th>-->
                                            <th scope="col" width="5%">Unique</th>
                                            <th scope="col" width="5%">Required</th>
                                            <!--<th scope="col" width="5%">GroupBy</th>-->
                                            <th scope="col" width="5%">Select</th>
                                            <th scope="col" width="5%">Display</th>
                                            <th scope="col" width="5%"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="sortable">
                                        <tr class="sortable-item module-column" ng-repeat="col in activedData.columns track by $index">
                                            <!--<td style="cursor:move;" class="drag-header">
                                                <span class="fas fa-sort"></span>
                                            </td>-->
                                            <!--<td>
                                                <input type="text" ng-model="col.priority" class="item-priority form-control form-control-sm d-inline" style="width:40px;" />
                                            </td>-->
                                            
                                            <td>
                                                <input ng-model="col.title" placeholder="Title" ng-change="generateName(col)" class="form-control form-control-sm"><br>
                                                Field Name: <span ng-bind="col.name"></span>
                                                <!--<input ng-model="col.name" placeholder="Field Name" class="form-control form-control-sm" />-->
                                            </td>
                                            <td>
                                                <select class="form-control form-control-sm" ng-model="col.dataType">
                                                    <option ng-repeat="item in dataTypes" ng-value="item.value">{{item.title}}</option>
                                                </select>
                                            </td>
                                            <!--<td>
                                                <input ng-model="col.width" class="form-control form-control-sm" />
                                            </td>-->
                                            <td>
                                                <span class="switch switch-sm">
                                                    <input id="isUnique_{{$index}}" type="checkbox" class="switch" ng-model="col.isUnique">
                                                    <label for="isUnique_{{$index}}">&nbsp;</label>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="switch switch-sm">
                                                    <input id="isRequired_{{$index}}" type="checkbox" class="checkbox" ng-model="col.isRequired">
                                                    <label for="isRequired_{{$index}}">&nbsp;</label>
                                                </span>
                                            </td>
                                            <!--<td>
                                                <span class="switch switch-sm">
                                                    <input id="isGroupBy_{{$index}}" type="checkbox" class="switch" ng-model="col.isGroupBy">
                                                    <label for="isGroupBy_{{$index}}">&nbsp;</label>
                                                </span>
                                            </td>-->
                                            <td>
                                                <span class="switch switch-sm">
                                                    <input id="isSelect_{{$index}}" type="checkbox" class="switch" ng-model="col.isSelect">
                                                    <label for="isSelect_{{$index}}">&nbsp;</label>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="switch switch-sm">
                                                    <input id="isDisplay_{{$index}}" type="checkbox" class="switch" ng-model="col.isDisplay">
                                                    <label for="isDisplay_{{$index}}">&nbsp;</label>
                                                </span>
                                            </td>
                                            <td>
                                                <a class="btn btn-light del-popover" ng-click="removeAttr($index);">
                                                    <span class="fas fa-times text-danger"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="sortable-item module-column" ng-repeat="col in activedData.columns track by $index" ng-if="col.isSelect">
                                            <td colspan="8">
                                                <div class="row">

                                                    <div class="col-12">
                                                        <h1 ng-bind="col.name"></h1>
                                                        <input type="text" id="option_{{$index}}" ng-enter="addOption(col,$index)" placeholder="fill then enter to add options" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row" ng-repeat="opt in col.options track by $index">
                                                    <div class="col-8">
                                                        <input type="text" class="form-control" ng-model="col.options[$index]">
                                                    </div>
                                                    <div class="col-4">
                                                        <a class="btn" ng-click="col.options.splice($index,1)">
                                                            <span class="fas fa-times text-danger"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <template-editor folder-type="'Modules'" template="activedData.view" templates="activedData.templates"></template-editor>
                    </div>
                </div>
            </section>
            <section class="col-4" style="padding-left:0">
                <cultures is-clone="activedData.isClone" data="activedData.cultures"></cultures>
                <div class="card">
                    <h6 class="card-header">
                        Info
                    </h6>
                    <div class="card-body">
                        <statuses status="activedData.status">
                        <div class="form-group">
                            <span class="switch">
                                <label>
                                    <input type="checkbox" ng-model="activedData.isClone" class="switch">
                                    Clone
                                </label>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Created Date Time</label>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="mi mi-Calendar"></i></span>
                                </div>
                                <input ng-model="activedData.createdDateTime" type="text" class="form-control" readonly="readonly">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Created By</label>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="mi mi-Contact"></i></span>
                                </div>
                                <input ng-model="activedData.createdBy" class="form-control" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>

                <custom-image header="'Image'" type="'Modules'" folder="activedData.seoName" src-url="activedData.image" src="activedData.image" auto="'true'"></custom-image>
                <custom-image header="'Thumnail'" type="'Modules'" folder="activedData.seoName" src-url="activedData.thumbnail" src="activedData.thumbnail" auto="'true'"></custom-image>
            </section>
        </div>
    </form>
</section>
<!-- /.content -->